@keyframes to-max-width {
  from {
    max-width: 0;
  }
  to {
    max-width: var(--animate-to-width);
  }
}

.ajax-loader.ajax-loader--loading {
  position: relative;
  overflow: hidden;
}

.ajax-loader.ajax-loader--loading::before {
  --animate-to-width: 100%;
  animation: to-max-width 8s infinite ease-out;
  content: "";
  @apply absolute;
  @apply inset-0;
  @apply bg-gradient-to-r;
  @apply from-transparent;
  @apply opacity-10;
}

.ajax-loader.ajax-loader--loading::before {
  @apply to-blue-600;
}

.ajax-loader.ajax-loader--loading.button-primary::before,
.ajax-loader.ajax-loader--loading[class*="bg-blue-"]::before {
  @apply to-white;
}
