.body-overlay {
  opacity: 0;
  transition: opacity ease-in-out 150ms;
}

/* body-overlay.visible has to be separated from body:has */
/* otherwise firefox does not take these values oO */
.body-overlay.visible {
  z-index: 10;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.33);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
