.feedback-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: --spacing(2);
  cursor: pointer;

  position: fixed;
  right: --spacing(4);
  bottom: --spacing(4);
  z-index: 20;
}

.feedback-popover {
  /* feedback button is on the bottom right of the screen. */
  /* browser handles popover positioning without overflowing with `position-area`. */
  /* which has to override default .popover positioning to anchor edges, */
  position-area: center;
  /* as we want a slightly different spacing to the screen edge */
  margin: --spacing(4);

  border: 1px solid var(--color-gray-300);
  background-color: var(--color-white);
  @apply rounded-md;
  @apply shadow-xl;

  .feedback-form {
    width: 100%;
    padding: --spacing(4);
    padding-bottom: --spacing(2);
    @apply w-96;
  }
}
