#menu-toggle-checkbox ~ label ~ div {
  @apply transition-all;
  @apply duration-200;
  opacity: 0;

  width: 100%;
  position: fixed;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 999999;

  @apply px-3;
}

#menu-toggle-checkbox:checked ~ label ~ div {
  opacity: 1;
  top: calc(var(--navigation-sticky-top) + var(--top-bar-height));
  padding-top: 1rem;
}

body:has(#menu-toggle-checkbox:checked) {
  /* prevent scrolling of hidden content */
  /* remember to reset this on large screen to avoid content jumping when scrollbar is (always) visible */
  overflow: hidden;
}

.navigation-content-spacer--left,
.navigation-content-spacer--right {
  position: absolute;
  top: 100%;
  @apply bg-gray-100;
  @apply lg:hidden;
}

.navigation-content-spacer--left {
  left: 0;
}

.navigation-content-spacer--right {
  right: 0;
}

.navigation-content-spacer--left::after,
.navigation-content-spacer--right::after {
  content: "";
  position: absolute;
  @apply inset-0;
  @apply bg-white;
  @apply lg:hidden;
}

.navigation-content-spacer--left::after {
  @apply rounded-tl-full;
  left: 0;
}

.navigation-content-spacer--right::after {
  @apply rounded-tr-full;
  right: 0;
}

#menu-toggle-checkbox + label > span:first-child {
  width: 30px;
  height: 18px;
  position: relative;
}

#menu-toggle-checkbox + label > span > span {
  padding: 0;
  width: 30px;
  height: 4px;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
  @apply bg-gray-800;
}

#menu-toggle-checkbox + label > span > span:nth-child(1) {
  top: 0;
  transition:
    all 0.4s ease-in-out,
    transform 0.4s ease-in-out 0.4s;
}

#menu-toggle-checkbox + label > span > span:nth-child(2) {
  top: 6.5px;
  width: 1px;
  transform: rotate(90deg);
  left: 6.5px;
}

#menu-toggle-checkbox + label > span > span:nth-child(3) {
  top: 6.5px;
  right: 0;
  width: 1px;
  left: 6.5px;
}

#menu-toggle-checkbox + label > span > span:nth-child(4) {
  bottom: 0;
  top: 6.5px;
}

#menu-toggle-checkbox + label > span > span:nth-child(5) {
  bottom: 0;
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(1) {
  top: 6.5px;
  background-color: transparent;
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(2) {
  left: 0;
  width: 30px;
  transform: rotate(45deg);
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(3) {
  left: 0;
  width: 30px;
  transform: rotate(-45deg);
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(4) {
  background-color: transparent !important;
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(5) {
  bottom: 6.5px;
  background-color: transparent !important;
}

@screen lg {
  #menu-toggle-checkbox ~ label ~ div,
  #menu-toggle-checkbox:checked ~ label ~ div {
    position: static;
    opacity: 1;
    padding: 0;
  }

  body:has(#menu-toggle-checkbox:checked) {
    overflow: revert;
  }
}

.main-nav-link {
  @apply text-2xl;
  @apply lg:text-lg;
  @apply lg:pl-1;
  @apply font-medium;
  @apply text-gray-800;
  @apply transition-colors;
}
.main-nav-link svg {
  @apply w-8;
  @apply h-8;
  @apply lg:w-5;
  @apply lg:h-5;
  @apply lg:stroke-gray-800;
  @apply mr-3.5;
}
.main-nav-link:hover svg {
  @apply fill-amber-500;
  @apply fill-amber-500;
}
.main-nav-link.current svg,
.main-nav-link[aria-current="page"] svg {
  @apply fill-amber-500;
  @apply fill-amber-500;
}

.nav-popup-menu {
  position: fixed;
  z-index: 1;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  @apply transition-all;
  @apply duration-150;

  @apply rounded-t-2xl;
  @apply bg-white;
}

.nav-popup-menu.visible {
  top: calc(var(--top-bar-height) + 1.5rem);
}

.nav-popup-menu-inner {
  @apply flex flex-col;
  @apply max-h-screen;
}

.nav-popup-menu-inner__header {
  @apply rounded-t-2xl;
  @apply bg-gradient-to-br;
  @apply from-blue-50;
  @apply via-gray-100;
  @apply to-blue-100;
  @apply px-4;
  @apply py-2;
}

.nav-popup-menu-inner__content {
  @apply p-2;
  overflow-y: auto;
}

@screen lg {
  .nav-popup-menu {
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    right: 0;
    @apply scale-0;
  }

  .nav-popup-menu.visible {
    @apply scale-100;
    top: calc(100% + 0.5rem);
  }

  .nav-popup-menu-inner {
    @apply bg-white;
    @apply border;
    @apply border-gray-50;
    @apply rounded-lg;
    @apply shadow-lg;
  }

  .nav-popup-menu-inner ul li[role="separator"] {
    @apply border-t;
    @apply border-gray-200;
  }

  .nav-popup-menu-inner__header {
    @apply rounded-t-none;
    @apply bg-gray-100;
  }

  .nav-popup-menu-inner__content {
    overflow-y: hidden;
  }
}

.nav-popup-menu_link {
  @apply w-full;
  @apply flex;
  @apply items-center;
  @apply p-2;
  @apply pr-10;
  @apply no-underline;
  @apply hover:no-underline;
  @apply focus:no-underline;
  @apply text-base;
  @apply text-gray-800;
  @apply bg-transparent;
  @apply hover:text-black;
  @apply focus:text-black;
  @apply hover:bg-gray-100;
  @apply focus:bg-gray-100;
}
