.navigation-container {
  --navigation-bg-color: var(--color-white);

  @variant dark {
    --navigation-bg-color: var(--color-zinc-950);
  }

  grid-area: navigation;
  anchor-name: --navigation-container-anchor;

  .navigation-button {
    padding: --spacing(4);
  }

  .navigation {
    background-color: var(--navigation-bg-color);
    width: 100dvw;

    /* prevent body scrolling with overscroll behaviour and full height */
    overscroll-behavior: none;
    height: calc(100dvh - anchor-size(height) - var(--info-banner-height));

    .navigation-inner {
      padding: --spacing(8);
      padding-bottom: --spacing(4);
      min-height: 100%;

      display: flex;
      flex-direction: column;
      gap: --spacing(8);

      .navigation-inner__bottom {
        margin-top: auto;
        background-color: var(--navigation-bg-color);
        padding: --spacing(2) 0;
        border-top: 1px solid transparent;
        transition: border-color 150ms;

        &.z-sticky--stuck {
          border-top-color: var(--color-gray-100);

          @variant dark {
            border-top-color: var(--color-zinc-800);
          }
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: calc(--spacing(1) / 2);
    }

    .navigation-link {
      --navigation-link-color: inherit;
      --navigation-link-bg-color: inherit;
      --navigation-link-hover-color: inherit;
      --navigation-link-hover-bg-color: var(--color-blue-50);

      @variant dark {
        --navigation-link-color: var(--color-zinc-200);
        --navigation-link-bg-color: inerit;
        --navigation-link-hover-color: var(--color-zinc-100);
        --navigation-link-hover-bg-color: var(--color-zinc-800);
      }

      display: block;
      text-decoration: none;
      padding: --spacing(2);
      border-radius: var(--radius);
      color: var(--navigation-link-color);
      background-color: var(--navigation-link-bg-color);

      --duration: 150ms;
      transition:
        color var(--duration),
        background-color var(--duration);

      &:hover {
        color: var(--navigation-link-hover-color);
        background-color: var(--navigation-link-hover-bg-color);
      }
    }

    .navigation-link--active {
      --navigation-link-bg-color: var(--color-blue-50);
      --navigation-link-hover-bg-color: var(--color-blue-100);

      @variant dark {
        --navigation-link-color: var(--color-zinc-300);
        --navigation-link-bg-color: var(--color-zinc-800);
        --navigation-link-hover-color: var(--color-zinc-50);
        --navigation-link-hover-bg-color: var(--color-zinc-700);
      }
    }

    .navigation-link--loading {
      --from: var(--color-blue-50);
      --via: var(--color-blue-100);
      --to: var(--color-blue-50);

      background: linear-gradient(
        90deg,
        var(--from) 33%,
        var(--via) 50%,
        var(--to) 66%
      );
      background-size: 300% 100%;
      animation: linear-loading 1.2s infinite linear;

      @variant dark {
        --from: var(--color-zinc-800);
        --via: var(--color-zinc-700);
        --to: var(--color-zinc-800);
      }
    }
  }
}

.nav-popover-menu-container {
  border-radius: var(--radius-2xl);

  .navigation-popover-menu-header {
    padding: --spacing(2) --spacing(4);
    @apply bg-linear-to-br;
    @apply from-blue-50;
    @apply via-gray-100;
    @apply to-blue-100;

    @variant dark {
      @apply from-sky-800;
      @apply via-slate-800;
      @apply to-sky-900;
    }
  }

  .navigation-popover-menu-content {
    padding: --spacing(2);

    ul.navigation-popover-menu {
      display: flex;
      flex-direction: column;
      gap: --spacing(1);

      .navigation-popover-menu__link {
        --duration: 150ms;

        display: flex;
        width: 100%;
        justify-items: center;
        gap: --spacing(4);

        color: var(--color-gray-700);
        transition:
          color var(--duration) ease-in-out,
          background-color var(--duration) ease-in-out;
        text-decoration: none;
        padding: --spacing(3);
        padding-left: --spacing(6);
        padding-right: --spacing(10);

        &:hover,
        &:focus-visible {
          color: var(--color-black);
          background-color: var(--color-blue-50);
        }

        @variant dark {
          color: var(--color-zinc-200);

          &:hover,
          &:focus-visible {
            color: var(--color-zinc-200);
            background-color: var(--color-slate-800);
          }
        }
      }

      li:first-of-type .navigation-popover-menu__link {
        @apply rounded-t-2xl;
      }

      li:last-of-type .navigation-popover-menu__link {
        @apply rounded-b-2xl;
      }
    }
  }
}

[popovertarget="avatar-menu"] {
  anchor-name: --avatar;
}

.nav-avatar-popover,
.nav-launchpad-popover {
  margin: 0;
  /* override default .popover anchor positioning. */
  /* we want it to be on the right of the screen instead of relative to the anchor. */
  position-area: unset !important;
  inset: unset;
  top: calc(anchor(--avatar bottom) + --spacing(4));
  right: --spacing(2);
  bottom: --spacing(2);
  height: auto;
}

@keyframes linear-loading {
  0% {
    background-position: right;
  }
}

@keyframes rotate-loading {
  100% {
    transform: rotate(1turn);
  }
}

@variant xs {
  .nav-popover-menu-container {
    width: min-content;
    margin: unset;
    @apply shadow-2xl;
    border: 1px solid var(--color-gray-200);

    @variant dark {
      @apply shadow-zinc-950;
      border-color: var(--color-zinc-800);
    }
  }
}

@variant desktop {
  .navigation-container {
    display: flex;
    flex-direction: column;
    padding: 0;

    .navigation-button {
      display: none;
    }

    .navigation {
      flex: 1 0 0;
      width: 100%;
      overflow: auto;
      overscroll-behavior: none;

      /* override popover animation stuff */
      position: static;
      display: block;
      opacity: 1;
      transform: unset;

      .navigation-inner {
        padding: --spacing(4) --spacing(5);
        padding-bottom: --spacing(2);

        .navigation-link {
          padding: --spacing(1) --spacing(2);
        }
      }
    }
  }

  .nav-launchpad-popover {
    left: --spacing(2);
    right: auto;
  }
}
