#menu-toggle-checkbox ~ label ~ nav {
  /*position: fixed;*/
  /*top: 100%;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  @apply px-6;
  @apply py-8;
  @apply transition-all;
  @apply duration-150;
  @apply bg-white;
}

#menu-toggle-checkbox:checked ~ label ~ nav {
  top: calc(var(--navigation-header-height) + 1.5rem);
}

.navigation-content-spacer {
  @apply bg-transparent;
}

.navigation-content-spacer--left,
.navigation-content-spacer--right {
  position: relative;
  @apply dark:hidden;
}

.navigation-content-spacer--left::before,
.navigation-content-spacer--right::before,
.navigation-content-spacer--left::after,
.navigation-content-spacer--right::after {
  content: "";
  position: absolute;
  @apply inset-0;
}

.navigation-content-spacer--left::before,
.navigation-content-spacer--right::before {
  @apply bg-zinc-100;
  @apply dark:bg-zinc-800;
}

.navigation-content-spacer--left::after,
.navigation-content-spacer--right::after {
  @apply bg-white;
  @apply dark:bg-zinc-900;
}

.navigation-content-spacer--left::after {
  @apply rounded-tl-full;
}

.navigation-content-spacer--right::after {
  @apply rounded-tr-full;
}

#menu-toggle-checkbox + label > span:first-child {
  width: 30px;
  height: 18px;
  position: relative;
}

#menu-toggle-checkbox + label > span > span {
  padding: 0;
  width: 30px;
  height: 4px;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
  @apply bg-gray-800;
}

#menu-toggle-checkbox + label > span > span:nth-child(1) {
  top: 0;
  transition:
    all 0.4s ease-in-out,
    transform 0.4s ease-in-out 0.4s;
}

#menu-toggle-checkbox + label > span > span:nth-child(2) {
  top: 6.5px;
  width: 1px;
  transform: rotate(90deg);
  left: 6.5px;
}

#menu-toggle-checkbox + label > span > span:nth-child(3) {
  top: 6.5px;
  right: 0;
  width: 1px;
  left: 6.5px;
}

#menu-toggle-checkbox + label > span > span:nth-child(4) {
  bottom: 0;
  top: 6.5px;
}

#menu-toggle-checkbox + label > span > span:nth-child(5) {
  bottom: 0;
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(1) {
  top: 6.5px;
  background-color: transparent;
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(2) {
  left: 0;
  width: 30px;
  transform: rotate(45deg);
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(3) {
  left: 0;
  width: 30px;
  transform: rotate(-45deg);
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(4) {
  background-color: transparent !important;
}

#menu-toggle-checkbox:checked + label > span > span:nth-child(5) {
  bottom: 6.5px;
  background-color: transparent !important;
}

@screen xs {
  #menu-toggle-checkbox ~ label ~ nav {
    overflow: hidden;
    max-height: 0;
    top: -100%;
    @apply bg-zinc-100;
    /*z-index: 10;*/
  }

  #menu-toggle-checkbox:checked ~ label ~ nav,
  #menu-toggle-checkbox:checked ~ label ~ nav:focus-within {
    top: var(--navigation-header-height);
    max-height: 100vh !important;
  }
}

@screen lg {
  #menu-toggle-checkbox ~ label ~ nav {
    max-height: unset;
    @apply static;
    @apply scale-x-100;
    @apply scale-y-100;
    @apply opacity-100;
    @apply py-0;
    @apply px-0;
  }
}

.main-nav-link {
  @apply text-2xl;
  @apply lg:text-lg;
  @apply font-medium;
  @apply text-gray-800;
  @apply transition-colors;
}
.main-nav-link svg {
  @apply w-8;
  @apply h-8;
  @apply lg:w-5;
  @apply lg:h-5;
  @apply lg:stroke-gray-800;
  @apply mr-3.5;
}
.main-nav-link:hover svg {
  @apply fill-amber-500;
  @apply fill-amber-500;
}
.main-nav-link.current svg,
.main-nav-link[aria-current="page"] svg {
  @apply fill-amber-500;
  @apply fill-amber-500;
}

.nav-popup-menu {
  position: fixed;
  z-index: 1;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  @apply transition-all;
  @apply duration-150;

  @apply rounded-t-2xl;
  @apply bg-white;
}

.nav-popup-menu.visible {
  top: calc(var(--navigation-header-height) + 1.5rem);
}

.nav-popup-menu-inner {
  @apply flex flex-col;
  @apply max-h-screen;
}

.nav-popup-menu-inner__header {
  @apply rounded-t-2xl;
  @apply bg-gradient-to-br;
  @apply from-blue-50;
  @apply via-gray-100;
  @apply to-blue-100;
  @apply px-4;
  @apply py-2;
}

.nav-popup-menu-inner__content {
  @apply p-2;
  overflow-y: auto;
}

body:has(.nav-popup-menu.visible) {
  /* disable body scroll as long as nav-popup-menu is open */
  overflow: hidden;
}

.nav-popup-menu.visible .nav-popup-menu-inner {
  width: 100%;
  height: 100%;
}

@screen xs {
  .nav-popup-menu::before {
    content: "";
    border-color: transparent;
    border-width: 8px;
    @apply border-b-gray-200;
    position: absolute;
    top: -17px;
    @apply right-6;
  }

  .nav-popup-menu {
    @apply transition-transform;
    @apply origin-top-right;
    @apply scale-0;
    @apply border;
    @apply border-gray-200;
    @apply shadow-xl;
    @apply mt-3;
    @apply z-50;
    @apply absolute;
    @apply left-auto;
    @apply right-0;
    @apply bottom-auto;
    @apply rounded-2xl;
    @apply dark:border-zinc-800;
    @apply dark:shadow-none;
  }

  .nav-popup-menu.visible {
    @apply top-full;
    @apply z-10;
  }

  .nav-popup-menu-inner {
    max-height: 75vh;
    @apply w-auto;
    @apply h-auto;
    @apply rounded-2xl;
    @apply border-gray-200;
    @apply bg-white;
    @apply backdrop-blur;
    @apply supports-backdrop-blur:bg-white/[0.85];
  }

  .nav-popup-menu-inner ul li:first-of-type .nav-popup-menu_link {
    @apply rounded-t-2xl;
  }

  .nav-popup-menu-inner ul li:last-of-type .nav-popup-menu_link {
    @apply rounded-b-2xl;
  }

  .nav-popup-menu-inner ul li[role="separator"] {
    @apply border-t;
    @apply border-gray-200;
  }

  .nav-popup-menu.visible,
  .nav-popup-menu:focus-within {
    @apply scale-100;
  }

  .nav-popup-menu-button_icon {
    @apply text-zinc-900;
    @apply text-opacity-75;
    @apply transition-colors;
  }

  .nav-popup-menu-button:is(:hover, :focus) .nav-popup-menu-button_icon {
    @apply text-opacity-100;
    @apply text-zinc-800;
  }
}

.nav-popup-menu_link {
  @apply w-full;
  @apply flex;
  @apply items-center;
  @apply p-2;
  @apply pr-10;
  @apply no-underline;
  @apply hover:no-underline;
  @apply focus:no-underline;
  @apply text-base;
  @apply text-gray-700;
  @apply bg-transparent;
  @apply hover:text-black;
  @apply focus:text-black;
  @apply hover:bg-gray-50;
  @apply focus:bg-gray-50;
}
