body:has(.time-clock-dropdown[open]) .navigation-content-spacer--left::after,
body:has(.time-clock-dropdown[open]) .navigation-content-spacer--right::after {
  /* can't handle content-space positioning with z-index. */
  /* therefore set color. note that this depends on the user's monitor, of course. */
  /* the used value seems to be a good compromise. */
  background-color: rgba(0, 0, 0, 0.31);
}

.time-clock-dropdown_summary {
  @apply cursor-pointer;
  @apply text-sm;
  @apply w-full;
  @apply px-0; /* gap by container */
  @apply py-0; /* centered by container */
  @apply rounded-md;
  @apply flex;
  @apply items-center;
}

.time-clock-dropdown_content {
  z-index: 1;
  left: 0.5rem;
  right: 0.5rem;
  width: calc(100vw - 1rem); /* 1rem = left + right */
  @apply bg-white;
  @apply border;
  @apply px-4;
  @apply py-3;
  @apply rounded;
  @apply translate-y-4;
  @apply shadow-2xl;
}

@screen xs {
  .time-clock-dropdown_content {
    position: fixed;
  }
}

@screen sm {
  .time-clock-dropdown {
    position: relative;
  }

  .time-clock-dropdown_content {
    position: absolute;
    left: auto;
    right: 0;
    width: auto;
  }
}
