.time-clock-dropdown_summary {
  @apply cursor-pointer;
  @apply select-none;
  @apply text-sm;
  @apply w-full;
  @apply px-0; /* gap by container */
  @apply py-0; /* centered by container */
  @apply rounded-md;
  @apply flex;
  @apply items-center;
}

.time-clock-dropdown_content {
  @apply transition-all;
  @apply duration-200;
  opacity: 0;
  width: 100%;
  position: fixed;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  @apply bg-white;
  @apply py-4;
  @apply px-3;
}

.time-clock-dropdown[open] .time-clock-dropdown_content {
  opacity: 1;
  top: calc(var(--navigation-sticky-top) + var(--top-bar-height));
}

body:has(.time-clock-dropdown[open]) {
  /* prevent scrolling of hidden content */
  /* remember to reset this on large screen to avoid content jumping when scrollbar is (always) visible */
  overflow: hidden;
}

@screen lg {
  body:has(.time-clock-dropdown[open]) {
    overflow: revert;
  }

  .time-clock-dropdown {
    position: relative;
  }

  .time-clock-dropdown_content {
    position: absolute;
    bottom: auto;
    left: auto;
    right: 0;
    width: auto;
    @apply border;
    @apply px-4;
    @apply py-3;
    @apply rounded;
    @apply shadow-lg;
  }
}
