.time-entry-user-search {
  label {
    anchor-name: --time-entry-user-search-anchor;
  }

  [popover] {
    height: fit-content;
    max-height: 50vh;
    overscroll-behavior: none;

    position-anchor: --time-entry-user-search-anchor;
    position: fixed;
    left: 0.5rem;
    right: 0.5rem;
    width: calc(100vw - 1rem);
    top: calc(anchor(top) - 0.5rem);

    background-color: white;
    padding: 0.5rem;
    @apply border border-gray-200;
    @apply rounded;

    opacity: 1;
    transform: translateY(-100%);
    transition:
      opacity 300ms,
      transform 300ms;

    &:popover-open {
      @starting-style {
        opacity: 0;
        transform: translateY(0);
      }
    }

    @variant xs {
      left: anchor(left);
      right: auto;
      width: anchor-size();
    }
  }

  .time-entry-user-search__list {
    display: flex;
    flex-direction: column;

    li > a {
      padding: 0.5rem 0.75rem;
      transition: colors 150ms;
      background-color: transparent;
      @apply rounded;
      &:hover {
        background-color: var(--color-gray-100);
      }
    }
  }
}
