.top-search-form {
  position: relative;
  display: flex;
  align-items: stretch;
  border: 1px solid var(--color-gray-300);
  @apply rounded-full;
  overflow: hidden;

  &:has(input:focus-visible) {
    outline: 2px solid -webkit-focus-ring-color;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: --spacing(2);
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    width: 1.25rem;
    mask-image: url("data:image/svg+xml;base64,ICAgIDxzdmcKICAgICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICAgICB3aWR0aD0iMjQiCiAgICAgIGhlaWdodD0iMjQiCiAgICAgIHZpZXdCb3g9IjAgMCAyNCAyNCIKICAgICAgZmlsbD0ibm9uZSIKICAgICAgc3Ryb2tlPSJjdXJyZW50Q29sb3IiCiAgICAgIHN0cm9rZS13aWR0aD0iMiIKICAgICAgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIgogICAgICBzdHJva2UtbGluZWpvaW49InJvdW5kIgogICAgPgogICAgICA8Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4Ij48L2NpcmNsZT4KICAgICAgPGxpbmUgeDE9IjIxIiB5MT0iMjEiIHgyPSIxNi42NSIgeTI9IjE2LjY1Ij48L2xpbmU+CiAgICA8L3N2Zz4=");
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--color-gray-400);
  }

  label {
    @apply sr-only;
  }

  /* enforce html structure with label + and type search*/
  label + input[type="search"] {
    background-color: var(--color-white);
    font-size: 0.875rem;
    padding: --spacing(2) --spacing(3) --spacing(2) --spacing(10);
    border: none;
    outline: none;
    @apply rounded-l-full;
    @apply inset-shadow-sm;

    &::placeholder {
      color: var(--color-gray-400);
    }
  }

  /* enforce html structure with + and types */
  input[type="search"] + button[type="submit"] {
    padding: 0 --spacing(3);
    font-size: 0.875rem;
    color: var(--color-gray-500);
    background-color: var(--color-gray-50);
    border: none;
    border-left: 1px solid var(--color-gray-200);
    @apply rounded-r-full;
    @apply inset-shadow-sm;
  }
}
