@tailwind base;

:root {
  /* info-banner is optional and value is overridden by javascript with real height on runtime. as we don't know the content yet... */
  --info-banner-height: 0;
  --top-bar-height: 3.25rem;

  --info-banner-sticky-top: 0;
  --navigation-sticky-top: var(--info-banner-height);

  /* 500 */
  --absence-color-GRAY: #6b7280;
  --absence-color-ORANGE: #f97316;
  --absence-color-YELLOW: #eab308;
  --absence-color-EMERALD: #10b981;
  --absence-color-CYAN: #06b6d4;
  --absence-color-BLUE: #3b82f6;
  --absence-color-VIOLET: #8b5cf6;
  --absence-color-PINK: #ec4899;
  --absence-color-RED: #991b1b; /* sick-note, red-800 */
}

html {
  height: --webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: --webkit-fill-available;
  background-image: linear-gradient(#ffffff, #fafafa);
  background-attachment: fixed;

  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "banner banner"
    "navigation topbar"
    "content content";
}

@screen lg {
  body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "banner banner"
      "navigation topbar"
      "navigation content";
  }
}

input:not([class*="rounded"]),
textarea:not([class*="rounded"]) {
  @apply rounded;
}

@font-face {
  font-family: "KaushanScript";
  src:
    local("KaushanScript"),
    local("KaushanScript Regular"),
    local("KaushanScript-Regular"),
    url("/fonts/kaushanscript/KaushanScript-Regular.woff2") format("woff2"),
    url("/fonts/kaushanscript/KaushanScript-Regular.woff") format("woff");
  font-display: swap;
}
