@tailwind components;

@layer components {
  @keyframes to-max-width {
    from {
      max-width: 0;
    }
    to {
      max-width: var(--animate-to-width);
    }
  }

  .ajax-loader.ajax-loader--loading {
    position: relative;
    overflow: hidden;
  }

  .ajax-loader.ajax-loader--loading::before {
    --animate-to-width: 100%;
    animation: to-max-width 8s infinite ease-out;
    content: "";
    @apply absolute;
    @apply inset-0;
    @apply bg-gradient-to-r;
    @apply from-transparent;
    @apply to-blue-600;
    @apply opacity-10;
  }

  #menu-toggle-checkbox ~ label ~ nav {
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    @apply px-6;
    @apply py-8;
    @apply transition-all;
    @apply duration-150;
    @apply bg-white;
  }

  #menu-toggle-checkbox:checked ~ label ~ nav {
    top: calc(var(--navigation-header-height) + 1.5rem);
  }

  .navigation-content-spacer {
    @apply bg-transparent;
  }

  .navigation-content-spacer--left,
  .navigation-content-spacer--right {
    position: relative;
    @apply dark:hidden;
  }

  .navigation-content-spacer--left::before,
  .navigation-content-spacer--right::before,
  .navigation-content-spacer--left::after,
  .navigation-content-spacer--right::after {
    content: "";
    position: absolute;
    @apply inset-0;
  }

  .navigation-content-spacer--left::before,
  .navigation-content-spacer--right::before {
    @apply bg-zinc-100;
    @apply dark:bg-zinc-800;
  }

  .navigation-content-spacer--left::after,
  .navigation-content-spacer--right::after {
    @apply bg-white;
    @apply dark:bg-zinc-900;
  }

  .navigation-content-spacer--left::after {
    @apply rounded-tl-full;
  }

  .navigation-content-spacer--right::after {
    @apply rounded-tr-full;
  }

  #menu-toggle-checkbox + label > span:first-child {
    width: 30px;
    height: 18px;
    position: relative;
  }

  #menu-toggle-checkbox + label > span > span {
    padding: 0;
    width: 30px;
    height: 4px;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
    @apply bg-gray-800;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(1) {
    top: 0;
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(2) {
    top: 6.5px;
    width: 1px;
    transform: rotate(90deg);
    left: 6.5px;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(3) {
    top: 6.5px;
    right: 0;
    width: 1px;
    left: 6.5px;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(4) {
    bottom: 0;
    top: 6.5px;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(5) {
    bottom: 0;
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(1) {
    top: 6.5px;
    background-color: transparent;
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(2) {
    left: 0;
    width: 30px;
    transform: rotate(45deg);
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(3) {
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(4) {
    background-color: transparent !important;
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(5) {
    bottom: 6.5px;
    background-color: transparent !important;
  }

  @screen xs {
    #menu-toggle-checkbox ~ label ~ nav {
      overflow: hidden;
      max-height: 0;
      top: -100%;
      @apply bg-zinc-100;
      z-index: 10;
    }

    #menu-toggle-checkbox:checked ~ label ~ nav,
    #menu-toggle-checkbox:checked ~ label ~ nav:focus-within {
      top: var(--navigation-header-height);
      max-height: 100vh !important;
    }
  }

  @screen lg {
    #menu-toggle-checkbox ~ label ~ nav {
      max-height: unset;
      @apply static;
      @apply scale-x-100;
      @apply scale-y-100;
      @apply opacity-100;
      @apply py-0;
      @apply px-0;
    }
  }
}

@layer components {
  .main-nav-link {
    @apply text-2xl;
    @apply lg:text-lg;
    @apply font-medium;
    @apply text-gray-800;
    @apply transition-colors;
  }
  .main-nav-link svg {
    @apply w-8;
    @apply h-8;
    @apply lg:w-5;
    @apply lg:h-5;
    @apply lg:stroke-gray-800;
    @apply mr-4;
    @apply lg:mr-1.5;
  }
  .main-nav-link:hover svg {
    @apply fill-amber-500;
    @apply fill-amber-500;
  }
  .main-nav-link.current svg,
  .main-nav-link[aria-current="page"] svg {
    @apply fill-amber-500;
    @apply fill-amber-500;
  }

  .nav-popup-menu {
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    @apply transition-all;
    @apply duration-150;

    @apply rounded-t-2xl;
    @apply bg-white;
  }

  .nav-popup-menu.visible {
    top: calc(var(--navigation-header-height) + 1.5rem);
  }

  .nav-popup-menu-inner {
    @apply flex flex-col;
    @apply max-h-screen;
  }

  .nav-popup-menu-inner__header {
    @apply rounded-t-2xl;
    @apply bg-gradient-to-br;
    @apply from-blue-50;
    @apply via-gray-100;
    @apply to-blue-100;
    @apply px-4;
    @apply py-2;
  }

  .nav-popup-menu-inner__content {
    @apply p-2;
    overflow-y: auto;
  }

  body:has(.nav-popup-menu.visible) {
    /* disable body scroll as long as nav-popup-menu is open */
    overflow: hidden;
  }

  .nav-popup-menu.visible .nav-popup-menu-inner {
    width: 100%;
    height: 100%;
  }

  @screen xs {
    .nav-popup-menu::before {
      content: "";
      border-color: transparent;
      border-width: 8px;
      @apply border-b-gray-200;
      position: absolute;
      top: -17px;
      @apply right-6;
    }

    .nav-popup-menu {
      @apply transition-transform;
      @apply origin-top-right;
      @apply scale-0;
      @apply border;
      @apply border-gray-200;
      @apply shadow-xl;
      @apply mt-3;
      @apply z-50;
      @apply absolute;
      @apply left-auto;
      @apply right-0;
      @apply bottom-auto;
      @apply rounded-2xl;
      @apply dark:border-zinc-800;
      @apply dark:shadow-none;
    }

    .nav-popup-menu.visible {
      @apply top-full;
      @apply z-10;
    }

    .nav-popup-menu-inner {
      max-height: 75vh;
      @apply w-auto;
      @apply h-auto;
      @apply rounded-2xl;
      @apply border-gray-200;
      @apply bg-white;
      @apply backdrop-blur;
      @apply supports-backdrop-blur:bg-white/[0.85];
    }

    .nav-popup-menu-inner ul li:first-of-type .nav-popup-menu_link {
      @apply rounded-t-2xl;
    }

    .nav-popup-menu-inner ul li:last-of-type .nav-popup-menu_link {
      @apply rounded-b-2xl;
    }

    .nav-popup-menu-inner ul li[role="separator"] {
      @apply border-t;
      @apply border-gray-200;
    }

    .nav-popup-menu.visible,
    .nav-popup-menu:focus-within {
      @apply scale-100;
    }

    .nav-popup-menu-button_icon {
      @apply text-zinc-900;
      @apply text-opacity-75;
      @apply transition-colors;
    }

    .nav-popup-menu-button:is(:hover, :focus) .nav-popup-menu-button_icon {
      @apply text-opacity-100;
      @apply text-zinc-800;
    }
  }

  .nav-popup-menu_link {
    @apply w-full;
    @apply flex;
    @apply items-center;
    @apply p-2;
    @apply pr-10;
    @apply no-underline;
    @apply hover:no-underline;
    @apply focus:no-underline;
    @apply text-base;
    @apply text-gray-700;
    @apply bg-transparent;
    @apply hover:text-black;
    @apply focus:text-black;
    @apply hover:bg-gray-50;
    @apply focus:bg-gray-50;
  }

  .sloth-background {
    background-image: url("/images/sloths_1280.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    min-height: 350px;
    max-height: 600px;
    margin-top: auto;
  }

  duet-date-picker.edited ~ label > span {
    color: theme("colors.blue.600");
  }

  .feedback-form {
    max-height: 0;
    --transition-duration: 300ms;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity var(--transition-duration) ease-in-out,
      transform var(--transition-duration) ease-in-out;
  }

  .feedback-form.feedback-form--visible {
    max-height: revert;
    opacity: 1;
    transform: translateY(0);
  }

  .body-overlay {
    opacity: 0;
    transition: opacity ease-in-out 150ms;
  }

  /* body-overlay.visible has to be separated from body:has */
  /* otherwise firefox does not take these values oO */
  .body-overlay.visible {
    z-index: 10;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  body:has(.time-clock-dropdown[open]) #body-overlay {
    z-index: 10;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  body:has(.time-clock-dropdown[open]) .navigation-content-spacer--left::after,
  body:has(.time-clock-dropdown[open])
    .navigation-content-spacer--right::after {
    /* can't handle content-space positioning with z-index. */
    /* therefore set color. note that this depends on the user's monitor, of course. */
    /* the used value seems to be a good compromise. */
    background-color: rgba(0, 0, 0, 0.31);
  }
}

@layer components {
  .time-clock-dropdown_content {
    z-index: 1;
    left: 0.5rem;
    right: 0.5rem;
    width: calc(100vw - 1rem); /* 1rem = left + right */
    @apply bg-white;
    @apply border;
    @apply px-4;
    @apply py-3;
    @apply rounded;
    @apply translate-y-4;
    @apply shadow-2xl;
  }

  @screen xs {
    .time-clock-dropdown_summary {
      @apply cursor-pointer;
      @apply text-sm;
      @apply w-full;
      @apply px-0; /* gap by container */
      @apply py-0; /* centered by container */
      @apply rounded-md;
      @apply flex;
      @apply items-center;
    }

    .time-clock-dropdown_content {
      position: fixed;
    }
  }

  @screen sm {
    .time-clock-dropdown {
      position: relative;
    }

    .time-clock-dropdown_content {
      position: absolute;
      left: auto;
      right: 0;
      width: auto;
    }
  }
}

@layer components {
  .checkbox-switch {
    display: inline-block;
  }

  .checkbox-switch input[type="checkbox"] {
    cursor: pointer;
    margin: 0;
    margin-top: 0.25em;
    width: 2.5rem;
    height: 1.25rem;
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 9999px;
    transition: background-position 0.15s ease-in-out,
      background-color 0.15s ease-in-out;
    @apply bg-zinc-200 !important;
  }

  .checkbox-switch input:checked[type="checkbox"] {
    @apply bg-blue-500 !important;
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }
}
