@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --navigation-header-height: 3rem;
  }

  body {
    min-height: 100vh;
    background-image: linear-gradient(#ffffff, #fafafa);
    background-attachment: fixed;
  }

  input:not([class*="rounded"]),
  textarea:not([class*="rounded"]) {
    @apply rounded;
  }

  @font-face {
    font-family: "KaushanScript";
    src: local("KaushanScript"), local("KaushanScript Regular"),
      local("KaushanScript-Regular"),
      url("/fonts/kaushanscript/KaushanScript-Regular.woff2") format("woff2"),
      url("/fonts/kaushanscript/KaushanScript-Regular.woff") format("woff");
    font-display: swap;
  }
}

@layer utilities {
  input.invalid {
    @apply border;
    @apply border-red-400;
    @apply text-red-600;
  }

  label.invalid,
  p.invalid {
    @apply text-red-600;
  }
}

@layer components {
  @keyframes to-max-width {
    from {
      max-width: 0;
    }
    to {
      max-width: var(--animate-to-width);
    }
  }

  .ajax-loader.ajax-loader--loading {
    position: relative;
    overflow: hidden;
  }

  .ajax-loader.ajax-loader--loading::before {
    --animate-to-width: 100%;
    animation: to-max-width 8s infinite ease-out;
    content: "";
    @apply absolute;
    @apply inset-0;
    @apply bg-gradient-to-r;
    @apply from-transparent;
    @apply to-blue-600;
    @apply opacity-10;
  }

  .time-entry-slot-form .ajax-loader.ajax-loader--loading {
    @apply rounded-b-3xl;
    @apply md:rounded-b-none;
    @apply md:rounded-r-3xl;
  }

  #menu-toggle-checkbox ~ label ~ nav {
    @apply transition-all;
    @apply duration-500;
    @apply origin-top-left;
    @apply scale-x-0;
    @apply scale-y-0;
    @apply opacity-0;
    @apply z-40;
    @apply fixed;
    @apply inset-0;
    @apply bg-zinc-100;
    @apply py-32;
    @apply px-8;
  }

  #menu-toggle-checkbox:checked ~ label ~ nav {
    @apply scale-x-100;
    @apply scale-y-100;
    @apply opacity-100;
  }

  #menu-toggle-checkbox ~ label ~ nav > ul {
    overflow: hidden;
    transition: max-height 150ms ease-in-out;
    max-height: 0;
  }
  #menu-toggle-checkbox:checked ~ label ~ nav > ul {
    max-height: 90vh;
  }

  .navigation-content-spacer {
    @apply bg-transparent;
  }

  .navigation-content-spacer--left,
  .navigation-content-spacer--right {
    position: relative;
    @apply dark:hidden;
  }

  .navigation-content-spacer--left::before,
  .navigation-content-spacer--right::before,
  .navigation-content-spacer--left::after,
  .navigation-content-spacer--right::after {
    content: "";
    position: absolute;
    @apply inset-0;
  }

  .navigation-content-spacer--left::before,
  .navigation-content-spacer--right::before {
    @apply bg-zinc-100;
    @apply dark:bg-zinc-800;
  }

  .navigation-content-spacer--left::after,
  .navigation-content-spacer--right::after {
    @apply bg-white;
    @apply dark:bg-zinc-900;
  }

  .navigation-content-spacer--left::after {
    @apply rounded-tl-full;
  }

  .navigation-content-spacer--right::after {
    @apply rounded-tr-full;
  }

  @screen lg {
    #menu-toggle-checkbox ~ label ~ nav {
      @apply static;
      @apply scale-x-100;
      @apply scale-y-100;
      @apply opacity-100;
      @apply py-0;
      @apply px-0;
    }
    #menu-toggle-checkbox ~ label ~ nav > ul {
      max-height: unset;
    }
  }

  #menu-toggle-checkbox + label > span:first-child {
    width: 30px;
    height: 18px;
    position: relative;
  }

  #menu-toggle-checkbox + label > span > span {
    padding: 0;
    width: 30px;
    height: 4px;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
    @apply bg-gray-800;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(1) {
    top: 0;
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(2) {
    top: 6.5px;
    width: 1px;
    transform: rotate(90deg);
    left: 6.5px;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(3) {
    top: 6.5px;
    right: 0;
    width: 1px;
    left: 6.5px;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(4) {
    bottom: 0;
    top: 6.5px;
  }

  #menu-toggle-checkbox + label > span > span:nth-child(5) {
    bottom: 0;
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(1) {
    top: 6.5px;
    background-color: transparent;
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(2) {
    left: 0;
    width: 30px;
    transform: rotate(45deg);
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(3) {
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(4) {
    background-color: transparent !important;
  }

  #menu-toggle-checkbox:checked + label > span > span:nth-child(5) {
    bottom: 6.5px;
    background-color: transparent !important;
  }
}

@layer components {
  .time-entry-cell {
    display: flex;
    flex-direction: column-reverse;
  }

  .time-entry-cell input {
    width: 100%;
    padding: 0.25rem 0.5rem;
    background-color: transparent;
    @apply border;
    @apply border-gray-200;
    @apply text-sm;
  }

  .time-entry-cell label {
    @apply text-sm;
    @apply cursor-pointer;
  }

  .time-entry-cell-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr) max-content;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 1.25rem;
  }

  .time-entry-cell__comment {
    grid-row-start: 1;
    grid-column: 1 / span 5;
  }

  .time-entry-cell__from {
    grid-row-start: 2;
    grid-column: 1 / span 2;
  }

  .time-entry-cell__to {
    grid-row-start: 2;
    grid-column: 3 / span 2;
  }

  .time-entry-cell__duration {
    grid-row-start: 2;
    grid-column: 5 / span 2;
  }

  .time-entry-cell__break {
    grid-row-start: 1;
    grid-column-start: 6;
  }

  @screen xs {
    .time-entry-cell-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr) max-content;
      gap: 0.5rem;
    }

    .time-entry-cell__comment {
      grid-row-start: 1;
      grid-column: 1 / span 7;
    }

    .time-entry-cell__from {
      grid-row-start: 2;
      grid-column: 1 / span 2;
    }

    .time-entry-cell__to {
      grid-row-start: 2;
      grid-column: 3 / span 2;
    }

    .time-entry-cell__duration {
      grid-row-start: 2;
      grid-column: 5 / span 2;
    }

    .time-entry-cell__break {
      grid-row-start: 2;
      grid-column-start: 7;
    }
  }

  @screen md {
    .time-entry-cell-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr) max-content;
      gap: 0.5rem;
    }

    .time-entry-cell__comment {
      grid-row-start: 1;
      grid-column: 1 / span 5;
    }

    .time-entry-cell__from {
      grid-row-start: 2;
      grid-column: 1 / span 2;
    }

    .time-entry-cell__to {
      grid-row-start: 2;
      grid-column: 3 / span 2;
    }

    .time-entry-cell__duration {
      grid-row-start: 2;
      grid-column: 5 / span 2;
    }

    .time-entry-cell__break {
      grid-row-start: 1;
      grid-column-start: 6;
    }
  }

  @screen lg {
    .time-entry-cell-container {
      grid-template-columns: 1fr max-content max-content 4rem max-content;
      padding-top: 0;
      padding-bottom: 0;
    }

    .time-entry-cell__comment {
      grid-row-start: 1;
      grid-column: 1 / span 1;
    }

    .time-entry-cell__from {
      grid-row-start: 1;
      grid-column: 2 / span 1;
    }

    .time-entry-cell__to {
      grid-row-start: 1;
      grid-column: 3 / span 1;
    }

    .time-entry-cell__duration {
      grid-row-start: 1;
      grid-column: 4 / span 1;
    }

    .time-entry-cell__break {
      grid-row-start: 1;
      grid-column: 5 / span 1;
    }
  }
}

@layer components {
  .main-nav-link {
    @apply text-2xl;
    @apply lg:text-lg;
    @apply font-medium;
    @apply text-gray-800;
    @apply transition-colors;
  }
  .main-nav-link svg {
    @apply w-8;
    @apply h-8;
    @apply lg:w-5;
    @apply lg:h-5;
    @apply lg:stroke-gray-800;
    @apply mr-4;
    @apply lg:mr-1.5;
  }
  .main-nav-link:hover svg {
    @apply fill-amber-500;
    @apply fill-amber-500;
  }
  .main-nav-link.current svg,
  .main-nav-link[aria-current="page"] svg {
    @apply fill-amber-500;
    @apply fill-amber-500;
  }

  .nav-popup-menu {
    @apply scale-0;
    @apply opacity-0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    @apply transition-all;
    @apply duration-150;

    @apply bg-white;
    @apply backdrop-blur;
    @apply supports-backdrop-blur:bg-white/[0.95];
  }

  .nav-popup-menu.visible {
    @apply scale-100;
    @apply opacity-100;
    @apply rounded-t-2xl;
  }

  /* screen xs */
  @media screen and (max-width: 481px) {
    .nav-popup-menu.visible {
      height: calc(100vh - 4rem);
    }
  }

  .nav-popup-menu-inner {
    @apply flex flex-col;
    @apply max-h-screen;
  }

  .nav-popup-menu-inner__header {
    @apply rounded-t-2xl;
    @apply bg-gradient-to-br;
    @apply from-blue-50;
    @apply via-gray-100;
    @apply to-blue-100;
    @apply px-4;
    @apply py-2;
  }

  .nav-popup-menu-inner__content {
    @apply p-2;
    overflow-y: auto;
  }

  body:has(.nav-popup-menu.visible) {
    /* disable body scroll as long as nav-popup-menu is open */
    overflow: hidden;
  }

  .nav-popup-menu.visible .nav-popup-menu-inner {
    width: 100%;
    height: 100%;
  }

  @screen xs {
    .nav-popup-menu::before {
      content: "";
      border-color: transparent;
      border-width: 8px;
      @apply border-b-gray-200;
      position: absolute;
      top: -17px;
      @apply right-6;
    }

    .nav-popup-menu {
      @apply transition-transform;
      @apply origin-top-right;
      @apply scale-0;
      @apply border;
      @apply border-gray-200;
      @apply shadow-xl;
      @apply mt-3;
      @apply z-50;
      @apply absolute;
      @apply left-auto;
      @apply right-0;
      @apply bottom-auto;
      @apply top-full;
      @apply rounded-2xl;
      @apply dark:border-zinc-800;
      @apply dark:shadow-none;
    }

    .nav-popup-menu-inner {
      max-height: 75vh;
      @apply w-auto;
      @apply h-auto;
      @apply rounded-2xl;
      @apply border-gray-200;
      @apply bg-white;
      @apply backdrop-blur;
      @apply supports-backdrop-blur:bg-white/[0.85];
    }

    .nav-popup-menu-inner ul li:first-of-type .nav-popup-menu_link {
      @apply rounded-t-2xl;
    }

    .nav-popup-menu-inner ul li:last-of-type .nav-popup-menu_link {
      @apply rounded-b-2xl;
    }

    .nav-popup-menu-inner ul li[role="separator"] {
      @apply border-t;
      @apply border-gray-200;
    }

    .nav-popup-menu.visible,
    .nav-popup-menu:focus-within {
      @apply scale-100;
    }

    .nav-popup-menu-button_icon {
      @apply text-zinc-900;
      @apply text-opacity-75;
      @apply transition-colors;
    }

    .nav-popup-menu-button:is(:hover, :focus) .nav-popup-menu-button_icon {
      @apply text-opacity-100;
      @apply text-zinc-800;
    }
  }

  .nav-popup-menu_link {
    @apply w-full;
    @apply flex;
    @apply items-center;
    @apply p-2;
    @apply pr-10;
    @apply no-underline;
    @apply hover:no-underline;
    @apply focus:no-underline;
    @apply text-base;
    @apply text-gray-700;
    @apply bg-transparent;
    @apply hover:text-black;
    @apply focus:text-black;
    @apply hover:bg-gray-50;
    @apply focus:bg-gray-50;
  }

  .sloth-background {
    background-image: url("/images/sloths_1280.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    min-height: 350px;
    max-height: 600px;
    margin-top: auto;
  }

  .timeslot-form-new {
    --timeslot-form-color: theme("colors.blue.700");
    --timeslot-form-datepicker-background-color: theme("colors.blue.700");
    --timeslot-form-day-color: theme("colors.white");
    --timeslot-form-day-background-color: theme("colors.blue.50");
    --timeslot-form-border-color: theme("colors.blue.700");
    --timeslot-form-input-color: theme("colors.gray.900");
    --timeslot-form-label-color: theme("colors.blue.700");
  }

  .timeslot-form-existing {
    --timeslot-form-color: theme("colors.gray.700");
    --timeslot-form-datepicker-background-color: theme("colors.gray.200");
    --timeslot-form-day-color: theme("colors.black");
    --timeslot-form-day-background-color: theme("colors.white");
    --timeslot-form-border-color: theme("colors.gray.200");
    --timeslot-form-input-color: theme("colors.gray.900");
    --timeslot-form-label-color: theme("colors.gray.500");
  }

  .timeslot-form-existing input.edited {
    background-color: theme("colors.blue.100");
  }

  .timeslot-form-existing input[type="checkbox"].edited ~ svg {
    @apply stroke-blue-800;
    @apply bg-blue-100;
    @apply transform scale-125;
  }

  duet-date-picker.edited ~ label > span {
    color: theme("colors.blue.600");
  }

  .timeslot-form-existing.edited > div > div:nth-of-type(1) {
    position: relative;
  }

  .timeslot-form-existing.edited > div > div:nth-of-type(1)::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 3px theme("colors.blue.700");
    border-radius: 27px;
  }

  .timeslot-form-existing.edited button[type="submit"] {
    color: theme("colors.gray.700");
    background-color: theme("colors.blue.100");
    padding: 0.25rem 0.5rem;
    border-radius: 99999px;
  }

  .timeslot-form-new [data-error-container]:not(:empty),
  .timeslot-form-existing [data-error-container]:not(:empty) {
    margin-top: 1rem;
  }

  .report-graph {
  }
  .report-graph-hover-background {
    fill: transparent;
  }
  .report-graph-hover-background.selected,
  .report-graph-hover-background:hover {
    fill: url(#gradient-background);
  }
  .report-graph-hour-line {
    @apply stroke-gray-200;
  }
  .report-graph-hour-text {
    @apply fill-gray-300;
  }
  .report-graph-avg-line {
    @apply stroke-teal-700;
  }
  .report-graph-avg-text {
    @apply fill-teal-700;
    @apply text-xs;
  }
  .report-graph-day-bar {
  }
  .report-graph-day-overtime-bar {
    @apply fill-teal-900;
    @apply stroke-emerald-600;
  }
  .report-graph-day-should-bar {
    @apply fill-green-100;
    @apply stroke-emerald-600;
  }
  .report-graph-day-text {
    @apply fill-gray-600;
    @apply font-medium;
  }
  .report-graph-date-text {
    @apply fill-gray-400;
    @apply text-sm;
  }

  .report-graph-group--different-month .report-graph-day-bar {
    @apply fill-transparent;
  }
  .report-graph-group--different-month .report-graph-day-text {
    @apply fill-gray-400;
    @apply font-normal;
  }

  .report-view-selection-link {
    position: relative;
    @apply text-gray-600;
    @apply font-medium;
    @apply transition-colors;
  }

  .report-view-selection-link:hover,
  .report-view-selection-link[aria-current="location"] {
    @apply text-gray-800;
  }

  .report-view-selection-link[aria-current="location"]::after {
    content: "";
    display: block;
    position: absolute;
    top: 95%;
    left: 0;
    right: 0;
    background: url("/images/underlined-curved-black.svg") no-repeat top;
    height: 0.5rem;
  }

  .feedback-form {
    max-height: 0;
    --transition-duration: 300ms;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity var(--transition-duration) ease-in-out,
      transform var(--transition-duration) ease-in-out;
  }

  .feedback-form.feedback-form--visible {
    max-height: revert;
    opacity: 1;
    transform: translateY(0);
  }

  .body-overlay {
    opacity: 0;
    transition: opacity ease-in-out 150ms;
  }

  /* body-overlay.visible has to be separated from body:has */
  /* otherwise firefox does not take these values oO */
  .body-overlay.visible {
    z-index: 10;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  body:has(.time-clock-dropdown[open]) #body-overlay {
    z-index: 10;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  body:has(.time-clock-dropdown[open]) .navigation-content-spacer--left::after,
  body:has(.time-clock-dropdown[open])
    .navigation-content-spacer--right::after {
    /* can't handle content-space positioning with z-index. */
    /* therefore set color. note that this depends on the user's monitor, of course. */
    /* the used value seems to be a good compromise. */
    background-color: rgba(0, 0, 0, 0.31);
  }
}

@layer components {
  .time-clock-dropdown_content {
    z-index: 1;
    left: 0.5rem;
    right: 0.5rem;
    width: calc(100vw - 1rem); /* 1rem = left + right */
    @apply bg-white;
    @apply border;
    @apply px-4;
    @apply py-3;
    @apply rounded;
    @apply translate-y-4;
    @apply shadow-2xl;
  }

  @screen xs {
    .time-clock-dropdown_summary {
      @apply cursor-pointer;
      @apply text-sm;
      @apply w-full;
      @apply px-0; /* gap by container */
      @apply py-0; /* centered by container */
      @apply rounded-md;
      @apply flex;
      @apply items-center;
    }

    .time-clock-dropdown_content {
      position: fixed;
    }
  }

  @screen sm {
    .time-clock-dropdown {
      position: relative;
    }

    .time-clock-dropdown_content {
      position: absolute;
      left: auto;
      right: 0;
      width: auto;
    }
  }
}

@layer components {
  .checkbox-switch {
    display: inline-block;
  }

  .checkbox-switch input[type="checkbox"] {
    cursor: pointer;
    margin: 0;
    margin-top: 0.25em;
    width: 2.5rem;
    height: 1.25rem;
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 9999px;
    transition: background-position 0.15s ease-in-out,
      background-color 0.15s ease-in-out;
    @apply bg-zinc-200 !important;
  }

  .checkbox-switch input:checked[type="checkbox"] {
    @apply bg-blue-500 !important;
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }
}

@layer components {
  main[data-selected-user] [data-hidden-with-selected-user] {
    display: none;
  }

  main:not([data-selected-user]) [data-hidden-without-selected-user] {
    display: none;
  }

  @screen lg {
    main[data-selected-user] [data-hidden-with-selected-user],
    main:not([data-selected-user]) [data-hidden-without-selected-user] {
      display: var(--display-when-visible);
    }
  }

  .user-selection-list > li {
    @apply hover:bg-gray-50;
  }

  .user-selection-list > li:has(a[aria-current="page"]) {
    @apply bg-gray-100;
  }
}
