@theme {
  /* 26.25rem = 420px (16px base), tailwind uses rem, so we are */
  --breakpoint-xxs: 26.25rem;
  /* 30rem = 480px (16px base), tailwind uses rem, so we are */
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 1440px;
  /* TODO maybe refactor breakpoint-3xl to tailwinds 2xl? what happen with currently used 2xl? */
  --breakpoint-3xl: 1600px;

  --font-logo: "KaushanScript";
}

:root {
  /* 500 */
  --absence-color-GRAY: #6b7280;
  --absence-color-ORANGE: #f97316;
  --absence-color-YELLOW: #eab308;
  --absence-color-EMERALD: #10b981;
  --absence-color-CYAN: #06b6d4;
  --absence-color-BLUE: #3b82f6;
  --absence-color-VIOLET: #8b5cf6;
  --absence-color-PINK: #ec4899;
  --absence-color-RED: #991b1b; /* sick-note, red-800 */
}

@font-face {
  font-family: "KaushanScript";
  src:
    local("KaushanScript"),
    local("KaushanScript Regular"),
    local("KaushanScript-Regular"),
    url("/fonts/kaushanscript/KaushanScript-Regular.woff2") format("woff2"),
    url("/fonts/kaushanscript/KaushanScript-Regular.woff") format("woff");
  font-display: swap;
}
