:root {
  --time-entries-box-border-radius: 27px;
}

.time-entry-slot-form .ajax-loader.ajax-loader--loading {
  @apply rounded-b-3xl;
  @apply md:rounded-b-none;
  @apply md:rounded-r-3xl;
}

.time-entry-cell {
  display: flex;
  flex-direction: column-reverse;
}

.time-entry-cell input {
  width: 100%;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  @apply text-sm;
}

.time-entry-cell label {
  @apply text-sm;
  @apply cursor-pointer;
}

.time-entry-cell-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr) max-content;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem 1.25rem;
}

.time-entry-cell__comment {
  grid-row-start: 1;
  grid-column: 1 / span 5;
}

.time-entry-cell__from {
  grid-row-start: 2;
  grid-column: 1 / span 2;
}

.time-entry-cell__to {
  grid-row-start: 2;
  grid-column: 3 / span 2;
}

.time-entry-cell__duration {
  grid-row-start: 2;
  grid-column: 5 / span 2;
}

.time-entry-cell__break {
  grid-row-start: 1;
  grid-column-start: 6;
}

.time-entry-actions {
  position: relative;

  [data-toggle-button] {
    @apply hidden;
    @apply md:inline-flex;
    @apply md:rounded-full;
    @apply md:w-12;
    @apply md:h-12;
    @apply md:hover:bg-blue-100;
    @apply md:focus:bg-blue-100;
    @apply md:transition-colors;
    @apply md:duration-200;
  }

  [data-toggle-button][aria-pressed="true"] {
    @apply bg-blue-100;
  }

  [data-toggle-button] ~ .time-entry-actions-list button {
    @apply flex;
    @apply items-center;
    @apply gap-3;
    @apply text-gray-500;
    @apply md:text-gray-900;
    @apply md:pl-3;
    @apply md:pr-4;
    @apply md:py-1;
    @apply md:rounded-md;
    @apply md:transition-colors;
    @apply md:hover:bg-gray-100;
    @apply md:focus:bg-gray-100;
    @apply md:w-full;
  }

  [data-toggle-button] ~ .time-entry-actions-list {
    @apply flex;
    @apply flex-row;
    @apply gap-4;
    @apply md:flex-col;
    @apply md:gap-0;
    @apply md:bg-white;
    @apply md:py-2;
    @apply md:px-1;
    @apply md:absolute;
    @apply md:mt-1;
    @apply md:top-full;
    @apply md:right-0;
    @apply md:border;
    @apply md:border-gray-100;
    @apply md:rounded-lg;
    @apply md:shadow-lg;
    @apply md:z-10;
    @apply md:transition-all;
    @apply md:scale-0;
    @apply md:opacity-0;
    @apply md:origin-top-right;
  }

  [data-toggle-button][aria-pressed="true"] ~ .time-entry-actions-list {
    @apply md:opacity-100;
    @apply md:scale-100;
  }
}

@screen xs {
  .time-entry-cell-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr) max-content;
    gap: 0.5rem;
  }

  .time-entry-cell__comment {
    grid-row-start: 1;
    grid-column: 1 / span 7;
  }

  .time-entry-cell__from {
    grid-row-start: 2;
    grid-column: 1 / span 2;
  }

  .time-entry-cell__to {
    grid-row-start: 2;
    grid-column: 3 / span 2;
  }

  .time-entry-cell__duration {
    grid-row-start: 2;
    grid-column: 5 / span 2;
  }

  .time-entry-cell__break {
    grid-row-start: 2;
    grid-column-start: 7;
  }
}

@screen md {
  .time-entry-cell-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr) max-content;
    gap: 0.5rem;
  }

  .time-entry-cell__comment {
    grid-row-start: 1;
    grid-column: 1 / span 5;
  }

  .time-entry-cell__from {
    grid-row-start: 2;
    grid-column: 1 / span 2;
  }

  .time-entry-cell__to {
    grid-row-start: 2;
    grid-column: 3 / span 2;
  }

  .time-entry-cell__duration {
    grid-row-start: 2;
    grid-column: 5 / span 2;
  }

  .time-entry-cell__break {
    grid-row-start: 1;
    grid-column-start: 6;
  }
}

@screen lg {
  .time-entry-cell-container {
    grid-template-columns: 1fr max-content max-content 4rem max-content;
    padding-top: 0;
    padding-bottom: 0;
  }

  .time-entry-cell__comment {
    grid-row-start: 1;
    grid-column: 1 / span 1;
  }

  .time-entry-cell__from {
    grid-row-start: 1;
    grid-column: 2 / span 1;
  }

  .time-entry-cell__to {
    grid-row-start: 1;
    grid-column: 3 / span 1;
  }

  .time-entry-cell__duration {
    grid-row-start: 1;
    grid-column: 4 / span 1;
  }

  .time-entry-cell__break {
    grid-row-start: 1;
    grid-column: 5 / span 1;
  }
}

.timeslot-form-new {
  --timeslot-form-color: theme("colors.blue.700");
  --timeslot-form-datepicker-background-color: theme("colors.blue.700");
  --timeslot-form-day-color: theme("colors.white");
  --timeslot-form-day-background-color: theme("colors.blue.50");
  --timeslot-form-border-color: theme("colors.blue.700");
  --timeslot-form-input-color: theme("colors.gray.900");
  --timeslot-form-label-color: theme("colors.blue.700");
}

.timeslot-form-existing {
  --timeslot-form-color: theme("colors.gray.700");
  --timeslot-form-datepicker-background-color: theme("colors.gray.200");
  --timeslot-form-day-color: theme("colors.black");
  --timeslot-form-day-background-color: theme("colors.white");
  --timeslot-form-border-color: theme("colors.gray.200");
  --timeslot-form-input-color: theme("colors.gray.900");
  --timeslot-form-label-color: theme("colors.gray.500");
}

.timeslot-form-existing input.edited {
  background-color: theme("colors.blue.100");
}

.timeslot-form-existing input[type="checkbox"].edited ~ svg {
  @apply stroke-blue-800;
  @apply bg-blue-100;
  @apply transform scale-125;
}

.timeslot-form-existing.edited > div > div:nth-of-type(1) {
  position: relative;
}

.timeslot-form-existing.edited > div > div:nth-of-type(1)::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 3px theme("colors.blue.700");
  border-radius: 27px;
}

.timeslot-form-existing.edited button[data-toggle-button] {
  color: theme("colors.gray.700");
  background-color: theme("colors.blue.100");
  padding: 0.25rem 0.5rem;
  border-radius: 99999px;
}

.timeslot-form-new [data-error-container]:not(:empty) {
  margin-top: 1rem;
}
.timeslot-form-existing [data-error-container]:not(:empty) {
  margin-top: 0.5rem;
}

.time-entry-box,
.time-entry-box-absence {
  display: flex;
  flex-direction: column;
}

.time-entry-box__input__date {
  padding: 1.5rem 1.25rem;
  border-top-left-radius: var(--time-entries-box-border-radius);
  border-top-right-radius: var(--time-entries-box-border-radius);
  border-right-color: var(--timeslot-form-border-color);
  background-color: var(--timeslot-form-datepicker-background-color);
  color: var(--timeslot-form-day-color);
}

.time-entry-box__input,
.time-entry-box-absence__input {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

.time-entry-box__input__fields {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

.time-entry-box-absence__input__date {
  /* md:rounded-tr-none md:rounded-bl-[27px] md:bg-gray-100*/
  display: flex;
  align-items: center;
  @apply bg-gray-200;
  padding: 0.75rem 1.25rem;
  border-top-left-radius: var(--time-entries-box-border-radius);
  border-top-right-radius: var(--time-entries-box-border-radius);
}

.time-entry-box-absence__input__fields {
  flex: 1 0 0;
  @apply border;
  @apply border-gray-200;
  border-bottom-left-radius: var(--time-entries-box-border-radius);
  border-bottom-right-radius: var(--time-entries-box-border-radius);
  display: flex;
}

.time-entry-box__controls {
  margin-top: 0.5rem;
}

.time-entry-box__controls,
.time-entry-box-absence__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-entry-box-absence__absence-color-box {
  display: inline-block;
  width: 1.5rem;
  @apply bg-amber-200;
  border-bottom-left-radius: var(--time-entries-box-border-radius);
}

.time-entry-box-absence__absence-text {
  padding: 1.5rem 1.25rem;
}

@screen md {
  .time-entry-box,
  .time-entry-box-absence {
    flex-direction: row;
  }

  .time-entry-box__input,
  .time-entry-box-absence__input {
    flex-direction: row;
  }

  .time-entry-box__input__date {
    border-top-right-radius: 0;
    border-top-left-radius: var(--time-entries-box-border-radius);
    border-bottom-left-radius: var(--time-entries-box-border-radius);
  }

  .time-entry-box-absence__input__date {
    @apply bg-gray-100;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--time-entries-box-border-radius);
  }

  .time-entry-box__input__fields {
    flex-direction: row;
  }

  .time-entry-box-absence__input__fields {
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--time-entries-box-border-radius);
    @apply bg-gray-100;
    @apply border-gray-100;
  }

  .time-entry-box__controls {
    margin-top: 0;
  }

  .time-entry-box__controls,
  .time-entry-box-absence__controls {
    margin-left: 1rem;
    width: 3rem;
  }

  .time-entry-box-absence__absence-color-box {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 0.75rem;
    @apply rounded-lg;
  }

  .time-entry-box-absence__absence-text {
    @apply font-bold;
    @apply text-sm;
  }
}
