@reference "tailwindcss";
@config "../../../tailwind.config.js";

@layer utilities {
  /* must be utilities layer to override element classes...  */
  main[data-selected-user] [data-hidden-with-selected-user] {
    display: none;
  }

  main:not([data-selected-user]) [data-hidden-without-selected-user] {
    display: none;
  }

  @variant lg {
    main[data-selected-user] [data-hidden-with-selected-user],
    main:not([data-selected-user]) [data-hidden-without-selected-user] {
      display: var(--display-when-visible);
    }
  }
}

@layer components {
  .user-selection-list > li {
    @apply hover:bg-gray-50;
  }

  .user-selection-list > li:has(a[aria-current="page"]) {
    @apply bg-gray-100;
  }
}
