<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
  <head>
    <title>Zeiterfassung - Personen</title>
  </head>
  <body>
    <th:block th:fragment="section(user, workingTimes)">
      <div class="flex gap-2 items-center">
        <a
          href="#"
          th:href="@{/users/{id}/working-time/new (id=${user.id}, query=${query})}"
          class="button-secondary button-secondary-icon button-secondary--narrow"
          data-turbo-action="advance"
          data-test-id="working-time-create-button"
        >
          <svg th:replace="~{icons/plus::svg(className='w-5 h-5')}"></svg>
          <th:block
            th:text="#{usermanagement.working-time.add-new-working-time-entry}"
          >
            Neu
          </th:block>
        </a>
        <a
          th:if="${#lists.size(workingTimes) == 1}"
          href="#"
          th:href="@{/users/{id}/working-time/{workingTimeId} (id=${user.id},workingTimeId=${workingTimes[0].id})}"
          class="button-secondary button-secondary-icon button-secondary--narrow"
          data-turbo-action="advance"
        >
          <svg th:replace="~{icons/edit::svg(className='w-4 h-4')}"></svg>
          <th:block>Bearbeiten</th:block>
        </a>
      </div>
      <th:block th:if="${#lists.size(workingTimes) > 1}">
        <ul class="mt-8 flex flex-col gap-1">
          <li
            th:each="workingTime : ${workingTimes}"
            class="border-t border-t-gray-100 first:border-t-0"
            th:classappend="${workingTime.isCurrent ? '' : 'py-2'}"
          >
            <details
              class="group pr-2"
              th:classappend="${workingTime.isCurrent ? 'bg-gray-50 rounded-xl py-2' : ''}"
              th:attrappend="open=${workingTime.isCurrent ? 'true' : null}"
            >
              <summary
                class="flex gap-1 items-center cursor-pointer"
                th:classappend="${workingTime.current ? 'font-bold' : ''}"
              >
                <svg
                  th:replace="~{icons/chevron-right::svg(className='w-5 h-5 transition-transform group-open:rotate-90')}"
                ></svg>
                <th:block
                  th:switch="${workingTime.validFromIsPast}"
                  th:with="federalStateMsg=${#messages.msg(workingTime.federalStateMessageKey, #messages.msg(globalFederalStateMessageKey))}"
                >
                  <th:block th:case="true">
                    <th:block
                      th:if="${workingTime.validFrom == null}"
                      th:text="#{usermanagement.working-time.multiple-working-time-summary.valid-until(${workingTime.validTo}, ${federalStateMsg})}"
                    >
                      gültig bis ___
                    </th:block>
                    <th:block
                      th:if="${workingTime.validFrom != null && workingTime.validTo != null}"
                      th:text="#{usermanagement.working-time.multiple-working-time-summary.valid-from-until(${workingTime.validFrom}, ${workingTime.validTo}, ${federalStateMsg})}"
                    >
                      gültig von ___ bis ___
                    </th:block>
                    <th:block
                      th:if="${workingTime.validFrom != null && workingTime.validTo == null}"
                      th:text="#{usermanagement.working-time.multiple-working-time-summary.valid-from(${workingTime.validFrom}, ${federalStateMsg})}"
                    >
                      gültig von ___
                    </th:block>
                  </th:block>
                  <th:block th:case="false">
                    <th:block
                      th:if="${workingTime.validFrom == null}"
                      th:text="#{usermanagement.working-time.multiple-working-time-summary.valid-until(${workingTime.validTo}, ${federalStateMsg})}"
                    >
                      gültig bis ___
                    </th:block>
                    <th:block
                      th:if="${workingTime.validFrom != null && workingTime.validTo != null}"
                      th:text="#{usermanagement.working-time.multiple-working-time-summary.valid-from-until(${workingTime.validFrom}, ${workingTime.validTo}, ${federalStateMsg})}"
                    >
                      gültig von ___ bis ___
                    </th:block>
                    <th:block
                      th:if="${workingTime.validFrom != null && workingTime.validTo == null}"
                      th:text="#{usermanagement.working-time.multiple-working-time-summary.valid-from(${workingTime.validFrom}, ${federalStateMsg})}"
                    >
                      gültig von ___
                    </th:block>
                  </th:block>
                </th:block>
                <span
                  th:if="${workingTime.worksOnPublicHoliday}"
                  th:text="'(' + #{settings.federal-state.works-on-public-holiday.label} + ')'"
                >
                  (arbeitet an Feiertagen)
                </span>
              </summary>
              <div
                th:ref="working-time-block"
                class="mt-4 mb-2 flex flex-col gap-4"
                th:classappend="${#lists.size(workingTimes) > 1 ? 'pl-6' : ''}"
              >
                <div>
                  <ul class="flex flex-col gap-4 sm:flex-row">
                    <li
                      th:fragment="blubb(dayOfWeek, hours)"
                      th:with="dayOfWeek=${#objects.nullSafe(dayOfWeek, 'MONDAY')}, hours=${#objects.nullSafe(hours, workingTime.workingTimeMonday)}"
                      class="flex-1 shrink-0"
                    >
                      <span th:text="${#messages.msg(dayOfWeek)}">
                        Montag
                      </span>
                      <span
                        class="flex rounded-lg border border-green-300 bg-white"
                      >
                        <span
                          class="rounded-lg bg-green-300 h-2"
                          th:with="max=${workingTime.max}, width=${((hours eq 0) or (max eq 0)) ? 0 : #numbers.formatDecimal((hours/max)*100, 2, 'POINT', 3, 'POINT')}"
                          th:styleappend="${'width:' + width + '%'}"
                        ></span>
                      </span>
                      <span
                        th:text="#{usermanagement.working-time.multiple-working-time.entry.hours(${hours})}"
                        class="whitespace-nowrap text-sm"
                      ></span>
                    </li>
                    <li
                      th:replace="~{::blubb(dayOfWeek='TUESDAY', hours=${workingTime.workingTimeTuesday})}"
                    ></li>
                    <li
                      th:replace="~{::blubb(dayOfWeek='WEDNESDAY', hours=${workingTime.workingTimeWednesday})}"
                    ></li>
                    <li
                      th:replace="~{::blubb(dayOfWeek='THURSDAY', hours=${workingTime.workingTimeThursday})}"
                    ></li>
                    <li
                      th:replace="~{::blubb(dayOfWeek='FRIDAY', hours=${workingTime.workingTimeFriday})}"
                    ></li>
                    <li
                      th:replace="~{::blubb(dayOfWeek='SATURDAY', hours=${workingTime.workingTimeSaturday})}"
                    ></li>
                    <li
                      th:replace="~{::blubb(dayOfWeek='SUNDAY', hours=${workingTime.workingTimeSunday})}"
                    ></li>
                  </ul>
                </div>
                <div
                  th:if="${workingTimeStat != null}"
                  class="flex flex-col gap-2 xs:flex-row xs:items-center"
                  th:with="index=${workingTimeStat.index}"
                >
                  <a
                    href="#"
                    th:href="@{/users/{id}/working-time/{workingTimeId} (id=${user.id},workingTimeId=${workingTime.id})}"
                    class="flex justify-center w-full xs:w-auto button-secondary button-secondary-icon button-secondary--subtle button-secondary--narrow"
                    data-turbo-action="advance"
                  >
                    <svg
                      th:replace="~{icons/edit::svg(className='w-4 h-4')}"
                    ></svg>
                    <th:block>Bearbeiten</th:block>
                  </a>
                  <form
                    action="#"
                    method="post"
                    th:action="@{/users/{id}/working-time/{workingTimeId}/delete (id=${user.id},workingTimeId=${workingTime.id})}"
                    th:if="${workingTime.isDeletable}"
                    class="w-full xs:w-auto"
                  >
                    <button
                      type="submit"
                      class="flex justify-center w-full xs:w-auto button-secondary button-secondary-icon button-secondary--subtle button-secondary--narrow"
                    >
                      <svg
                        th:replace="~{icons/trash::svg(className='w-4 h-4')}"
                      ></svg>
                      <th:block>Löschen</th:block>
                    </button>
                  </form>
                </div>
              </div>
            </details>
          </li>
        </ul>
      </th:block>
      <th:block
        th:if="${#lists.size(workingTimes) eq 1}"
        th:with="workingTime=${workingTimes[0]}"
      >
        <div class="mt-8">
          <p>
            <span
              th:text="${#messages.msg(workingTime.federalStateMessageKey, #messages.msg(globalFederalStateMessageKey))}"
            >
              Baden-Württemberg</span
            >
            <span
              th:if="${workingTime.worksOnPublicHoliday}"
              th:text="'(' + #{settings.federal-state.works-on-public-holiday.label} + ')'"
            >
              (arbeitet an Feiertagen)
            </span>
          </p>
          <div th:replace="~{::working-time-block}"></div>
        </div>
      </th:block>
    </th:block>
  </body>
</html>
