<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
  <head>
    <title>Zeiterfassung - Personen</title>
  </head>
  <body>
    <th:block th:fragment="section(user, workingTime)">
      <div>
        <a
          href="#"
          th:href="@{/users/{id}/working-time (id=${user.id})}"
          class="flex gap-2 items-center underline"
          data-turbo-action="advance"
        >
          <svg th:replace="~{icons/arrow-left::svg(className='w-5 h-5')}"></svg>
          <th:block>zurück zu Arbeitszeiten</th:block>
        </a>
      </div>
      <form
        action="#"
        th:action="@{/users/{userId}/working-time/{workingTimeIdOrNew} (userId=${user.id}, workingTimeIdOrNew=${#objects.nullSafe(workingTime.id, 'new')})}"
        method="post"
        th:object="${workingTime}"
        class="mt-8"
      >
        <input
          th:if="${workingTime.id != null}"
          type="hidden"
          th:field="*{id}"
        />
        <div id="working-time-form-hidden-inputs">
          <input type="hidden" name="query" th:value="${query}" />
        </div>
        <div class="flex flex-col gap-8">
          <div
            class="p-4 rounded-md text-red-900 border border-red-100 bg-red-50"
            th:if="${#fields.hasErrors('empty')}"
          >
            <p th:text="${#fields.errors('empty')[0]}">
              Leeres Formular Fehlernachricht.
            </p>
          </div>
          <fieldset
            class="border-t border-gray-100"
            th:with="hasError=${#fields.hasErrors('validFrom') or #fields.hasErrors('validFrom')}"
            th:if="${workingTime.id == null or workingTime.validFrom != null}"
          >
            <legend class="text-sm font-medium text-gray-400">
              Gültigkeit
            </legend>
            <div class="mt-2 sm:mt-4 flex items-center gap-2">
              <div class="flex items-center gap-2">
                <span>
                  Die Arbeitszeit ist
                  <label for="working-time-valid-from-input">gültig ab</label>
                </span>
                <input
                  type="date"
                  th:field="*{validFrom}"
                  id="working-time-valid-from-input"
                  class="px-2 border border-gray-300"
                />
              </div>
            </div>
          </fieldset>
          <fieldset
            class="border-t border-gray-100"
            th:with="hasError=${#fields.hasErrors('workday') or #fields.hasErrors('workDayMonday') or #fields.hasErrors('workDayTuesday') or #fields.hasErrors('workDayWednesday') or #fields.hasErrors('workDayThursday') or #fields.hasErrors('workDayFriday') or #fields.hasErrors('workDaySaturday') or #fields.hasErrors('workDaySunday')}"
          >
            <legend
              class="text-sm font-medium text-gray-400"
              th:text="#{usermanagement.working-time.workdays.title}"
            >
              Arbeitstage
            </legend>
            <div class="mt-2 sm:mt-4">
              <ul class="flex flex-wrap gap-4">
                <li
                  class="flex items-center gap-1"
                  th:fragment="workday(dayOfWeek)"
                  th:with="dayOfWeek=${dayOfWeek ?: 'monday'}, hasError=${#fields.hasErrors('workDay'+ #strings.capitalize(dayOfWeek))}"
                >
                  <input
                    type="checkbox"
                    name="workday"
                    value="monday"
                    th:value="${dayOfWeek}"
                    id="workday-monday"
                    th:id="${'workday-' + dayOfWeek}"
                    th:checked="${#lists.contains(workingTime.workday, dayOfWeek)}"
                    th:class="${hasError ? 'invalid' : ''}"
                    th:aria-invalid="${hasError}"
                    th:aria-message="${hasError ? 'work-day-error-message' : ''}"
                  />
                  <label
                    for="workday-monday"
                    th:for="${'workday-' + dayOfWeek}"
                    th:text="${#messages.msg(dayOfWeek.toUpperCase())}"
                    th:class="${hasError ? 'invalid' : ''}"
                  >
                    Montag
                  </label>
                </li>
                <li th:replace="~{::workday('tuesday')}"></li>
                <li th:replace="~{::workday('wednesday')}"></li>
                <li th:replace="~{::workday('thursday')}"></li>
                <li th:replace="~{::workday('friday')}"></li>
                <li th:replace="~{::workday('saturday')}"></li>
                <li th:replace="~{::workday('sunday')}"></li>
              </ul>
              <div class="mt-2" th:if="${hasError}">
                <p
                  th:if="${#fields.hasErrors('workday')}"
                  th:text="${#fields.errors('workday')[0]}"
                  class="invalid"
                >
                  Arbeitstag Fehlernachricht.
                </p>
                <th:block
                  th:fragment="workdayError(dayOfWeek)"
                  th:with="dayOfWeek=${dayOfWeek ?: 'monday'}, fieldName=${'workDay' + #strings.capitalize(dayOfWeek)}"
                >
                  <p
                    th:if="${#fields.hasErrors(fieldName)}"
                    th:text="${#fields.errors(fieldName)[0]}"
                    class="invalid"
                  >
                    Arbeitstag Fehlernachricht.
                  </p>
                </th:block>
                <p th:replace="~{::workdayError('tuesday')}"></p>
                <p th:replace="~{::workdayError('wednesday')}"></p>
                <p th:replace="~{::workdayError('thursday')}"></p>
                <p th:replace="~{::workdayError('friday')}"></p>
                <p th:replace="~{::workdayError('saturday')}"></p>
                <p th:replace="~{::workdayError('sunday')}"></p>
              </div>
            </div>
          </fieldset>
          <fieldset
            class="border-t border-gray-100"
            th:classappend="${#fields.hasErrors('workingTimeClash') ? 'border-red-600' : ''}"
          >
            <legend
              class="text-sm font-medium text-gray-400"
              th:classappend="${#fields.hasErrors('workingTimeClash') ? 'text-red-600' : ''}"
              th:text="#{usermanagement.working-time.hours.common.title}"
            >
              Arbeitszeit
            </legend>
            <div class="mt-2 sm:mt-4">
              <div
                class="flex items-center gap-2 sm:grid sm:grid-cols-7 sm:gap-4"
              >
                <input
                  type="text"
                  inputmode="numeric"
                  name="workingTime"
                  id="input-workingtime"
                  class="border border-gray-300 px-2 py-1 w-14 sm:w-full"
                  th:field="*{workingTime}"
                  th:errorclass="invalid"
                  th:aria-invalid="${#fields.hasErrors('workingTime')}"
                  th:aria-message="${#fields.hasErrors('workingTime') ? 'working-time-error-message' : ''}"
                />
                <label
                  for="input-workingtime"
                  class="col-span-6"
                  th:text="#{usermanagement.working-time.hours.common.input.label}"
                >
                  Stunden am Tag
                </label>
              </div>
              <p
                th:if="${#fields.hasErrors('workingTime')}"
                th:text="${#fields.errors('workingTime')[0]}"
                id="working-time-error-message"
                class="mt-2 invalid"
              ></p>
            </div>
          </fieldset>
          <fieldset
            class="border-t border-gray-100"
            th:classappend="${#fields.hasErrors('workingTimeClash') ? 'border-red-400' : ''}"
          >
            <legend
              class="text-sm font-medium text-gray-400"
              th:classappend="${#fields.hasErrors('workingTimeClash') ? 'text-red-600' : ''}"
              th:text="#{usermanagement.working-time.hours.individual.title}"
            >
              Individuelle Arbeitszeit
            </legend>
            <div
              class="mt-2 flex flex-col gap-2 sm:mt-4 sm:grid sm:grid-cols-7 sm:gap-4"
            >
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::box('monday', ${workingTime.workingTimeMonday})}"
              ></div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::box('tuesday', ${workingTime.workingTimeTuesday})}"
              ></div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::box('wednesday', ${workingTime.workingTimeWednesday})}"
              ></div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::box('thursday', ${workingTime.workingTimeThursday})}"
              ></div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::box('friday', ${workingTime.workingTimeFriday})}"
              ></div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::box('saturday', ${workingTime.workingTimeSaturday})}"
              ></div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::box('sunday', ${workingTime.workingTimeSunday})}"
              ></div>
            </div>
            <div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::error-box('monday')}"
              ></div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::error-box('tuesday')}"
              ></div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::error-box('wednesday')}"
              ></div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::error-box('thursday')}"
              ></div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::error-box('friday')}"
              ></div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::error-box('saturday')}"
              ></div>
              <div
                th:replace="~{usermanagement/user/working-time-edit_working-time-weekday::error-box('sunday')}"
              ></div>
            </div>
          </fieldset>
          <div class="mt-8 flex flex-col gap-2 sm:flex-row sm:items-center">
            <button
              type="submit"
              class="bg-blue-700 border border-blue-700 text-white font-medium rounded px-4 py-2 flex items-center gap-2 justify-center sm:justify-start"
              data-turbo-action="advance"
            >
              <svg th:replace="~{icons/save::svg(className='w-5 h-5')}"></svg>
              <th:block
                th:if="${#bools.isTrue(createMode)}"
                th:text="#{usermanagement.create}"
              >
                Anlegen
              </th:block>
              <th:block
                th:if="${#bools.isFalse(createMode)}"
                th:text="#{usermanagement.save}"
              >
                Aktualisieren
              </th:block>
            </button>
            <a
              id="working-time-edit-reset-button"
              href="#"
              th:href="@{/users/{id} (id=${user.id}, query=${query})}"
              class="whitespace-nowrap border border-blue-700 text-blue-700 font-medium rounded px-4 py-2 text-center sm:text-left"
              th:text="#{usermanagement.abort}"
              data-turbo-action="advance"
            >
              Abbrechen
            </a>
          </div>
        </div>
      </form>
    </th:block>
  </body>
</html>
