<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div
      th:fragment="box(dayOfWeek, value)"
      th:with="fieldName=${'workingTime' + #strings.capitalize(dayOfWeek)}"
      class="flex items-center sm:flex-col-reverse gap-2 sm:gap-1"
    >
      <input
        type="text"
        inputmode="numeric"
        th:name="${fieldName}"
        id="input-working-time-day-of-week"
        th:id="${'input-working-time-' + dayOfWeek}"
        class="border border-gray-300 px-2 py-1 w-14 sm:w-full"
        th:value="${{value}}"
        disabled
      />
      <label
        class="sm:w-full sm:text-ellipsis sm:overflow-hidden"
        for="input-working-time-day-of-week"
        th:for="${'input-working-time-' + dayOfWeek}"
        th:text="${#messages.msg(#strings.toUpperCase(dayOfWeek))}"
      >
        Montag
      </label>
    </div>
  </body>
</html>
