<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
  <head>
    <title>Zeiterfassung - Personen</title>
  </head>
  <body>
    <th:block th:fragment="section(user, workingTime)">
      <form
        action="#"
        th:action="@{/users/{userId}/working-time (userId=${user.id})}"
        method="post"
        class="flex flex-col gap-8"
        th:object="${workingTime}"
      >
        <fieldset class="border-t border-gray-100">
          <legend
            class="text-sm font-medium text-gray-400"
            th:text="#{usermanagement.working-time.workdays.title}"
          >
            Arbeitstage
          </legend>
          <div class="mt-2">
            <ul class="flex gap-4">
              <li
                class="flex items-center gap-1"
                th:fragment="workday(dayOfWeek)"
                th:with="dayOfWeek=${dayOfWeek ?: 'monday'}"
              >
                <input
                  type="checkbox"
                  name="workday"
                  value="monday"
                  th:value="${dayOfWeek}"
                  id="workday-monday"
                  th:id="${'workday-' + dayOfWeek}"
                  th:checked="${#lists.contains(workingTime.workday, dayOfWeek)}"
                />
                <label
                  for="workday-monday"
                  th:for="${'workday-' + dayOfWeek}"
                  th:text="${#messages.msg(dayOfWeek.toUpperCase())}"
                >
                  Montag
                </label>
              </li>
              <li th:replace="~{::workday('tuesday')}"></li>
              <li th:replace="~{::workday('wednesday')}"></li>
              <li th:replace="~{::workday('thursday')}"></li>
              <li th:replace="~{::workday('friday')}"></li>
              <li th:replace="~{::workday('saturday')}"></li>
              <li th:replace="~{::workday('sunday')}"></li>
            </ul>
          </div>
        </fieldset>
        <div
          class="p-4 rounded-md text-red-900 border border-red-100 bg-red-50"
          th:if="${#fields.hasErrors('workingTimeClash')}"
        >
          <p th:text="${#fields.errors('workingTimeClash')[0]}">
            Arbeitszeit Fehlernachricht.
          </p>
        </div>
        <fieldset
          class="border-t border-gray-100"
          th:classappend="${#fields.hasErrors('workingTimeClash') ? 'border-red-600' : ''}"
        >
          <legend
            class="text-sm font-medium text-gray-400"
            th:classappend="${#fields.hasErrors('workingTimeClash') ? 'text-red-600' : ''}"
            th:text="#{usermanagement.working-time.common-hours.title}"
          >
            Arbeitszeit
          </legend>
          <div class="mt-2">
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTime"
                id="input-workingtime"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTime}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTime')}"
                th:aria-message="${#fields.hasErrors('workingTime') ? 'working-time-error-message' : ''}"
              />
              <label
                for="input-workingtime"
                th:text="#{usermanagement.working-time.common-hours.input.label}"
              >
                Stunden am Tag
              </label>
              <p
                th:if="${#fields.hasErrors('workingTime')}"
                th:text="${#fields.errors('workingTime')[0]}"
                id="working-time-error-message"
                class="mt-2 invalid"
              ></p>
            </div>
          </div>
        </fieldset>
        <fieldset
          class="border-t border-gray-100"
          th:classappend="${#fields.hasErrors('workingTimeClash') ? 'border-red-400' : ''}"
        >
          <legend
            class="text-sm font-medium text-gray-400"
            th:classappend="${#fields.hasErrors('workingTimeClash') ? 'text-red-600' : ''}"
            th:text="#{usermanagement.working-time.individual-hours.title}"
          >
            Individuelle Arbeitszeit
          </legend>
          <div class="mt-2 space-y-2">
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeMonday"
                id="input-working-time-monday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeMonday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeMonday')}"
                th:aria-message="${#fields.hasErrors('workingTimeMonday') ? 'working-time-monday-error-message' : ''}"
              />
              <label
                for="input-working-time-monday"
                th:text="#{usermanagement.working-time.individual-hours.monday.input.label}"
              >
                Stunden am Montag
              </label>
              <p
                th:if="${#fields.hasErrors('workingTimeMonday')}"
                th:text="${#fields.errors('workingTimeMonday')[0]}"
                id="working-time-monday-error-message"
                class="mt-2 invalid"
              ></p>
            </div>
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeTuesday"
                id="input-working-time-tuesday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeTuesday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeTuesday')}"
                th:aria-message="${#fields.hasErrors('workingTimeTuesday') ? 'working-time-tuesday-error-message' : ''}"
              />
              <label
                for="input-working-time-tuesday"
                th:text="#{usermanagement.working-time.individual-hours.tuesday.input.label}"
              >
                Stunden am Dienstag
              </label>
              <p
                th:if="${#fields.hasErrors('workingTimeTuesday')}"
                th:text="${#fields.errors('workingTimeTuesday')[0]}"
                id="working-time-tuesday-error-message"
                class="mt-2 invalid"
              ></p>
            </div>
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeWednesday"
                id="input-working-time-wednesday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeWednesday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeWednesday')}"
                th:aria-message="${#fields.hasErrors('workingTimeWednesday') ? 'working-time-wednesday-error-message' : ''}"
              />
              <label
                for="input-working-time-wednesday"
                th:text="#{usermanagement.working-time.individual-hours.wednesday.input.label}"
              >
                Stunden am Mittwoch
              </label>
              <p
                th:if="${#fields.hasErrors('workingTimeWednesday')}"
                th:text="${#fields.errors('workingTimeWednesday')[0]}"
                id="working-time-wednesday-error-message"
                class="mt-2 invalid"
              ></p>
            </div>
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeThursday"
                id="input-working-time-thursday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeThursday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeThursday')}"
                th:aria-message="${#fields.hasErrors('workingTimeThursday') ? 'working-time-thursday-error-message' : ''}"
              />
              <label
                for="input-working-time-thursday"
                th:text="#{usermanagement.working-time.individual-hours.thursday.input.label}"
              >
                Stunden am Donnerstag
              </label>
              <p
                th:if="${#fields.hasErrors('workingTimeThursday')}"
                th:text="${#fields.errors('workingTimeThursday')[0]}"
                id="working-time-thursday-error-message"
                class="mt-2 invalid"
              ></p>
            </div>
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeFriday"
                id="input-working-time-friday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeFriday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeFriday')}"
                th:aria-message="${#fields.hasErrors('workingTimeFriday') ? 'working-time-friday-error-message' : ''}"
              />
              <label
                for="input-working-time-friday"
                th:text="#{usermanagement.working-time.individual-hours.friday.input.label}"
              >
                Stunden am Freitag
              </label>
              <p
                th:if="${#fields.hasErrors('workingTimeFriday')}"
                th:text="${#fields.errors('workingTimeFriday')[0]}"
                id="working-time-friday-error-message"
                class="mt-2 invalid"
              ></p>
            </div>
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeSaturday"
                id="input-working-time-saturday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeSaturday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeSaturday')}"
                th:aria-message="${#fields.hasErrors('workingTimeSaturday') ? 'working-time-saturday-error-message' : ''}"
              />
              <label
                for="input-working-time-saturday"
                th:text="#{usermanagement.working-time.individual-hours.saturday.input.label}"
              >
                Stunden am Samstag
              </label>
              <p
                th:if="${#fields.hasErrors('workingTimeSaturday')}"
                th:text="${#fields.errors('workingTimeSaturday')[0]}"
                id="working-time-saturday-error-message"
                class="mt-2 invalid"
              ></p>
            </div>
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeSunday"
                id="input-working-time-sunday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeSunday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeSunday')}"
                th:aria-message="${#fields.hasErrors('workingTimeSunday') ? 'working-time-sunday-error-message' : ''}"
              />
              <label
                for="input-working-time-sunday"
                th:text="#{usermanagement.working-time.individual-hours.sunday.input.label}"
              >
                Stunden am Sonntag
              </label>
              <p
                th:if="${#fields.hasErrors('workingTimeSunday')}"
                th:text="${#fields.errors('workingTimeSunday')[0]}"
                id="working-time-sunday-error-message"
                class="mt-2 invalid"
              ></p>
            </div>
          </div>
        </fieldset>
        <div class="mt-8 flex items-center gap-2">
          <button
            type="submit"
            class="bg-blue-700 border border-blue-700 text-white font-medium rounded px-4 py-2 flex items-center gap-2"
          >
            <svg th:replace="~{icons/save::svg(className='w-5 h-5')}"></svg>
            <th:block th:text="#{usermanagement.save}">Aktualisieren</th:block>
          </button>
          <button
            type="reset"
            class="whitespace-nowrap border border-blue-700 text-blue-700 font-medium rounded px-4 py-2"
            th:text="#{usermanagement.revert}"
          >
            Änderungen verwerfen
          </button>
        </div>
      </form>
    </th:block>
  </body>
</html>
