<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
  <head>
    <title>Zeiterfassung - Personen</title>
  </head>
  <body>
    <th:block th:fragment="section(user, workingTime)">
      <form
        action="#"
        th:action="@{/users/{userId}/working-time (userId=${user.id})}"
        method="post"
        class="flex flex-col gap-8"
        th:object="${workingTime}"
      >
        <div
          class="p-4 rounded-md text-red-900 border border-red-100 bg-red-50"
          th:if="${#fields.hasErrors('empty')}"
        >
          <p th:text="${#fields.errors('empty')[0]}">
            Leeres Formular Fehlernachricht.
          </p>
        </div>
        <fieldset
          class="border-t border-gray-100"
          th:with="hasError=${#fields.hasErrors('workday') or #fields.hasErrors('workDayMonday') or #fields.hasErrors('workDayTuesday') or #fields.hasErrors('workDayWednesday') or #fields.hasErrors('workDayThursday') or #fields.hasErrors('workDayFriday') or #fields.hasErrors('workDaySaturday') or #fields.hasErrors('workDaySunday')}"
        >
          <legend
            class="text-sm font-medium text-gray-400"
            th:text="#{usermanagement.working-time.workdays.title}"
          >
            Arbeitstage
          </legend>
          <div class="mt-2">
            <ul class="flex flex-wrap gap-4">
              <li
                class="flex items-center gap-1"
                th:fragment="workday(dayOfWeek)"
                th:with="dayOfWeek=${dayOfWeek ?: 'monday'}, hasError=${#fields.hasErrors('workDay'+ #strings.capitalize(dayOfWeek))}"
              >
                <input
                  type="checkbox"
                  name="workday"
                  value="monday"
                  th:value="${dayOfWeek}"
                  id="workday-monday"
                  th:id="${'workday-' + dayOfWeek}"
                  th:checked="${#lists.contains(workingTime.workday, dayOfWeek)}"
                  th:class="${hasError ? 'invalid' : ''}"
                  th:aria-invalid="${hasError}"
                  th:aria-message="${hasError ? 'work-day-error-message' : ''}"
                />
                <label
                  for="workday-monday"
                  th:for="${'workday-' + dayOfWeek}"
                  th:text="${#messages.msg(dayOfWeek.toUpperCase())}"
                  th:class="${hasError ? 'invalid' : ''}"
                >
                  Montag
                </label>
              </li>
              <li th:replace="~{::workday('tuesday')}"></li>
              <li th:replace="~{::workday('wednesday')}"></li>
              <li th:replace="~{::workday('thursday')}"></li>
              <li th:replace="~{::workday('friday')}"></li>
              <li th:replace="~{::workday('saturday')}"></li>
              <li th:replace="~{::workday('sunday')}"></li>
            </ul>
            <div class="mt-2" th:if="${hasError}">
              <p
                th:if="${#fields.hasErrors('workday')}"
                th:text="${#fields.errors('workday')[0]}"
                class="invalid"
              >
                Arbeitstag Fehlernachricht.
              </p>
              <th:block
                th:fragment="workdayError(dayOfWeek)"
                th:with="dayOfWeek=${dayOfWeek ?: 'monday'}, fieldName=${'workDay' + #strings.capitalize(dayOfWeek)}"
              >
                <p
                  th:if="${#fields.hasErrors(fieldName)}"
                  th:text="${#fields.errors(fieldName)[0]}"
                  class="invalid"
                >
                  Arbeitstag Fehlernachricht.
                </p>
              </th:block>
              <p th:replace="~{::workdayError('tuesday')}"></p>
              <p th:replace="~{::workdayError('wednesday')}"></p>
              <p th:replace="~{::workdayError('thursday')}"></p>
              <p th:replace="~{::workdayError('friday')}"></p>
              <p th:replace="~{::workdayError('saturday')}"></p>
              <p th:replace="~{::workdayError('sunday')}"></p>
            </div>
          </div>
        </fieldset>
        <fieldset
          class="border-t border-gray-100"
          th:classappend="${#fields.hasErrors('workingTimeClash') ? 'border-red-600' : ''}"
        >
          <legend
            class="text-sm font-medium text-gray-400"
            th:classappend="${#fields.hasErrors('workingTimeClash') ? 'text-red-600' : ''}"
            th:text="#{usermanagement.working-time.hours.common.title}"
          >
            Arbeitszeit
          </legend>
          <div class="mt-2">
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTime"
                id="input-workingtime"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTime}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTime')}"
                th:aria-message="${#fields.hasErrors('workingTime') ? 'working-time-error-message' : ''}"
              />
              <label
                for="input-workingtime"
                th:text="#{usermanagement.working-time.hours.common.input.label}"
              >
                Stunden am Tag
              </label>
              <p
                th:if="${#fields.hasErrors('workingTime')}"
                th:text="${#fields.errors('workingTime')[0]}"
                id="working-time-error-message"
                class="mt-2 invalid"
              ></p>
            </div>
          </div>
        </fieldset>
        <fieldset
          class="border-t border-gray-100"
          th:classappend="${#fields.hasErrors('workingTimeClash') ? 'border-red-400' : ''}"
        >
          <legend
            class="text-sm font-medium text-gray-400"
            th:classappend="${#fields.hasErrors('workingTimeClash') ? 'text-red-600' : ''}"
            th:text="#{usermanagement.working-time.hours.individual.title}"
          >
            Individuelle Arbeitszeit
          </legend>
          <div class="mt-2 space-y-2">
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeMonday"
                id="input-working-time-monday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeMonday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeMonday')}"
                th:aria-message="${#fields.hasErrors('workingTimeMonday') ? 'working-time-monday-error-message' : ''}"
              />
              <label
                for="input-working-time-monday"
                th:text="#{usermanagement.working-time.hours.monday.input.label}"
              >
                Stunden am Montag
              </label>
              <th:block
                th:fragment="working-time-error-message(dayOfWeek)"
                th:with="dayOfWeek=${dayOfWeek ?: 'monday'}, fieldName=${'workingTime' + #strings.capitalize(dayOfWeek)}"
              >
                <div
                  th:if="${#fields.hasErrors(fieldName)}"
                  class="mt-2 flex items-center"
                >
                  <p
                    th:id="${'working-time-' + dayOfWeek + '-error-message'}"
                    class="invalid w-full"
                  >
                    <th:block
                      th:text="${#fields.errors(fieldName)[0]}"
                    ></th:block>
                    <th:block
                      th:if="${#fields.hasErrors(fieldName) && not #lists.contains(workingTime.workday, dayOfWeek)}"
                    >
                      <button
                        type="submit"
                        name="select"
                        th:value="${dayOfWeek}"
                        class="inline underline"
                        th:with="DAY_OF_WEEK=${#strings.toUpperCase(dayOfWeek)}"
                        th:text="#{usermanagement.working-time.validation-hint.select-working-day.button.text(${#messages.msg(DAY_OF_WEEK)})}"
                      >
                        Wähle den Montag aus
                      </button>
                      <th:block
                        th:text="#{usermanagement.working-time.validation-hint.or}"
                      >
                        oder
                      </th:block>
                      <button
                        type="submit"
                        name="clear"
                        th:value="${dayOfWeek}"
                        class="inline underline"
                        th:text="#{usermanagement.working-time.validation-hint.clear-hours.button.text}"
                      >
                        setze die Stunden auf 0
                      </button>
                      .
                    </th:block>
                  </p>
                </div>
              </th:block>
            </div>
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeTuesday"
                id="input-working-time-tuesday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeTuesday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeTuesday')}"
                th:aria-message="${#fields.hasErrors('workingTimeTuesday') ? 'working-time-tuesday-error-message' : ''}"
              />
              <label
                for="input-working-time-tuesday"
                th:text="#{usermanagement.working-time.hours.tuesday.input.label}"
              >
                Stunden am Dienstag
              </label>
              <div
                th:replace="~{::working-time-error-message('tuesday')}"
              ></div>
            </div>
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeWednesday"
                id="input-working-time-wednesday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeWednesday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeWednesday')}"
                th:aria-message="${#fields.hasErrors('workingTimeWednesday') ? 'working-time-wednesday-error-message' : ''}"
              />
              <label
                for="input-working-time-wednesday"
                th:text="#{usermanagement.working-time.hours.wednesday.input.label}"
              >
                Stunden am Mittwoch
              </label>
              <div
                th:replace="~{::working-time-error-message('wednesday')}"
              ></div>
            </div>
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeThursday"
                id="input-working-time-thursday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeThursday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeThursday')}"
                th:aria-message="${#fields.hasErrors('workingTimeThursday') ? 'working-time-thursday-error-message' : ''}"
              />
              <label
                for="input-working-time-thursday"
                th:text="#{usermanagement.working-time.hours.thursday.input.label}"
              >
                Stunden am Donnerstag
              </label>
              <div
                th:replace="~{::working-time-error-message('thursday')}"
              ></div>
            </div>
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeFriday"
                id="input-working-time-friday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeFriday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeFriday')}"
                th:aria-message="${#fields.hasErrors('workingTimeFriday') ? 'working-time-friday-error-message' : ''}"
              />
              <label
                for="input-working-time-friday"
                th:text="#{usermanagement.working-time.hours.friday.input.label}"
              >
                Stunden am Freitag
              </label>
              <div th:replace="~{::working-time-error-message('friday')}"></div>
            </div>
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeSaturday"
                id="input-working-time-saturday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeSaturday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeSaturday')}"
                th:aria-message="${#fields.hasErrors('workingTimeSaturday') ? 'working-time-saturday-error-message' : ''}"
              />
              <label
                for="input-working-time-saturday"
                th:text="#{usermanagement.working-time.hours.saturday.input.label}"
              >
                Stunden am Samstag
              </label>
              <div
                th:replace="~{::working-time-error-message('saturday')}"
              ></div>
            </div>
            <div class="space-x-1">
              <input
                type="text"
                inputmode="numeric"
                name="workingTimeSunday"
                id="input-working-time-sunday"
                class="border border-gray-300 px-2 py-1 w-14"
                th:field="*{workingTimeSunday}"
                th:errorclass="invalid"
                th:aria-invalid="${#fields.hasErrors('workingTimeSunday')}"
                th:aria-message="${#fields.hasErrors('workingTimeSunday') ? 'working-time-sunday-error-message' : ''}"
              />
              <label
                for="input-working-time-sunday"
                th:text="#{usermanagement.working-time.hours.sunday.input.label}"
              >
                Stunden am Sonntag
              </label>
              <div th:replace="~{::working-time-error-message('sunday')}"></div>
            </div>
          </div>
        </fieldset>
        <div class="mt-8 flex flex-col gap-2 sm:flex-row sm:items-center">
          <button
            type="submit"
            class="bg-blue-700 border border-blue-700 text-white font-medium rounded px-4 py-2 flex items-center gap-2 justify-center sm:justify-start"
          >
            <svg th:replace="~{icons/save::svg(className='w-5 h-5')}"></svg>
            <th:block th:text="#{usermanagement.save}">Aktualisieren</th:block>
          </button>
          <button
            type="reset"
            class="whitespace-nowrap border border-blue-700 text-blue-700 font-medium rounded px-4 py-2 text-center sm:text-left"
            th:text="#{usermanagement.revert}"
          >
            Änderungen verwerfen
          </button>
        </div>
      </form>
    </th:block>
  </body>
</html>
