@import "../components/ajax-loader.css" layer(components);
@import "../components/avatar-group.css" layer(components);
@import "../components/checkbox-switch.css" layer(components);
@import "../components/info-banner.css" layer(components);
@import "../components/launchpad.css" layer(components);
@import "../components/modal.css" layer(components);
@import "../components/feedback.css" layer(components);
@import "../components/feedback-heart.css" layer(components);
@import "../components/navigation.css" layer(components);
@import "../components/tooltip.css" layer(components);
@import "../components/topbar.css" layer(components);
@import "../components/user-search.css" layer(components);

@reference "../config.css";

@layer components {
  .content-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: --spacing(8);
  }

  .content--max-w {
    @apply max-w-7xl;
  }

  .sloth-background {
    background-image: url("/images/sloths_1280.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    min-height: 350px;
    max-height: 600px;
    margin-top: auto;
  }

  duet-date-picker.edited ~ label > span {
    color: var(--color-blue-600);
  }

  details.details-unstyled {
    > summary {
      list-style: none;
    }

    > summary::-webkit-details-marker {
      display: none;
    }
  }

  .button-primary {
    display: flex;
    padding: --spacing(2) --spacing(4);
    font-weight: var(--font-weight-medium);
    white-space: nowrap;
    border-radius: var(--radius-sm);

    background-color: var(--color-blue-700);
    border: 1px solid var(--color-blue-700);
    color: var(--color-white);
    @apply transition-colors;

    &:hover {
      background-color: var(--color-blue-600);
    }

    @variant sm {
      justify-content: flex-start;
    }

    @variant dark {
      color: var(--color-zinc-950);
      background-color: var(--color-sky-600);
      border-color: var(--color-sky-600);

      &:hover {
        color: var(--color-zinc-950);
        background-color: var(--color-sky-500);
      }
    }
  }

  .button-primary-icon {
    align-items: center;
    justify-content: center;
    gap: --spacing(2);
  }

  .button-secondary {
    white-space: nowrap;
    border: 1px solid var(--color-blue-700);
    color: var(--color-blue-700);
    background-color: var(--color-white);
    font-weight: var(--font-weight-medium);
    border-radius: var(--radius-sm);
    text-align: center;
    padding: --spacing(2) --spacing(4);

    @variant sm {
      text-align: left;
    }

    @variant dark {
      color: var(--color-sky-600);
      border-color: var(--color-sky-600);
      background-color: transparent;

      &:hover {
        color: var(--color-sky-500);
        border-color: var(--color-sky-500);
      }
    }
  }

  .button-secondary-icon {
    display: flex;
    align-items: center;
    gap: --spacing(2);
  }

  .button-secondary--subtle {
    color: var(--color-gray-500);
    border-color: var(--color-gray-400);
    font-weight: var(--font-weight-normal);

    @variant dark {
      color: var(--color-zinc-400);
      border-color: var(--color-zinc-400);
    }
  }

  .button-secondary.button-secondary--narrow {
    padding: --spacing(1.5) --spacing(4);
  }

  .button-secondary-icon.button-secondary--narrow {
    padding: --spacing(1) --spacing(4) --spacing(1) --spacing(3);
  }

  .button--loading {
    position: relative;
    padding-left: 2.25rem !important;
    transition: padding ease-in-out 150ms;

    &::before {
      --dot-size: 0.5rem;
      --dot-color: var(--color-gray-600);
      --gradient-shift: calc((var(--dot-size) / 2) - 1px);

      content: "";
      position: absolute;
      top: calc(50% - var(--dot-size));
      left: 0.75rem;

      display: block;
      width: calc(var(--dot-size) * 2);
      aspect-ratio: 1;
      border-radius: 9999px;
      background:
        radial-gradient(farthest-side, var(--dot-color) 94%, #0000)
          top/var(--gradient-shift) var(--gradient-shift) no-repeat,
        conic-gradient(#0000 30%, var(--dot-color));
      -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(100% - var(--gradient-shift)),
        #000 0
      );
      animation: rotate-loading 1s infinite linear;
    }
  }
}
