@reference "../config.css";

@layer utilities {
  .invalid {
    --invalid-color: var(--color-red-600);
    --invalid-border-color: var(--color-red-600);

    color: var(--invalid-color);

    @variant dark {
      --invalid-color: var(--color-red-600);
      --invalid-border-color: var(--color-red-700);
    }
  }

  input.invalid {
    color: unset;
    border: 1px solid var(--invalid-border-color);
  }

  textarea.invalid {
    color: unset;
    border: 1px solid var(--invalid-border-color);
  }

  fieldset.invalid {
    color: unset;
    border: 1px solid var(--invalid-border-color);

    legend {
      color: var(--invalid-color);
    }
  }
}
