@reference "../config.css";

@layer theme {
  :root {
    --time-entries-box-border-radius: 27px;
  }
}

@layer components {
  :root {
    --timeslot-form-datepicker-background-color: var(--color-gray-200);
    --timeslot-form-day-color: var(--color-black);
    --timeslot-form-day-background-color: var(--color-white);
    --timeslot-form-border-color: var(--color-gray-200);

    @variant dark {
      --timeslot-form-datepicker-background-color: --alpha(
        var(--color-zinc-950) / 90%
      );
      --timeslot-form-day-color: var(--color-zinc-300);
      --timeslot-form-day-background-color: var(--color-zinc-300);
      --timeslot-form-border-color: var(--color-zinc-700);
    }
  }

  .time-entries-day {
    padding-left: --spacing(4);
    padding-right: --spacing(4);

    .time-entries-day__head {
      position: sticky;
      top: 0;
      z-index: var(--z-index-sticky);
    }

    .time-entries-day__absences,
    .time-entries-day__entries {
      display: flex;
      flex-direction: column;
      gap: --spacing(6);

      @variant md {
        gap: --spacing(2);

        @variant dark {
          gap: --spacing(0);
        }
      }
    }
  }

  .time-entry-cell {
    display: flex;
    flex-direction: column-reverse;

    > *:not(label) {
      flex-grow: 1;
    }

    input::-webkit-date-and-time-value {
      text-align: left;
    }

    label {
      font-size: var(--text-sm);
      cursor: pointer;
    }

    .checkbox-switch {
      display: inline-flex;
      align-items: center;

      input {
        margin: 0;
      }
    }
  }

  .time-entry-cell-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr) max-content;
    gap: --spacing(2);
    width: 100%;
    padding: --spacing(4) --spacing(5);

    border: 1px solid var(--timeslot-form-border-color);
    border-bottom-left-radius: var(--radius-3xl);
    border-bottom-right-radius: var(--radius-3xl);

    @variant dark {
      border-width: 0;
      padding: --spacing(4) --spacing(3);
    }
  }

  .time-entry-cell__comment {
    grid-row-start: 1;
    grid-column: 1 / span 5;
  }

  .time-entry-cell__from {
    grid-row-start: 2;
    grid-column: 1 / span 2;
  }

  .time-entry-cell__to {
    grid-row-start: 2;
    grid-column: 3 / span 2;
  }

  .time-entry-cell__duration {
    grid-row-start: 2;
    grid-column: 5 / span 2;
  }

  .time-entry-cell__break {
    grid-row-start: 1;
    grid-column-start: 6;
  }

  @variant xs {
    .time-entry-cell-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr) max-content;
      gap: --spacing(2);
    }

    .time-entry-cell__comment {
      grid-row-start: 1;
      grid-column: 1 / span 7;
    }

    .time-entry-cell__from {
      grid-row-start: 2;
      grid-column: 1 / span 2;
    }

    .time-entry-cell__to {
      grid-row-start: 2;
      grid-column: 3 / span 2;
    }

    .time-entry-cell__duration {
      grid-row-start: 2;
      grid-column: 5 / span 2;
    }

    .time-entry-cell__break {
      grid-row-start: 2;
      grid-column-start: 7;
    }
  }

  @variant md {
    .time-entry-cell {
      font-size: var(--text-sm);
    }

    .time-entry-cell-container {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(5, 1fr) max-content;
      gap: --spacing(2);

      border-left-width: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: var(--radius-3xl);
      border-top-right-radius: var(--radius-3xl);
    }

    .time-entry-cell__comment {
      grid-row-start: 1;
      grid-column: 1 / span 5;
    }

    .time-entry-cell__from {
      grid-row-start: 2;
      grid-column: 1 / span 2;
    }

    .time-entry-cell__to {
      grid-row-start: 2;
      grid-column: 3 / span 2;
    }

    .time-entry-cell__duration {
      grid-row-start: 2;
      grid-column: 5 / span 2;
    }

    .time-entry-cell__break {
      grid-row-start: 1;
      grid-column-start: 6;
    }
  }

  @variant lg {
    .time-entry-cell-container {
      grid-template-columns:
        1fr max-content max-content --spacing(16)
        max-content;
      padding-top: 0;
      padding-bottom: 0;
    }

    .time-entry-cell__comment {
      grid-row-start: 1;
      grid-column: 1 / span 1;
    }

    .time-entry-cell__from {
      grid-row-start: 1;
      grid-column: 2 / span 1;
    }

    .time-entry-cell__to {
      grid-row-start: 1;
      grid-column: 3 / span 1;
    }

    .time-entry-cell__duration {
      grid-row-start: 1;
      grid-column: 4 / span 1;
    }

    .time-entry-cell__break {
      grid-row-start: 1;
      grid-column: 5 / span 1;
    }
  }

  .timeslot-form-new {
    --timeslot-form-datepicker-background-color: var(--color-blue-700);
    --timeslot-form-day-color: var(--color-white);
    --timeslot-form-day-background-color: var(--color-blue-50);
    --timeslot-form-border-color: var(--color-blue-700);

    [data-error-container]:has(ul) {
      margin-top: --spacing(4);
    }

    @variant dark {
      --timeslot-form-datepicker-background-color: var(--color-sky-800);
      --timeslot-form-day-color: var(--color-zinc-300);
      --timeslot-form-day-background-color: var(--color-sky-100);
      --timeslot-form-border-color: var(--color-sky-800);

      .time-entry-box__inputs {
        border-radius: var(--radius-4xl);
      }
    }
  }

  .timeslot-form {
    .ajax-loader.ajax-loader--loading {
      @apply rounded-b-3xl;
      @apply md:rounded-b-none;
      @apply md:rounded-r-3xl;
    }

    input.edited {
      background-color: var(--color-blue-100);

      @variant dark {
        background-color: var(--color-sky-900);
      }
    }

    [data-error-container]:has(ul) {
      margin-top: --spacing(2);
    }
  }

  .timeslot-form.edited {
    .time-entry-box__inputs {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 3px var(--color-blue-700);
        border-radius: 27px;
      }

      @variant dark {
        &::after {
          box-shadow: none;
        }
      }
    }

    /* highlight save button for edited timeslot. not the delete button. */
    button[type="submit"]:not([name]) {
      color: var(--color-gray-700);
      background-color: var(--color-blue-100);

      @variant dark {
        color: var(--color-sky-100);
        background-color: var(--color-sky-900);
      }
    }
  }

  .timeslot-form--disabled {
    --timeslot-form-datepicker-background-color: var(--color-gray-100);
    --timeslot-form-day-color: var(--color-gray-500);
    --timeslot-form-day-background-color: var(--color-gray-50);
    --timeslot-form-border-color: var(--color-gray-200);

    label {
      cursor: default;
    }

    @variant dark {
      --timeslot-form-datepicker-background-color: var(--color-zinc-700);
      --timeslot-form-day-color: var(--color-zinc-300);
      --timeslot-form-day-background-color: var(--color-zinc-400);
      --timeslot-form-border-color: var(--color-zinc-700);

      .time-entry-box__inputs {
        border-radius: var(--radius-4xl);
      }

      @variant md {
        --timeslot-form-datepicker-background-color: var(--color-zinc-800);
      }
    }
  }

  .time-entry-box,
  .time-entry-box-absence {
    display: flex;
    flex-direction: column;
  }

  .time-entry-box {
    .time-entry-box__input__date {
      padding: --spacing(5);
      border-top-left-radius: var(--time-entries-box-border-radius);
      border-top-right-radius: var(--time-entries-box-border-radius);
      border-right-color: var(--timeslot-form-border-color);
      background-color: var(--timeslot-form-datepicker-background-color);
      color: var(--timeslot-form-day-color);
    }
  }

  .time-entry-box-absence {
    .time-entry-box__inputs {
      flex: 1 0 0;
      display: flex;
      flex-direction: column;

      .time-entry-box__input__date {
        display: flex;
        align-items: center;
        background-color: var(--color-gray-200);
        padding: --spacing(3) --spacing(5);
        border-top-left-radius: var(--time-entries-box-border-radius);
        border-top-right-radius: var(--time-entries-box-border-radius);

        @variant dark {
          background-color: var(--color-zinc-950);
        }
      }

      .time-entry-box__input__fields {
        border: 1px solid var(--color-gray-200);
        border-bottom-left-radius: var(--time-entries-box-border-radius);
        border-bottom-right-radius: var(--time-entries-box-border-radius);

        /* flex is defined in common .time-entry-box__input__fields */
        align-items: center;

        @variant dark {
          border: none;
        }
      }
    }
  }
  .time-entry-box__input__fields {
    flex: 1 0 0;
    display: flex;
    flex-direction: row;
  }

  .time-entry-box__controls {
    margin-top: --spacing(2);
    display: flex;
    align-items: center;
    justify-content: center;

    .time-entry-box__controls__button {
      color: var(--color-gray-500);

      @variant dark {
        color: var(--color-zinc-300);
      }
    }
  }

  .timeslot-form-new {
    .time-entry-box__controls {
      .time-entry-box__controls__button {
        color: var(--color-blue-700);

        @variant dark {
          color: var(--color-sky-100);

          @variant md {
            background-color: var(--color-sky-800);

            &:hover {
              color: var(--color-white);
              background-color: var(--color-sky-700);
            }
          }
        }
      }
    }
  }

  .time-entry-box-absence__absence-color-box {
    display: inline-block;
    width: 1.5rem;
    height: 100%;
    background-color: var(--color-amber-200);
    border-bottom-left-radius: var(--time-entries-box-border-radius);
  }

  .time-entry-box-absence__absence-text {
    padding: --spacing(6) --spacing(5);
    display: flex;
    align-items: center;
  }

  @variant dark {
    .time-entry-box__inputs {
      padding: --spacing(1);
      border: 1px solid var(--timeslot-form-border-color);
      background-color: var(--color-zinc-800);
    }

    @variant md {
      .time-entries-day__absences {
        .time-entry-box-absence {
          .time-entry-box__inputs {
            background-color: var(--color-zinc-950);

            .time-entry-box__input__date {
              padding-top: 0;
              padding-bottom: 0;
            }
          }

          &:first-of-type {
            .time-entry-box__inputs {
              border-top-width: 1px;
              border-top-color: var(--color-zinc-700);
              border-top-left-radius: var(--radius-4xl);
              border-top-right-radius: var(--radius-4xl);
            }
          }

          &:not(:last-of-type) {
            .time-entry-box__inputs {
              border-bottom: 1px solid var(--color-zinc-800);
            }
          }

          &:last-of-type {
            .time-entry-box__inputs {
              border-bottom-left-radius: var(--radius-4xl);
              border-bottom-right-radius: var(--radius-4xl);
            }
          }
        }
      }
    }

    .time-entry-box-absence,
    [is="z-time-entry-element"] {
      .time-entry-box__inputs {
        border-radius: var(--radius-4xl);
      }

      @variant md {
        .time-entry-box__inputs {
          border-radius: 0;
          border-width: 0;
        }

        &:first-of-type {
          .time-entry-box__inputs {
            border-top-width: 1px;
            border-top-color: var(--color-zinc-600);
            border-top-left-radius: var(--radius-4xl);
            border-top-right-radius: var(--radius-4xl);
          }
        }

        &:not(:last-of-type) {
          .time-entry-box__inputs {
            border-bottom: 1px solid var(--timeslot-form-border-color);
          }
        }

        &:last-of-type {
          .time-entry-box__inputs {
            border-bottom-left-radius: var(--radius-4xl);
            border-bottom-right-radius: var(--radius-4xl);
          }
        }
      }
    }
  }

  @variant md {
    .time-entry-box,
    .time-entry-box-absence {
      flex-direction: row;
    }

    .time-entry-box-absence {
      .time-entry-box__inputs {
        flex-direction: row;

        .time-entry-box__input__date {
          border-top-right-radius: 0;
          border-bottom-left-radius: var(--time-entries-box-border-radius);
        }

        .time-entry-box__input__fields {
          border-bottom-left-radius: 0;
          border-top-right-radius: var(--time-entries-box-border-radius);
          background-color: var(--color-gray-100);
          border-color: var(--color-gray-100);

          @variant dark {
            background-color: transparent;
            border: none;
          }
        }
      }
    }

    .time-entry-box {
      .time-entry-box__input__date {
        border-top-right-radius: 0;
        border-top-left-radius: var(--time-entries-box-border-radius);
        border-bottom-left-radius: var(--time-entries-box-border-radius);
        width: 14rem;
      }
    }

    .time-entry-box__controls {
      margin-top: 0;
      margin-left: --spacing(4);
      justify-content: flex-start;
      width: 20%;

      .time-entry-box__controls__button {
        width: --spacing(12);
        height: --spacing(12);
        border-radius: 999999px;
        color: var(--color-gray-300);
        transition:
          color ease-in-out 200ms,
          background-color ease-in-out 200ms;

        &:hover {
          color: var(--color-gray-700);
          background-color: var(--color-blue-100);
        }

        @variant dark {
          color: var(--color-zinc-500);
          &:hover {
            color: var(--color-sky-100);
            background-color: var(--color-sky-800);
          }
        }
      }
    }

    .time-entry-box-absence__absence-color-box {
      margin-top: --spacing(1);
      margin-bottom: --spacing(1);
      margin-left: --spacing(4);
      height: 3rem;
      width: 0.75rem;
      border-radius: var(--radius-lg);
    }

    .time-entry-box-absence__absence-text {
      font-weight: var(--font-weight-bold);
      font-size: var(--text-sm);
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @variant lg {
    .time-entry-box__controls {
      width: 16.6666666667%;
    }
  }

  .time-entry-history-list {
    display: flex;
    flex-direction: column;
    gap: --spacing(2);

    > li {
      .time-entry-history-list__element__summary {
        cursor: pointer;

        .details-summary-icon {
          display: inline-block;
          transition: transform 0.2s;
          margin-top: -3px;
        }
      }

      .time-entry-history-list__element__content {
        margin-top: --spacing(2);

        @variant dark {
          border-radius: var(--radius-3xl);
          overflow: hidden;
        }
      }

      .time-entry-history-list__element__details[open] {
        .time-entry-history-list__element__summary {
          .details-summary-icon {
            transform: rotate(90deg);
          }
        }
      }
    }

    > li:not(:last-of-type) {
      .time-entry-history-list__element__details {
        .time-entry-history-list__element__content {
          margin-bottom: --spacing(4);
        }
      }
    }
  }

  @variant md {
    .time-entry-history-list {
      > li {
        .time-entry-history-list__element__summary {
          display: flex;
          align-items: center;
          gap: --spacing(1);
        }
      }
    }
  }
}
