<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Navigation fragment</title>
  </head>
  <body>
    <th:block th:ref="nav">
      <div class="sticky top-0 z-50 mb-8 lg:mb-12">
        <div class="py-1.5 px-2 pr-4 lg:px-8 lg:py-1.5 bg-zinc-100">
          <div class="flex items-center">
            <div class="hidden lg:block flex-1">
              <a
                href="/"
                class="font-logo text-xl font-medium mr-8 md:mr-16"
                th:text="#{navigation.zeiterfassung}"
              >
                Zeiterfassung
              </a>
            </div>
            <div class="grow w-full max-w-screen-lg px-4 flex relative">
              <input id="menu-toggle-checkbox" type="checkbox" class="hidden" />
              <label for="menu-toggle-checkbox" class="z-50 flex lg:hidden">
                <span class="inline-block">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </label>
              <nav>
                <ul
                  class="flex flex-col space-y-8 lg:flex-row lg:space-y-0 overflow-hidden"
                >
                  <li class="mr-8">
                    <a
                      href="#"
                      th:href="@{/timeentries}"
                      class="flex items-center main-nav-link"
                      th:aria-current="${#httpServletRequest.getRequestURI().startsWith('/timeentries') ? 'page' : 'false'}"
                    >
                      <svg th:replace="icons/bookmark::svg"></svg>
                      <th:block
                        th:text="#{navigation.main.timetrack}"
                      ></th:block>
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      th:href="@{/report}"
                      class="flex items-center main-nav-link"
                      th:aria-current="${#httpServletRequest.getRequestURI().startsWith('/report') ? 'page' : 'false'}"
                    >
                      <svg th:replace="icons/chart-pie::svg"></svg>
                      <th:block th:text="#{navigation.main.reports}"></th:block>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="z-50 flex-1 flex items-center justify-end">
              <form
                th:if="${timeClock == null}"
                action="#"
                th:action="@{/timeclock/start}"
                method="post"
              >
                <button
                  type="submit"
                  class="bg-blue-700 text-white pl-3 pr-4 py-1 text-lg font-medium rounded-full flex items-center hover:bg-blue-600 transition-colors"
                >
                  <svg
                    th:replace="icons/play::svg(className='w-6 h-6 mr-1.5')"
                  />
                  <span th:text="#{timeclock.start}"> Start </span>
                </button>
              </form>
              <div th:if="${timeClock != null}" class="flex items-center">
                <details
                  class="details-dropdown details-dropdown--no-border mr-4"
                  is="z-details-dropdown"
                >
                  <summary class="details-dropdown_summary flex items-center">
                    <span
                      class="sr-only"
                      th:text="#{timeclock.elapsed-time.label}"
                    ></span>
                    <span
                      class="text-lg"
                      th:text="${timeClock.duration}"
                      th:data-started-at="${timeClock.startedAt}"
                      is="z-time-clock-duration"
                    ></span>
                    <svg
                      th:replace="icons/chevron-down::svg(className='w-4 h-4')"
                    ></svg>
                  </summary>
                  <div class="details-dropdown_content left-auto right-0">
                    <th:block th:object="${timeClock}">
                      <form
                        action="#"
                        th:replace="/timeclock/timeclock-edit-form::form(${timeClock})"
                      ></form>
                    </th:block>
                  </div>
                </details>
                <form action="#" th:action="@{/timeclock/stop}" method="post">
                  <button
                    type="submit"
                    class="bg-red-700 text-white pl-3 pr-4 py-1 text-lg font-medium rounded-full flex items-center hover:bg-red-600 transition-colors"
                  >
                    <svg
                      th:replace="icons/stop::svg(className='w-6 h-6 mr-1.5')"
                    />
                    <span th:text="#{timeclock.stop}"> Stop </span>
                  </button>
                </form>
              </div>
              <div class="ml-8 shrink-0 relative">
                <a
                  href="#avatar-menu"
                  id="avatar-link"
                  aria-expanded="false"
                  aria-haspopup="true"
                  is="z-nav-popup-menu-button"
                  class="flex flex-row items-center"
                >
                  <span class="inline-flex text-blue-200">
                    <img
                      th:replace="fragments/avatar::avatar(fullName=${signedInUser.fullName},width='52px',height='52px',className='w-10 h-10 lg:w-9 lg:h-9')"
                      alt=""
                    />
                  </span>
                  <svg
                    th:replace="icons/chevron-down::svg(className='w-4 h-4')"
                  ></svg>
                </a>
                <div id="avatar-menu" class="nav-popup-menu">
                  <div class="nav-popup-menu-inner">
                    <ul class="list-none m-0 p-0 max-w-xs">
                      <li class="mb-1">
                        <a
                          href="/"
                          th:href="@{/}"
                          class="bg-gradient-to-br from-blue-50 via-gray-100 to-blue-100 dark:from-sky-800 dark:via-slate-800 dark:to-sky-900 bg-blue-50 px-6 py-3 rounded-t-2xl flex items-center gap-4 hover:no-underline focus:no-underline"
                        >
                          <span class="text-blue-200">
                            <img
                              th:replace="fragments/avatar::avatar(fullName=${signedInUser.fullName},width='64px',height='64px')"
                              alt=""
                            />
                          </span>
                          <p
                            class="m-0 whitespace-nowrap overflow-hidden text-ellipsis"
                          >
                            <span
                              th:text="#{navigation.avatar-menu.signed-in-as}"
                              class="text-sm block text-gray-600 dark:text-zinc-100"
                            ></span>
                            <span
                              class="text-lg leading-none text-gray-700 hover:text-black focus:text-black dark:text-zinc-200"
                              th:text="${signedInUser.fullName}"
                            >
                              Max Mustermann
                            </span>
                          </p>
                        </a>
                      </li>
                      <li>
                        <form
                          action="#"
                          th:action="@{/logout}"
                          method="POST"
                          class="ml-auto w-full"
                        >
                          <button
                            type="submit"
                            class="nav-popup-menu_link rounded-b-2xl"
                            data-test-id="logout"
                          >
                            <span
                              class="px-2 py-1 rounded flex items-center ml-2.5"
                            >
                              <svg
                                th:replace="icons/logout::svg(className='w-6 h-6')"
                              ></svg>
                            </span>
                            <span
                              class="ml-4"
                              th:text="#{navigation.avatar-menu.logout}"
                            ></span>
                          </button>
                        </form>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="navigation-content-spacer flex justify-between w-full lg:hidden"
        >
          <div class="navigation-content-spacer--left h-4 w-4"></div>
          <div class="navigation-content-spacer--right h-4 w-4"></div>
        </div>
      </div>
    </th:block>
  </body>
</html>
