<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de" th:lang="${lang}">
  <head
    th:replace="~{_layout::head(title=~{::title}, styles=~{::styles}, scripts=~{::scripts}, scriptsDefer=~{::scriptsDefer})}"
  >
    <title>Zeiterfassung</title>
    <th:block th:fragment="styles">
      <link rel="stylesheet" type="text/css" th:href="@{/time-entries.css}" />
    </th:block>
    <th:block th:fragment="scripts">
      <script th:replace="~{fragments/i18n::date-picker}"></script>
      <script th:replace="~{fragments/i18n::time-entry}"></script>
      <script th:replace="~{fragments/i18n::time-slot-validation}"></script>
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script
        type="module"
        src=""
        th:src="@{/assets/date-fns-localized.js}"
      ></script>
      <script type="module" src="" th:src="@{/assets/time-entries.js}"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::content})}">
    <th:block
      th:fragment="content"
      th:with="noTimeEntriesYet=${timeEntryWeeksPage.totalTimeEntryElements eq 0}"
    >
      <main class="mt-4 flex-1 flex flex-col">
        <div class="mx-auto w-full max-w-screen-lg mb-16 md:mb-28">
          <div class="px-4">
            <div class="flex">
              <h1
                class="flex-1 text-2xl text-blue-700 text-center mb-4"
                th:text="#{time-entry.create.title}"
              >
                Neuen Zeitslot erfassen
              </h1>
              <div class="time-entry-box__controls"></div>
            </div>
            <th:block
              th:insert="~{::timeentry-slot-form(formAction=@{/timeentries}, timeEntry=${timeEntry}, actions=~{::timeentry-slot-form-actions-new}, class='timeslot-form-new')}"
            ></th:block>
          </div>
        </div>
        <div
          th:if="${noTimeEntriesYet}"
          class="flex-1 mx-auto w-full max-w-screen-lg flex flex-col"
        >
          <div class="-translate-y-12 md:-translate-y-16">
            <div class="mb-8 md:mb-16 flex justify-center">
              <img
                src="#"
                th:src="@{/images/create-first-timeslot-arrow.svg}"
                width="147px"
                height="60px"
                class="md:ml-auto mr-36 md:mr-48 w-28 md:w-auto"
              />
            </div>
            <p
              class="text-xl xs:text-4xl text-center"
              th:text="#{time-entry.no-entries-available}"
            >
              Noch keine Zeitslots erfasst
            </p>
          </div>
          <div class="sloth-background flex-1"></div>
        </div>
        <turbo-frame id="frame-time-entry">
          <th:block th:if="${turboEditedTimeEntry != null}">
            <turbo-stream
              th:if="${turboEditedWeek != null}"
              action="replace"
              th:target="${'week-banner-'+ turboEditedWeek.calendarWeek}"
            >
              <template
                th:insert="~{::week-banner(${turboEditedWeek})}"
              ></template>
            </turbo-stream>
            <turbo-stream
              th:if="${turboEditedWeek != null}"
              action="replace"
              th:target="${'day-of-week-banner-'+ turboEditedWeek.calendarWeek + '-' + turboEditedTimeEntry.date.dayOfWeek}"
            >
              <template
                th:insert="~{::day-of-week-banner(${turboEditedWeek.calendarWeek}, ${turboEditedDay})}"
              ></template>
            </turbo-stream>
            <turbo-stream
              action="replace"
              th:target="${'time-entry-' + turboEditedTimeEntry.id}"
            >
              <template
                th:insert="~{::time-entry-element(${turboEditedTimeEntry})}"
              ></template>
            </turbo-stream>
          </th:block>
          <th:block th:if="${turboDeletedTimeEntry != null}">
            <turbo-stream
              action="replace"
              th:target="${'week-banner-'+ turboEditedWeek.calendarWeek}"
            >
              <template
                th:insert="::week-banner(${turboEditedWeek})"
              ></template>
            </turbo-stream>
            <turbo-stream
              th:if="${turboEditedDay != null}"
              th:target="${'day-of-week-banner-'+ turboEditedWeek.calendarWeek + '-' + turboDeletedTimeEntry.date.dayOfWeek}"
              action="replace"
            >
              <template
                th:insert="::day-of-week-banner(${turboEditedWeek.calendarWeek}, ${turboEditedDay})"
              ></template>
            </turbo-stream>
            <turbo-stream
              th:if="${turboEditedDay == null}"
              th:target="${'day-of-week-'+ turboEditedWeek.calendarWeek + '-' + turboDeletedTimeEntry.date.dayOfWeek}"
              action="remove"
            ></turbo-stream>
            <turbo-stream
              action="remove"
              th:target="${'time-entry-' + turboDeletedTimeEntry.id}"
            ></turbo-stream>
          </th:block>
        </turbo-frame>
        <turbo-frame id="frame-time-entry-weeks">
          <th:block
            th:if="${not (turboStreamsEnabled eq null) and turboStreamsEnabled eq true}"
          >
            <turbo-stream action="append" target="time-entries-box">
              <template th:insert="~{::time-entries-box-content}"></template>
            </turbo-stream>
            <turbo-stream action="replace" target="load-more-button">
              <template th:insert="~{::#load-more-button}"></template>
            </turbo-stream>
          </th:block>
        </turbo-frame>
        <div
          th:if="${not noTimeEntriesYet}"
          class="mx-auto w-full max-w-screen-lg space-y-16"
          th:classappend="${timeEntryWeeksPage.totalTimeEntryElements eq 0 ? 'mb-8' : ''}"
        >
          <div id="time-entries-box" class="space-y-16">
            <th:block th:ref="time-entries-box-content">
              <div th:with="week=${timeEntryWeeksPage.timeEntryWeek}">
                <div class="px-4">
                  <div
                    th:fragment="week-banner(week)"
                    th:id="${'week-banner-'+ week.calendarWeek}"
                    class="flex items-center"
                  >
                    <div
                      class="flex-1 py-1 px-4 w-full rounded-full bg-blue-50 border border-blue-100"
                    >
                      <div
                        class="relative flex justify-between gap-x-2 flex-wrap text-blue-900 text-sm"
                      >
                        <h3
                          class="font-medium"
                          th:text="#{time-entry.overview.week.group.title.date-range(${week.calendarWeek}, ${week.from}, ${week.to})}"
                        ></h3>
                        <p
                          class="tabular-nums text-sm text-gray-800 font-medium sm:flex-1 sm:absolute sm:left-0 sm:right-0 sm:text-center"
                        >
                          <span class="inline-flex items-center">
                            <th:block th:if="${week.hoursDeltaNegative}"
                              >-</th:block
                            >
                            <th:block th:if="${not week.hoursDeltaNegative}"
                              >+</th:block
                            >
                            <span
                              class="font-bold tabular-nums"
                              th:text="${week.hoursDelta}"
                            >
                              05:45
                            </span>
                            <th:block th:if="${not week.hoursDeltaNegative}">
                              <svg
                                th:replace="~{icons/trending-up::svg(className='w-4 h-4 ml-1')}"
                              ></svg>
                            </th:block>
                          </span>
                        </p>
                        <p
                          th:if="${not #lists.isEmpty(week.timeEntries) or not #lists.isEmpty(week.absenceEntries)}"
                          class="sr-only sm:not-sr-only"
                        >
                          <th:block
                            th:text="#{time-entry.overview.week.group.hours-bar.week}"
                          >
                            Woche:
                          </th:block>
                          <span
                            class="font-bold tabular-nums"
                            th:text="${week.hoursWorked}"
                          ></span>
                          (<th:block
                            th:text="#{time-entry.overview.week.group.hours-bar.should}"
                            >Soll:</th:block
                          >&nbsp;
                          <span
                            class="font-bold tabular-nums"
                            th:text="${week.hoursWorkedShould}"
                          >
                            40:00 </span
                          >)
                        </p>
                      </div>
                      <div
                        class="translate-y-1 h-1 rounded-full bg-gradient-to-r from-blue-100 to-blue-500"
                        th:styleappend="${'width:' + week.hoursWorkedRatio + '%'}"
                      ></div>
                    </div>
                    <div class="time-entry-box__controls"></div>
                  </div>
                </div>
                <div
                  class="mt-2"
                  th:if="${#lists.isEmpty(week.timeEntries) and #lists.isEmpty(week.absenceEntries)}"
                >
                  <p
                    class="m-8"
                    th:text="#{time-entry.no-entries-available.week}"
                  >
                    In dieser Woche sind keine Einträge vorhanden.
                  </p>
                </div>
                <div
                  th:if="${not #lists.isEmpty(week.timeEntries()) or not #lists.isEmpty(week.absenceEntries())}"
                >
                  <div
                    th:each="day: ${week.days}"
                    th:with="calendarWeek=${week.calendarWeek}"
                    class="space-y-4"
                    th:classappend="${dayStat.first ? 'mt-2' : 'mt-8 md:mt-4'}"
                    th:id="${'day-of-week-' + calendarWeek + '-' + day.dayOfWeek}"
                  >
                    <div
                      class="px-4 sticky pt-px z-10"
                      style="top: var(--top-bar-height)"
                    >
                      <div
                        th:fragment="day-of-week-banner(calendarWeek, day)"
                        th:id="${'day-of-week-banner-' + calendarWeek + '-' + day.dayOfWeek}"
                        class="flex items-center"
                      >
                        <div
                          class="flex-1 py-1 px-4 w-full rounded-full bg-green-50 border border-green-100"
                        >
                          <div
                            class="relative flex justify-between gap-x-2 flex-wrap text-green-900 text-sm"
                          >
                            <h4 class="font-medium" th:text="${day.date}"></h4>
                            <p
                              class="tabular-nums text-sm text-gray-800 font-medium sm:flex-1 sm:absolute sm:left-0 sm:right-0 sm:text-center"
                            >
                              <span class="inline-flex items-center">
                                <th:block th:if="${day.hoursDeltaNegative}"
                                  >-</th:block
                                >
                                <th:block th:if="${not day.hoursDeltaNegative}"
                                  >+</th:block
                                >
                                <span
                                  class="font-bold tabular-nums"
                                  th:text="${day.hoursDelta}"
                                >
                                  01:30
                                </span>
                                <th:block
                                  th:if="${not day.hoursDeltaNegative and day.hoursDelta != '00:00'}"
                                >
                                  <svg
                                    th:replace="~{icons/trending-up::svg(className='w-4 h-4 ml-1')}"
                                  ></svg>
                                </th:block>
                              </span>
                            </p>
                            <p
                              th:if="${not #lists.isEmpty(day.timeEntries) or not #lists.isEmpty(day.absenceEntries)}"
                              class="sr-only sm:not-sr-only"
                            >
                              <th:block
                                th:text="#{time-entry.overview.day.group.hours-bar.day}"
                                >Tag:</th:block
                              >
                              <span
                                class="font-bold tabular-nums"
                                th:text="${day.hoursWorked}"
                              ></span>
                              (<th:block
                                th:text="#{time-entry.overview.day.group.hours-bar.should}"
                                >Soll:</th:block
                              >&nbsp;
                              <span
                                class="font-bold tabular-nums"
                                th:text="${day.hoursWorkedShould}"
                              >
                                08:00 </span
                              >)
                            </p>
                          </div>
                          <div
                            class="translate-y-1 h-1 rounded-full bg-gradient-to-r from-green-100 to-green-500"
                            th:styleappend="${'width:' + day.hoursWorkedRatio + '%'}"
                          ></div>
                        </div>
                        <div class="time-entry-box__controls"></div>
                      </div>
                    </div>
                    <div class="px-4 space-y-6 md:space-y-2">
                      <th:block th:each="absenceEntry : ${day.absenceEntries}">
                        <div class="time-entry-box-absence">
                          <div class="time-entry-box-absence__input">
                            <div class="time-entry-box-absence__input__date">
                              <div class="flex items-center">
                                <span
                                  th:text="${#temporals.day(absenceEntry.date)}"
                                  class="rounded-full w-6 h-6 p-5 flex items-center justify-center bg-white text-black mr-4 font-bold"
                                ></span>
                                <span
                                  th:text="${#temporals.format(absenceEntry.date, 'dd. MMMM yyyy')}"
                                  class="whitespace-nowrap text-sm md:font-bold"
                                ></span>
                              </div>
                            </div>
                            <div class="time-entry-box-absence__input__fields">
                              <div
                                class="time-entry-box-absence__absence-color-box"
                                th:style="|background-color:var(--absence-color-${absenceEntry.color})|"
                              ></div>
                              <p
                                class="time-entry-box-absence__absence-text"
                                th:text="${#messages.msg(absenceEntry.nameMessageKey)}"
                              >
                                Erholungsurlaub
                              </p>
                            </div>
                          </div>
                          <div class="time-entry-box-absence__controls">
                            <!-- dummy controls block -->
                          </div>
                        </div>
                      </th:block>
                      <th:block th:each="timeEntry: ${day.timeEntries}">
                        <div
                          is="z-time-entry-element"
                          th:fragment="time-entry-element(timeEntry)"
                          th:with="formAction=@{/timeentries/{id} (id=${timeEntry.id})}"
                          th:id="${'time-entry-' + timeEntry.id}"
                          th:data-date="${#temporals.format(timeEntry.date, 'EEEE, dd. MMMM')}"
                          th:data-duration="${timeEntry.duration}"
                          th:insert="~{::timeentry-slot-form(formAction=${formAction}, timeEntry=${timeEntry}, actions=~{::timeentry-slot-form-actions-existing(${timeEntry})}, class='timeslot-form-existing')}"
                          data-turbo="true"
                        ></div>
                      </th:block>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
          <nav class="mt-16">
            <noscript>
              <ul class="ml-6 flex gap-8">
                <li>
                  <a
                    href="#"
                    th:href="@{/timeentries/{year}/{week} (year=${timeEntryWeeksPage.pastYear}, week=${timeEntryWeeksPage.pastWeekOfYear})}"
                    class="text-lg font-bold mx-auto px-4 py-2 inline-block border border-blue-600 text-blue-600 rounded-full"
                    th:text="#{time-entry.pagination.past}"
                  >
                    Zurück in die Vergangenheit
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    th:href="@{/timeentries}"
                    class="text-lg font-bold mx-auto px-4 py-2 inline-block border border-blue-600 text-blue-600 rounded-full"
                    th:text="#{time-entry.pagination.today}"
                  >
                    Heutige Kalenderwoche
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    th:href="@{/timeentries/{year}/{week} (year=${timeEntryWeeksPage.futureYear}, week=${timeEntryWeeksPage.futureWeekOfYear})}"
                    class="text-lg font-bold mx-auto px-4 py-2 inline-block border border-blue-600 text-blue-600 rounded-full"
                    th:text="#{time-entry.pagination.future}"
                  >
                    Weiter in die Zukunft
                  </a>
                </li>
              </ul>
            </noscript>
            <div hidden data-js-no-hidden class="text-center" data-turbo="true">
              <a
                id="load-more-button"
                href="#"
                th:href="@{/timeentries/{year}/{week} (year=${timeEntryWeeksPage.pastYear}, week=${timeEntryWeeksPage.pastWeekOfYear})}"
                class="ajax-loader text-lg font-medium mx-auto px-4 py-2 inline-block border border-blue-600 text-blue-600 rounded-full"
                data-turbo-frame="frame-time-entry-weeks"
                th:text="#{time-entry.pagination.load-more}"
              >
                Mehr Einträge anzeigen
              </a>
            </div>
          </nav>
        </div>
      </main>
    </th:block>

    <template id="z-template-zeitslot">
      <form
        th:fragment="timeentry-slot-form(formAction, timeEntry, actions, class)"
        is="z-time-entry-slot-form"
        action="#"
        th:action="${formAction}"
        method="post"
        class="flex flex-col-reverse md:flex-col"
        th:classappend="${class}"
        th:with="rnd=${#strings.randomAlphanumeric(6)}"
        th:object="${timeEntry}"
      >
        <h4
          class="sr-only"
          th:text="${#temporals.format(timeEntry.date, 'dd. MMMM yyyy')}"
        ></h4>
        <div class="flex flex-col md:flex-row">
          <div class="flex-1 flex flex-col md:flex-row">
            <div
              is="z-time-entry-date-picker"
              class="time-entry-box__input__date flex flex-col items-center"
              data-js-class-remove="flex-col"
            >
              <input
                type="date"
                id="input-entry-date"
                th:id="|${rnd}-input-entry-date|"
                name="date"
                class="text-black"
                value="2021-11-27"
                th:value="${#temporals.format(timeEntry.date, 'yyyy-MM-dd')}"
                data-iso-value="2021-11-27"
                th:data-iso-value="${#temporals.format(timeEntry.date, 'yyyy-MM-dd')}"
                data-js-hidden
              />
              <label
                for="input-entry-date"
                th:for="|${rnd}-input-entry-date|"
                class="w-full flex cursor-pointer"
              >
                <span
                  data-day
                  class="rounded-full w-6 h-6 p-5 flex items-center justify-center bg-timeslot-form-day text-black mr-4 font-bold"
                  th:text="${#temporals.day(timeEntry.date)}"
                >
                  21
                </span>
                <span class="flex-1 flex flex-col text-sm">
                  <span
                    data-day-text
                    class="font-semibold"
                    th:with="dayOfWeekName=${#temporals.dayOfWeekName(timeEntry.date)}"
                    th:text="${timeEntry.today ? #messages.msg('datepicker.today') + ', ' + dayOfWeekName : dayOfWeekName}"
                  >
                    Heute, Sonntag
                  </span>
                  <span
                    data-date
                    th:text="${#temporals.format(timeEntry.date, 'dd. MMMM yyyy')}"
                    class="whitespace-nowrap"
                  >
                    21. November 2021
                  </span>
                </span>
              </label>
            </div>
            <div class="time-entry-box__input__fields">
              <svg
                class="hidden md:block h-full text-timeslot-form-datepicker-background border border-timeslot-form border-l-0 border-r-0"
                width="28"
                height="76"
                viewBox="0 0 28 76"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0 76C36.4259 46.2385 36.507 29.5983 0 0V76Z"
                  fill="currentColor"
                />
              </svg>
              <div
                class="ajax-loader flex-1 border md:border-l-0 border-timeslot-form rounded-b-3xl md:rounded-b-none md:rounded-r-3xl flex items-center"
              >
                <div class="time-entry-cell-container">
                  <div class="time-entry-cell time-entry-cell__comment">
                    <input
                      type="text"
                      id="input-entry-comment"
                      th:id="|${rnd}-input-entry-comment|"
                      name="comment"
                      th:value="${timeEntry.comment}"
                      placeholder="Woran arbeitest du gerade?"
                      th:placeholder="#{time-entry.form.comment.input.placeholder}"
                      class="border border-gray-200"
                    />
                    <label
                      for="input-entry-comment"
                      th:for="|${rnd}-input-entry-comment|"
                      th:text="#{time-entry.form.comment.label}"
                    >
                      Kommentar
                    </label>
                  </div>
                  <div class="time-entry-cell time-entry-cell__from">
                    <input
                      type="time"
                      id="input-entry-from"
                      th:id="|${rnd}-input-entry-from|"
                      name="start"
                      th:value="${timeEntry.start}"
                      placeholder="Von"
                      th:placeholder="#{time-entry.form.start.input.placeholder}"
                      class="peer border border-gray-200 invalid:border-red-600"
                      th:classappend="${#fields.hasErrors('start') && timeEntryErrorId == timeEntry.id ? 'border-red-600' : ''}"
                    />
                    <label
                      for="input-entry-from"
                      th:for="|${rnd}-input-entry-from|"
                      class="peer-invalid:text-red-600"
                      th:classappend="${#fields.hasErrors('start') && timeEntryErrorId == timeEntry.id ? 'text-red-600' : ''}"
                      th:text="#{time-entry.form.start.label}"
                    >
                      Von
                    </label>
                  </div>
                  <div class="time-entry-cell time-entry-cell__to">
                    <input
                      type="time"
                      id="input-entry-to"
                      th:id="|${rnd}-input-entry-to|"
                      name="end"
                      th:value="${timeEntry.end}"
                      placeholder="Bis"
                      th:placeholder="#{time-entry.form.end.input.placeholder}"
                      class="peer border border-gray-200 invalid:border-red-600"
                      th:classappend="${#fields.hasErrors('end') && timeEntryErrorId == timeEntry.id ? 'border-red-600' : ''}"
                    />
                    <label
                      for="input-entry-to"
                      th:for="|${rnd}-input-entry-to|"
                      class="peer-invalid:text-red-600"
                      th:classappend="${#fields.hasErrors('end') && timeEntryErrorId == timeEntry.id ? 'text-red-600' : ''}"
                      th:text="#{time-entry.form.end.label}"
                    >
                      Bis
                    </label>
                  </div>
                  <div class="time-entry-cell time-entry-cell__duration">
                    <input
                      is="z-time-entry-duration-input"
                      type="text"
                      id="input-entry-duration"
                      th:id="|${rnd}-input-entry-duration|"
                      name="duration"
                      th:value="${timeEntry.duration}"
                      placeholder="hh:mm"
                      th:placeholder="#{time-entry.form.duration.input.placeholder}"
                      class="peer border border-gray-200 invalid:border-red-600"
                      th:classappend="${#fields.hasErrors('duration') && timeEntryErrorId == timeEntry.id ? 'border-red-600' : ''}"
                    />
                    <label
                      for="input-entry-duration"
                      th:for="|${rnd}-input-entry-duration|"
                      class="peer-invalid:text-red-600"
                      th:classappend="${#fields.hasErrors('duration') && timeEntryErrorId == timeEntry.id ? 'text-red-600' : ''}"
                      th:text="#{time-entry.form.duration.label}"
                    >
                      Dauer
                    </label>
                  </div>
                  <div class="time-entry-cell time-entry-cell__break">
                    <span class="checkbox-switch">
                      <input
                        type="checkbox"
                        id="input-entry-is-break"
                        th:id="|${rnd}-input-entry-is-break|"
                        name="break"
                        th:checked="${timeEntry.isBreak}"
                        class="peer mt-0.5"
                      />
                    </span>
                    <label
                      for="input-entry-is-break"
                      th:for="|${rnd}-input-entry-is-break|"
                      th:text="#{time-entry.form.is-break.label}"
                    >
                      Pause
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="time-entry-box__controls" th:insert="${actions}"></div>
        </div>
        <div
          class="text-red-600"
          data-error-container
          xtra:strip-whitespace="deep"
        >
          <ul th:if="${#fields.hasGlobalErrors()}">
            <li th:each="err : ${#fields.globalErrors()}" th:text="${err}">
              Etwas stimmt nicht, Jim.
            </li>
          </ul>
        </div>
      </form>
    </template>

    <template id="z-template-zeitslot-actions-new">
      <th:block th:fragment="timeentry-slot-form-actions-new">
        <button
          type="submit"
          class="mr-4 flex items-center justify-center text-blue-700 md:rounded-full md:w-12 md:h-12 hover:md:bg-blue-100 transition-colors duration-200"
        >
          <svg
            th:replace="~{icons/plus::svg(className='w-6 h-6 md:w-10 md:h-10 stroke-2 md:stroke-1')}"
          ></svg>
          <span class="ml-2 md:sr-only" th:text="#{time-entry.form.create}">
            Eintragen
          </span>
        </button>
      </th:block>
    </template>

    <template id="z-template-zeitslot-actions-existing">
      <th:block th:fragment="timeentry-slot-form-actions-existing(timeEntry)">
        <div class="time-entry-actions">
          <button
            data-toggle-button
            data-reset-on-body-click
            type="button"
            class="flex items-center justify-center gap-2"
          >
            <svg
              th:replace="~{icons/more-vertical::svg(className='w-5 h-5 md:w-6 md:h-6')}"
            ></svg>
            <span class="sr-only" th:text="#{time-entry.form.actions.text}">
              Aktionen
            </span>
          </button>
          <ul class="time-entry-actions-list flex flex-col gap-1">
            <li>
              <button
                type="reset"
                title="Zurücksetzen"
                th:title="#{time-entry.form.reset.tooltip}"
                data-js-hidden
              >
                <svg
                  th:replace="~{icons/refresh::svg(className='w-5 h-5')}"
                ></svg>
                <span th:text="#{time-entry.form.reset}"> Zurücksetzen </span>
              </button>
            </li>
            <li>
              <button
                type="submit"
                title="Speichern"
                th:title="#{time-entry.form.save.tooltip}"
                data-turbo-frame="frame-time-entry"
              >
                <svg th:replace="~{icons/save::svg(className='w-5 h-5')}"></svg>
                <span th:text="#{time-entry.form.save}"> Speichern </span>
              </button>
            </li>
            <li>
              <button
                type="submit"
                name="delete"
                title="Löschen"
                th:title="#{time-entry.form.delete.tooltip}"
                data-turbo-frame="frame-time-entry"
              >
                <svg
                  th:replace="~{icons/trash::svg(className='w-5 h-5')}"
                ></svg>
                <span th:text="#{time-entry.form.delete}"> Löschen </span>
              </button>
            </li>
          </ul>
        </div>
      </th:block>
    </template>
  </body>
</html>
