<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de" th:lang="${lang}">
  <head
    th:replace="~{_layout::head(title=~{::title}, styles=~{::styles}, scripts=~{::scripts}, scriptsDefer=~{::scriptsDefer})}"
  >
    <title>Zeiterfassung</title>
    <th:block th:fragment="styles">
      <link rel="stylesheet" type="text/css" th:href="@{/time-entries.css}" />
    </th:block>
    <th:block th:fragment="scripts">
      <script th:replace="~{fragments/i18n::date-picker}"></script>
      <script th:replace="~{fragments/i18n::time-entry}"></script>
      <script th:replace="~{fragments/i18n::time-slot-validation}"></script>
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script
        type="module"
        src=""
        th:src="@{/assets/date-fns-localized.js}"
      ></script>
      <script type="module" src="" th:src="@{/assets/time-entries.js}"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::content})}">
    <th:block
      th:fragment="content"
      th:with="noTimeEntriesYet=${timeEntryWeeksPage.totalTimeEntryElements eq 0}"
    >
      <main class="flex-1 flex flex-col">
        <div
          class="mx-auto w-full max-w-screen-lg mb-16 md:mb-28"
          data-testid="time-entry-create-container"
        >
          <div class="px-4">
            <div class="flex">
              <h1
                th:if="${viewedUser == null}"
                class="flex-1 text-2xl text-blue-700 text-center mb-4"
                th:text="#{time-entry.create.title}"
              >
                Neuen Zeitslot erfassen
              </h1>
              <div
                th:if="${viewedUser != null}"
                class="flex-1 flex items-center justify-center gap-4 mb-4"
              >
                <span class="inline-flex text-blue-200">
                  <span
                    th:replace="~{fragments/avatar::avatar-bordered(${viewedUser.fullName()},52,52)}"
                  ></span>
                </span>
                <h1
                  class="text-2xl text-blue-700"
                  th:text="#{time-entry.create.title.other-user(${viewedUser.fullName()})}"
                >
                  Neuen Zeitslot erfassen für Max Mustermann
                </h1>
              </div>
              <div class="time-entry-box__controls"></div>
            </div>
            <th:block
              th:if="${viewedUser == null}"
              th:object="${timeEntry}"
              th:with="action=@{/timeentries}"
            >
              <th:block
                th:insert="~{timeentries/fragments/time-entry-form::timeentry-slot-form(formAction=${action}, timeEntry=${timeEntry}, actions=~{::timeentry-slot-form-actions-new}, class='timeslot-form-new')}"
              ></th:block>
            </th:block>
            <th:block
              th:if="${viewedUser != null}"
              th:object="${timeEntry}"
              th:with="action=@{/timeentries/users/{id} (id=${viewedUser.localId()})}"
            >
              <th:block
                th:insert="~{timeentries/fragments/time-entry-form::timeentry-slot-form(formAction=${action}, timeEntry=${timeEntry}, actions=~{::timeentry-slot-form-actions-new}, class='timeslot-form-new')}"
              ></th:block>
            </th:block>
          </div>
        </div>
        <div
          th:if="${noTimeEntriesYet}"
          class="flex-1 mx-auto w-full max-w-screen-lg flex flex-col"
        >
          <div class="-translate-y-12 md:-translate-y-16">
            <div class="mb-8 md:mb-16 flex justify-center">
              <img
                src="#"
                th:src="@{/images/create-first-timeslot-arrow.svg}"
                width="147px"
                height="60px"
                class="md:ml-auto mr-36 md:mr-48 w-28 md:w-auto"
              />
            </div>
            <p
              class="text-xl xs:text-4xl text-center"
              th:text="#{time-entry.no-entries-available}"
            >
              Noch keine Zeitslots erfasst
            </p>
          </div>
          <div class="sloth-background flex-1"></div>
        </div>
        <turbo-frame id="frame-time-entry">
          <th:block th:if="${turboEditedTimeEntry != null}">
            <turbo-stream
              th:if="${turboEditedWeek != null}"
              action="replace"
              th:target="${'week-banner-'+ turboEditedWeek.calendarWeek}"
            >
              <template
                th:insert="~{::week-banner(${turboEditedWeek})}"
              ></template>
            </turbo-stream>
            <turbo-stream
              th:if="${turboEditedWeek != null}"
              action="replace"
              th:target="${'day-of-week-banner-'+ turboEditedWeek.calendarWeek + '-' + turboEditedTimeEntry.date.dayOfWeek}"
            >
              <template
                th:insert="~{::day-of-week-banner(${turboEditedWeek.calendarWeek}, ${turboEditedDay})}"
              ></template>
            </turbo-stream>
            <turbo-stream
              action="replace"
              th:target="${'time-entry-' + turboEditedTimeEntry.id}"
            >
              <template
                th:insert="~{::time-entry-element(${turboEditedTimeEntry})}"
              ></template>
            </turbo-stream>
          </th:block>
          <th:block th:if="${turboDeletedTimeEntry != null}">
            <turbo-stream
              action="replace"
              th:target="${'week-banner-'+ turboEditedWeek.calendarWeek}"
            >
              <template
                th:insert="~{::week-banner(${turboEditedWeek})}"
              ></template>
            </turbo-stream>
            <turbo-stream
              th:if="${turboEditedDay != null}"
              th:target="${'day-of-week-banner-'+ turboEditedWeek.calendarWeek + '-' + turboDeletedTimeEntry.date.dayOfWeek}"
              action="replace"
            >
              <template
                th:insert="~{::day-of-week-banner(${turboEditedWeek.calendarWeek}, ${turboEditedDay})}"
              ></template>
            </turbo-stream>
            <turbo-stream
              th:if="${turboEditedDay == null}"
              th:target="${'day-of-week-'+ turboEditedWeek.calendarWeek + '-' + turboDeletedTimeEntry.date.dayOfWeek}"
              action="remove"
            ></turbo-stream>
            <turbo-stream
              action="remove"
              th:target="${'time-entry-' + turboDeletedTimeEntry.id}"
            ></turbo-stream>
          </th:block>
        </turbo-frame>
        <turbo-frame id="frame-time-entry-weeks">
          <th:block
            th:if="${not (turboStreamsEnabled eq null) and turboStreamsEnabled eq true}"
          >
            <turbo-stream action="append" target="time-entries-box">
              <template th:insert="~{::time-entries-box-content}"></template>
            </turbo-stream>
            <turbo-stream action="replace" target="load-more-button">
              <template th:insert="~{::#load-more-button}"></template>
            </turbo-stream>
          </th:block>
        </turbo-frame>
        <div
          th:if="${not noTimeEntriesYet}"
          class="mx-auto w-full max-w-screen-lg space-y-16"
          th:classappend="${timeEntryWeeksPage.totalTimeEntryElements eq 0 ? 'mb-8' : ''}"
        >
          <div id="time-entries-box" class="space-y-16">
            <th:block th:ref="time-entries-box-content">
              <div th:with="week=${timeEntryWeeksPage.timeEntryWeek}">
                <div class="px-4">
                  <div
                    th:fragment="week-banner(week)"
                    th:id="${'week-banner-'+ week.calendarWeek}"
                    class="flex items-center"
                  >
                    <div
                      class="flex-1 py-1 px-4 w-full rounded-full bg-blue-50 border border-blue-100"
                    >
                      <div
                        class="relative flex justify-between gap-x-2 flex-wrap text-blue-900 text-sm"
                      >
                        <h3
                          class="font-medium"
                          th:text="#{time-entry.overview.week.group.title.date-range(${week.calendarWeek}, ${week.from}, ${week.to})}"
                        ></h3>
                        <p
                          class="tabular-nums text-sm text-gray-800 font-medium sm:flex-1 sm:absolute sm:left-0 sm:right-0 sm:text-center"
                        >
                          <span class="inline-flex items-center">
                            <th:block th:if="${week.hoursDeltaNegative}"
                              >-</th:block
                            >
                            <th:block th:if="${not week.hoursDeltaNegative}"
                              >+</th:block
                            >
                            <span
                              class="font-bold tabular-nums"
                              th:text="${week.hoursDelta}"
                            >
                              05:45
                            </span>
                            <th:block th:if="${not week.hoursDeltaNegative}">
                              <svg
                                th:replace="~{icons/trending-up::svg(className='w-4 h-4 ml-1')}"
                              ></svg>
                            </th:block>
                          </span>
                        </p>
                        <p
                          th:if="${not #lists.isEmpty(week.timeEntries) or not #lists.isEmpty(week.absenceEntries)}"
                          class="sr-only sm:not-sr-only"
                        >
                          <th:block
                            th:text="#{time-entry.overview.week.group.hours-bar.week}"
                          >
                            Woche:
                          </th:block>
                          <span
                            class="font-bold tabular-nums"
                            th:text="${week.hoursWorked}"
                          ></span>
                          (<th:block
                            th:text="#{time-entry.overview.week.group.hours-bar.should}"
                            >Geplant:</th:block
                          >
                          <span
                            class="font-bold tabular-nums"
                            th:text="${week.hoursWorkedShould}"
                          >
                            40:00 </span
                          >)
                        </p>
                      </div>
                      <div
                        class="translate-y-1 h-1 rounded-full bg-gradient-to-r from-blue-100 to-blue-500"
                        th:styleappend="${'width:' + week.hoursWorkedRatio + '%'}"
                      ></div>
                    </div>
                    <div class="time-entry-box__controls"></div>
                  </div>
                </div>
                <div
                  class="mt-2"
                  th:if="${#lists.isEmpty(week.timeEntries) and #lists.isEmpty(week.absenceEntries)}"
                >
                  <p
                    class="m-8"
                    th:text="#{time-entry.no-entries-available.week}"
                  >
                    In dieser Woche sind keine Einträge vorhanden.
                  </p>
                </div>
                <div
                  th:if="${not #lists.isEmpty(week.timeEntries()) or not #lists.isEmpty(week.absenceEntries())}"
                >
                  <div
                    th:each="day: ${week.days}"
                    th:with="calendarWeek=${week.calendarWeek}"
                    class="space-y-4"
                    th:classappend="${dayStat.first ? 'mt-2' : 'mt-8 md:mt-4'}"
                    th:id="${'day-of-week-' + calendarWeek + '-' + day.dayOfWeek}"
                  >
                    <div class="px-4 sticky top-nav-header pt-px z-10">
                      <div
                        th:fragment="day-of-week-banner(calendarWeek, day)"
                        th:id="${'day-of-week-banner-' + calendarWeek + '-' + day.dayOfWeek}"
                        class="flex items-center"
                      >
                        <div
                          class="flex-1 py-1 px-4 w-full rounded-full bg-green-50 border border-green-100"
                        >
                          <div
                            class="relative flex justify-between gap-x-2 flex-wrap text-green-900 text-sm"
                          >
                            <h4 class="font-medium" th:text="${day.date}"></h4>
                            <p
                              class="tabular-nums text-sm text-gray-800 font-medium sm:flex-1 sm:absolute sm:left-0 sm:right-0 sm:text-center"
                            >
                              <span class="inline-flex items-center">
                                <th:block th:if="${day.hoursDeltaNegative}"
                                  >-</th:block
                                >
                                <th:block th:if="${not day.hoursDeltaNegative}"
                                  >+</th:block
                                >
                                <span
                                  class="font-bold tabular-nums"
                                  th:text="${day.hoursDelta}"
                                >
                                  01:30
                                </span>
                                <th:block
                                  th:if="${not day.hoursDeltaNegative and day.hoursDelta != '00:00'}"
                                >
                                  <svg
                                    th:replace="~{icons/trending-up::svg(className='w-4 h-4 ml-1')}"
                                  ></svg>
                                </th:block>
                              </span>
                            </p>
                            <p
                              th:if="${not #lists.isEmpty(day.timeEntries) or not #lists.isEmpty(day.absenceEntries)}"
                              class="sr-only sm:not-sr-only"
                            >
                              <th:block
                                th:text="#{time-entry.overview.day.group.hours-bar.day}"
                                >Tag:</th:block
                              >
                              <span
                                class="font-bold tabular-nums"
                                th:text="${day.hoursWorked}"
                              ></span>
                              (<th:block
                                th:text="#{time-entry.overview.day.group.hours-bar.should}"
                                >Geplant:</th:block
                              >
                              <span
                                class="font-bold tabular-nums"
                                th:text="${day.hoursWorkedShould}"
                              >
                                08:00 </span
                              >)
                            </p>
                          </div>
                          <div
                            class="translate-y-1 h-1 rounded-full bg-gradient-to-r from-green-100 to-green-500"
                            th:styleappend="${'width:' + day.hoursWorkedRatio + '%'}"
                          ></div>
                        </div>
                        <div class="time-entry-box__controls"></div>
                      </div>
                    </div>
                    <div class="px-4 space-y-6 md:space-y-2">
                      <th:block th:each="absenceEntry : ${day.absenceEntries}">
                        <div class="time-entry-box-absence">
                          <div class="time-entry-box-absence__input">
                            <div class="time-entry-box-absence__input__date">
                              <div class="flex items-center">
                                <span
                                  th:text="${#temporals.day(absenceEntry.date)}"
                                  class="rounded-full w-6 h-6 p-5 flex items-center justify-center bg-white text-black mr-4 font-bold"
                                ></span>
                                <span
                                  th:text="${#temporals.format(absenceEntry.date, 'dd. MMMM yyyy')}"
                                  class="whitespace-nowrap text-sm md:font-bold"
                                ></span>
                              </div>
                            </div>
                            <div class="time-entry-box-absence__input__fields">
                              <div
                                class="time-entry-box-absence__absence-color-box"
                                th:style="|background-color:var(--absence-color-${absenceEntry.color})|"
                              ></div>
                              <p
                                class="time-entry-box-absence__absence-text"
                                th:text="${absenceEntry.name}"
                              >
                                Erholungsurlaub
                              </p>
                            </div>
                          </div>
                          <div class="time-entry-box-absence__controls">
                            <!-- dummy controls block -->
                          </div>
                        </div>
                      </th:block>
                      <th:block th:each="timeEntry: ${day.timeEntries}">
                        <div
                          is="z-time-entry-element"
                          th:fragment="time-entry-element(timeEntry)"
                          th:with="
                            timeEntryId=${timeEntry.id},
                            myself=@{/timeentries/{timeEntryId}(timeEntryId=${timeEntryId})}, other=@{/timeentries/users/{id}/timeentry/{timeEntryId}(id=${viewedUser==null ?-1 : viewedUser.localId()},timeEntryId=${timeEntryId})},
                            action=${viewedUser == null ? myself : other}
                          "
                          th:id="${'time-entry-' + timeEntry.id}"
                          th:data-date="${#temporals.format(timeEntry.date, 'EEEE, dd. MMMM')}"
                          th:data-duration="${timeEntry.duration}"
                          th:object="${timeEntry}"
                          data-turbo="true"
                        >
                          <th:block
                            th:insert="~{timeentries/fragments/time-entry-form::timeentry-slot-form(formAction=${action}, timeEntry=${timeEntry}, actions=~{::timeentry-slot-form-actions-existing(${timeEntry})}, class='timeslot-form-existing')}"
                          ></th:block>
                        </div>
                      </th:block>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
          <nav class="mt-16">
            <noscript>
              <ul class="ml-6 flex gap-8">
                <li>
                  <a
                    href="#"
                    th:with="
                      myself=@{/timeentries (year=${timeEntryWeeksPage.pastYear}, week=${timeEntryWeeksPage.pastWeekOfYear})},
                      other=@{/timeentries/users/{id} (id=${viewedUser==null ? -1 : viewedUser.localId()}, year=${timeEntryWeeksPage.pastYear}, week=${timeEntryWeeksPage.pastWeekOfYear})},
                      href=${viewedUser == null ? myself : other}
                    "
                    th:href="${href}"
                    class="text-lg font-bold mx-auto px-4 py-2 inline-block border border-blue-600 text-blue-600 rounded-full"
                    th:text="#{time-entry.pagination.past}"
                  >
                    Zurück in die Vergangenheit
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    th:with="
                      myself=@{/timeentries},
                      other=@{/timeentries/users/{id} (id=${viewedUser==null ? -1 : viewedUser.localId()})}
                    "
                    th:href="${viewedUser == null ? myself : other}"
                    class="text-lg font-bold mx-auto px-4 py-2 inline-block border border-blue-600 text-blue-600 rounded-full"
                    th:text="#{time-entry.pagination.today}"
                  >
                    Heutige Kalenderwoche
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    th:with="
                      myself=@{/timeentries (year=${timeEntryWeeksPage.futureYear}, week=${timeEntryWeeksPage.futureWeekOfYear})},
                      other=@{/timeentries/users/{id} (id=${viewedUser==null ? -1 : viewedUser.localId()}, year=${timeEntryWeeksPage.futureYear}, week=${timeEntryWeeksPage.futureWeekOfYear})}
                    "
                    th:href="${viewedUser == null ? myself : other}"
                    class="text-lg font-bold mx-auto px-4 py-2 inline-block border border-blue-600 text-blue-600 rounded-full"
                    th:text="#{time-entry.pagination.future}"
                  >
                    Weiter in die Zukunft
                  </a>
                </li>
              </ul>
            </noscript>
            <div hidden data-js-no-hidden class="text-center" data-turbo="true">
              <a
                id="load-more-button"
                href="#"
                th:with="
                  myself=@{/timeentries (year=${timeEntryWeeksPage.pastYear}, week=${timeEntryWeeksPage.pastWeekOfYear})},
                  other=@{/timeentries/users/{id} (id=${viewedUser==null ? -1 : viewedUser.localId()}, year=${timeEntryWeeksPage.pastYear}, week=${timeEntryWeeksPage.pastWeekOfYear})}
                "
                th:href="${viewedUser == null ? myself : other}"
                class="ajax-loader text-lg font-medium mx-auto px-4 py-2 inline-block border border-blue-600 text-blue-600 rounded-full"
                data-turbo-frame="frame-time-entry-weeks"
                th:text="#{time-entry.pagination.load-more}"
              >
                Mehr Einträge anzeigen
              </a>
            </div>
          </nav>
        </div>
      </main>
    </th:block>

    <template id="z-template-zeitslot">
      <form
        th:replace="~{timeentries/fragments/time-entry-form::timeentry-slot-form}"
      ></form>
    </template>

    <template id="z-template-zeitslot-actions-new">
      <th:block th:fragment="timeentry-slot-form-actions-new">
        <button
          type="submit"
          class="mr-4 flex items-center justify-center text-blue-700 md:rounded-full md:w-12 md:h-12 hover:md:bg-blue-100 transition-colors duration-200"
          data-testid="submit-time-entry"
        >
          <svg
            th:replace="~{icons/plus::svg(className='w-6 h-6 md:w-10 md:h-10 stroke-2 md:stroke-1')}"
          ></svg>
          <span class="ml-2 md:sr-only" th:text="#{time-entry.form.create}">
            Eintragen
          </span>
        </button>
        <span class="mr-4 md:block md:w-12" data-js-hidden></span>
        <span class="md:block md:w-12"></span>
      </th:block>
    </template>

    <template id="z-template-zeitslot-actions-existing">
      <th:block th:fragment="timeentry-slot-form-actions-existing(timeEntry)">
        <button
          type="reset"
          class="mr-4 flex items-center justify-center text-gray-500 md:text-gray-300 md:hover:text-gray-700 md:rounded-full md:w-12 md:h-12 hover:md:bg-blue-100 transition-colors duration-200"
          title="Zurücksetzen"
          th:title="#{time-entry.form.reset.tooltip}"
          data-js-hidden
        >
          <svg
            th:replace="~{icons/refresh::svg(className='w-5 h-5 md:w-6 md:h-6')}"
          ></svg>
          <span class="ml-2 md:sr-only" th:text="#{time-entry.form.reset}">
            Zurücksetzen
          </span>
        </button>
        <button
          type="submit"
          class="mr-4 flex items-center justify-center text-gray-500 md:text-gray-300 md:hover:text-gray-700 md:rounded-full md:w-12 md:h-12 hover:md:bg-blue-100 transition-colors duration-200"
          title="Speichern"
          th:title="#{time-entry.form.save.tooltip}"
          data-turbo-frame="frame-time-entry"
          data-testid="submit-time-entry"
        >
          <svg
            th:replace="~{icons/save::svg(className='w-5 h-5 md:w-6 md:h-6')}"
          ></svg>
          <span class="ml-2 md:sr-only" th:text="#{time-entry.form.save}">
            Speichern
          </span>
        </button>
        <button
          type="submit"
          name="delete"
          class="flex items-center justify-center text-gray-500 md:text-gray-300 md:hover:text-gray-700 md:rounded-full md:w-12 md:h-12 hover:md:bg-blue-100 transition-colors duration-200"
          title="Löschen"
          th:title="#{time-entry.form.delete.tooltip}"
          data-turbo-frame="frame-time-entry"
        >
          <svg
            th:replace="~{icons/trash::svg(className='w-5 h-5 md:w-6 md:h-6')}"
          ></svg>
          <span class="ml-2 md:sr-only" th:text="#{time-entry.form.delete}">
            Löschen
          </span>
        </button>
      </th:block>
    </template>
  </body>
</html>
