<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
  <head>
    <title>TimeEntry Form</title>
  </head>
  <body>
    <form
      th:fragment="timeentry-slot-form(formAction, timeEntry, actions, class)"
      is="z-time-entry-slot-form"
      action="#"
      th:action="${formAction}"
      method="post"
      data-testid="time-entry-form"
    >
      <div
        th:fragment="timeentry-slot-form-content(timeEntry, actions, class)"
        th:with="rnd=${#strings.randomAlphanumeric(6)}, disabled=${disabled ?: false}, showErrors=${showErrors ?: true}"
        class="flex flex-col-reverse md:flex-col"
        th:classappend="${class}"
        th:object="${timeEntry}"
      >
        <input type="hidden" name="id" th:value="*{id}" />
        <input type="hidden" name="userLocalId" th:value="*{userLocalId}" />
        <h4
          class="sr-only"
          th:text="${#temporals.format(timeEntry.date, 'dd. MMMM yyyy')}"
        ></h4>
        <div class="flex flex-col md:flex-row">
          <div class="flex-1 flex flex-col md:flex-row">
            <div
              is="z-time-entry-date-picker"
              class="time-entry-box__input__date flex flex-col items-center"
              data-js-class-remove="flex-col"
            >
              <input
                type="date"
                id="input-entry-date"
                th:id="|${rnd}-input-entry-date|"
                name="date"
                class="text-black"
                value="2021-11-27"
                th:value="${#temporals.format(timeEntry.date, 'yyyy-MM-dd')}"
                th:min="${minValidTimeEntryDate eq null ? null : #temporals.format(minValidTimeEntryDate, 'yyyy-MM-dd')}"
                data-iso-value="2021-11-27"
                th:data-iso-value="${#temporals.format(timeEntry.date, 'yyyy-MM-dd')}"
                data-js-hidden
                th:disabled="${disabled}"
              />
              <label
                for="input-entry-date"
                th:for="|${rnd}-input-entry-date|"
                class="w-full flex cursor-pointer"
              >
                <span
                  data-day
                  class="rounded-full w-6 h-6 p-5 flex items-center justify-center bg-timeslot-form-day text-black mr-4 font-bold"
                  th:text="${#temporals.day(timeEntry.date)}"
                >
                  21
                </span>
                <span class="flex-1 flex flex-col text-sm">
                  <span
                    data-day-text
                    class="font-semibold"
                    th:with="dayOfWeekName=${#temporals.dayOfWeekName(timeEntry.date)}"
                    th:text="${timeEntry.today ? #messages.msg('datepicker.today') + ', ' + dayOfWeekName : dayOfWeekName}"
                  >
                    Heute, Sonntag
                  </span>
                  <span
                    data-date
                    th:text="${#temporals.format(timeEntry.date, 'dd. MMMM yyyy')}"
                    class="whitespace-nowrap"
                  >
                    21. November 2021
                  </span>
                </span>
              </label>
            </div>
            <div class="time-entry-box__input__fields">
              <svg
                class="hidden md:block h-full text-timeslot-form-datepicker-background border border-timeslot-form border-l-0 border-r-0"
                width="28"
                height="76"
                viewBox="0 0 28 76"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0 76C36.4259 46.2385 36.507 29.5983 0 0V76Z"
                  fill="currentColor"
                />
              </svg>
              <div
                class="ajax-loader flex-1 border md:border-l-0 border-timeslot-form rounded-b-3xl md:rounded-b-none md:rounded-r-3xl flex items-center"
              >
                <div class="time-entry-cell-container">
                  <div class="time-entry-cell time-entry-cell__comment">
                    <input
                      type="text"
                      id="input-entry-comment"
                      th:id="|${rnd}-input-entry-comment|"
                      name="comment"
                      th:value="${timeEntry.comment}"
                      placeholder="Woran arbeitest du gerade?"
                      th:placeholder="#{time-entry.form.comment.input.placeholder}"
                      class="border border-gray-200"
                      th:disabled="${disabled}"
                      data-testid="input-time-entry-comment"
                    />
                    <label
                      for="input-entry-comment"
                      th:for="|${rnd}-input-entry-comment|"
                      th:text="#{time-entry.form.comment.label}"
                    >
                      Kommentar
                    </label>
                  </div>
                  <div class="time-entry-cell time-entry-cell__from">
                    <input
                      type="time"
                      id="input-entry-from"
                      th:id="|${rnd}-input-entry-from|"
                      name="start"
                      th:value="${timeEntry.start}"
                      placeholder="Von"
                      th:placeholder="#{time-entry.form.start.input.placeholder}"
                      class="peer border border-gray-200 invalid:border-red-600"
                      th:classappend="${showErrors && #fields.hasErrors('start') && timeEntryErrorId == timeEntry.id ? 'border-red-600' : ''}"
                      th:disabled="${disabled}"
                      data-testid="input-time-entry-start"
                    />
                    <label
                      for="input-entry-from"
                      th:for="|${rnd}-input-entry-from|"
                      class="peer-invalid:text-red-600"
                      th:classappend="${showErrors && #fields.hasErrors('start') && timeEntryErrorId == timeEntry.id ? 'text-red-600' : ''}"
                      th:text="#{time-entry.form.start.label}"
                    >
                      Von
                    </label>
                  </div>
                  <div class="time-entry-cell time-entry-cell__to">
                    <input
                      type="time"
                      id="input-entry-to"
                      th:id="|${rnd}-input-entry-to|"
                      name="end"
                      th:value="${timeEntry.end}"
                      placeholder="Bis"
                      th:placeholder="#{time-entry.form.end.input.placeholder}"
                      class="peer border border-gray-200 invalid:border-red-600"
                      th:classappend="${showErrors && #fields.hasErrors('end') && timeEntryErrorId == timeEntry.id ? 'border-red-600' : ''}"
                      th:disabled="${disabled}"
                      data-testid="input-time-entry-end"
                    />
                    <label
                      for="input-entry-to"
                      th:for="|${rnd}-input-entry-to|"
                      class="peer-invalid:text-red-600"
                      th:classappend="${showErrors && #fields.hasErrors('end') && timeEntryErrorId == timeEntry.id ? 'text-red-600' : ''}"
                      th:text="#{time-entry.form.end.label}"
                    >
                      Bis
                    </label>
                  </div>
                  <div class="time-entry-cell time-entry-cell__duration">
                    <input
                      is="z-time-entry-duration-input"
                      type="text"
                      id="input-entry-duration"
                      th:id="|${rnd}-input-entry-duration|"
                      name="duration"
                      th:value="${timeEntry.duration}"
                      placeholder="hh:mm"
                      th:placeholder="#{time-entry.form.duration.input.placeholder}"
                      class="peer border border-gray-200 invalid:border-red-600"
                      th:classappend="${showErrors && #fields.hasErrors('duration') && timeEntryErrorId == timeEntry.id ? 'border-red-600' : ''}"
                      th:disabled="${disabled}"
                      data-testid="input-time-entry-duration"
                    />
                    <label
                      for="input-entry-duration"
                      th:for="|${rnd}-input-entry-duration|"
                      class="peer-invalid:text-red-600"
                      th:classappend="${showErrors && #fields.hasErrors('duration') && timeEntryErrorId == timeEntry.id ? 'text-red-600' : ''}"
                      th:text="#{time-entry.form.duration.label}"
                    >
                      Dauer
                    </label>
                  </div>
                  <div class="time-entry-cell time-entry-cell__break">
                    <span class="checkbox-switch">
                      <input
                        type="checkbox"
                        id="input-entry-is-break"
                        th:id="|${rnd}-input-entry-is-break|"
                        name="break"
                        th:checked="${timeEntry.isBreak}"
                        class="peer mt-0.5"
                        th:disabled="${disabled}"
                        data-testid="input-time-entry-break"
                      />
                    </span>
                    <label
                      for="input-entry-is-break"
                      th:for="|${rnd}-input-entry-is-break|"
                      th:text="#{time-entry.form.is-break.label}"
                    >
                      Pause
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <th:block th:if="${actions}">
            <div class="time-entry-box__controls" th:insert="${actions}"></div>
          </th:block>
        </div>
        <div
          class="text-red-600"
          data-error-container
          xtra:strip-whitespace="deep"
        >
          <ul
            th:if="${showErrors && timeEntry.id eq timeEntryErrorId && #fields.hasGlobalErrors()}"
          >
            <li th:each="err : ${#fields.globalErrors()}" th:text="${err}">
              Etwas stimmt nicht, Jim.
            </li>
          </ul>
        </div>
      </div>
    </form>
  </body>
</html>
