<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
  </head>
  <body>
    <z-time-entry-user-search
      th:fragment="user-search"
      data-js-only
      class="block w-[320px] sm:max-w-80 time-entry-user-search"
    >
      <!-- use relative action (URL) since this form is used on different pages which all allow searching for users -->
      <form
        action=""
        method="get"
        data-turbo="true"
        data-turbo-frame="frame-users-suggestions"
        data-turbo-action="replace"
      >
        <label
          class="rounded border border-gray-300 bg-white flex items-center py-1 pl-4 pr-2 focus-within:outline-1"
        >
          <svg th:replace="~{/icons/users::svg(className='w-4 h-4')}"></svg>
          <input
            type="search"
            name="query"
            autocomplete="off"
            th:placeholder="#{timeentries.usersearch.placeholder}"
            class="text-sm placeholder:text-gray-400 border-none focus-visible:outline-0"
            data-auto-submit="time-entry-user-search-submit"
            data-auto-submit-delay="100"
          />
        </label>
        <button hidden id="time-entry-user-search-submit" type="submit">
          Suchen
        </button>
      </form>
      <div popover="manual">
        <turbo-frame id="frame-users-suggestions" refresh="morph">
          <ul
            th:if="${not #lists.isEmpty(userSearchSuggestions)}"
            class="xs:max-w-80 time-entry-user-search__list"
            data-testid="user-suggestions"
          >
            <li th:each="suggestion : ${userSearchSuggestions}">
              <a
                th:href="@{/timeentries/users/{id} (id=${suggestion.userLocalId})}"
                class="flex items-center gap-2"
                data-turbo="false"
              >
                <span class="text-blue-300">
                  <span
                    th:replace="~{fragments/avatar::avatar(${suggestion.initials},${suggestion.name},42,42)}"
                  ></span>
                </span>
                <span class="flex flex-col gap-px">
                  <span th:text="${suggestion.name}">Nice Name</span>
                  <span
                    class="text-gray-400 text-xs"
                    th:text="${suggestion.email}"
                    >email@example.org</span
                  >
                </span>
                &nbsp;
              </a>
            </li>
          </ul>
          <p
            th:if="${#lists.isEmpty(userSearchSuggestions)}"
            th:text="#{timeentries.usersearch.nothing-found}"
          >
            Nichts gefunden
          </p>
        </turbo-frame>
      </div>
    </z-time-entry-user-search>
  </body>
</html>
