<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>avatar</title>
  </head>
  <body>
    <img
      th:fragment="avatar(fullName,width,height)"
      th:with="tooltip=${#objects.nullSafe(tooltip, true)}, fallbackAvatarUrl=@{/avatar (name=${fullName})}"
      src="#"
      th:src="@{/invalid-avatar-url}"
      alt=""
      th:alt="${tooltip ? fullName : null}"
      class="rounded-full"
      th:classappend="${className}"
      th:width="${width == null ? '32px' : width}"
      th:height="${height == null ? '32px' : height}"
      th:data-fallback="${fallbackAvatarUrl}"
      is="z-avatar"
    />

    <span
      th:fragment="avatar-bordered(fullName,width,height)"
      class="bg-gradient-to-br from-blue-50 to-blue-200 rounded-full p-1 inline-flex"
    >
      <img
        src="#"
        alt=""
        th:replace="~{::avatar(${fullName},${width},${height})}"
      />
    </span>

    <a
      th:fragment="avatar-with-link(fullName,width,height,userLocalId)"
      th:href="@{/timeentries/users/{id} (id=${userLocalId})}"
      class="cursor-pointer"
    >
      <img
        src="#"
        alt=""
        th:replace="~{::avatar(${fullName},${width},${height})}"
      />
    </a>
  </body>
</html>
