<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>avatar</title>
  </head>
  <body>

    <th:block
      th:fragment="avatar(initials,fullName,width,height)"
      th:with="tooltip=${#objects.nullSafe(tooltip, true)}"
    >
      <svg th:replace="~{icons/avatar::svg(avatarText=${initials}, tooltipText=${fullName}, height=${height}, width=${width})}"></svg>
    </th:block>

    <span
      th:fragment="avatar-bordered(initials,fullName,width,height)"
      class="bg-gradient-to-br from-blue-50 to-blue-200 rounded-full p-1 inline-flex"
    >
      <img
        src="#"
        alt=""
        th:replace="~{::avatar(${initials},${fullName},${width},${height})}"
      />
    </span>
  </body>
</html>
