<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Feedback Form</title>
  </head>
  <body>
    <th:block
      th:if="${#objects.nullSafe(feedbackEnabled, false) == true}"
      th:fragment="feedback"
    >
      <button
        type="button"
        class="feedback-button"
        popovertarget="feedback-popover"
      >
        <svg th:replace="~{icons/mail::svg(className='w-6 h-6')}" />
        <span class="sr-only sm:not-sr-only" th:text="#{feedback.label}">
          Feedback
        </span>
      </button>
      <div
        id="feedback-popover"
        popover
        class="feedback-popover popover popover--backdrop-screen popover--slide-to-top"
      >
        <form
          action="#"
          th:action="@{/feedback}"
          method="post"
          class="feedback-form p-8"
        >
          <p class="text-gray-600" th:text="#{feedback.form.paragraph}">
            Beschreibe und was dir gefällt oder was dir nicht gefällt. Hat etwas
            nicht so funktioniert wie du es dir wünschst?
          </p>
          <label
            for="feedback-body"
            class="block mt-4"
            th:text="#{feedback.form.textarea.label}"
          >
            Deine Nachricht an uns
          </label>
          <textarea
            autofocus
            required
            id="feedback-body"
            name="body"
            class="mt-2 p-4 w-full border border-gray-300"
            rows="5"
          ></textarea>
          <div class="mt-4 flex items-center justify-between gap-4">
            <button type="submit" class="button-primary button-primary-icon">
              <th:block th:text="#{feedback.form.submit}">
                Feedback geben
              </th:block>
              <svg
                th:replace="~{icons/paper-airplane::svg(className='w-4 h-4 rotate-45')}"
              ></svg>
            </button>
            <button
              type="button"
              popovertarget="feedback-popover"
              popovertargetaction="hide"
              class="button-secondary"
              th:text="#{feedback.form.cancel}"
            >
              Schließen
            </button>
          </div>
        </form>
      </div>
    </th:block>
  </body>
</html>
