<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de" th:lang="${lang}">
  <head th:replace="~{_layout::head(~{::title})}">
    <title>Zeiterfassung</title>
  </head>
  <body th:replace="~{_layout::body(~{::content})}">
    <th:block th:fragment="content">
      <main class="flex-1 flex flex-col">
        <div class="mx-auto w-full max-w-screen-lg mb-16 md:mb-28">
          <h1 class="text-3xl font-medium">Stoppuhr</h1>
          <div class="mt-4" th:if="${timeClockUpdate == null}">
            <p>Die Stoppuhr läuft gerade nicht.</p>
            <form
              th:if="${timeClock == null}"
              action="#"
              th:action="@{/timeclock/start}"
              method="post"
              class="mt-4"
            >
              <button
                type="submit"
                class="button-primary pl-3 pr-4 py-1 text-lg rounded-full"
              >
                <svg
                  th:replace="~{icons/play::svg(className='w-6 h-6 mr-1.5')}"
                />
                <span th:text="#{timeclock.start}">Start</span>
              </button>
            </form>
          </div>
          <div class="mt-4" th:if="${timeClockUpdate != null}">
            <div
              th:replace="~{timeclock/timeclock-edit-form::time-clock-update}"
            ></div>
          </div>
        </div>
      </main>
    </th:block>
  </body>
</html>
