<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Navigation fragment</title>
  </head>
  <body>
    <th:block th:ref="nav">
      <div
        class="sticky top-0 z-50 bg-white border-r border-zinc-50 min-h-full lg:static"
        style="grid-area: navigation"
      >
        <div class="lg:sticky top-0 p-2">
          <div class="flex items-center justify-between lg:block">
            <div class="hidden lg:flex lg:items-center lg:gap-2">
              <div th:replace="~{launchpad/launchpad::navigation-item}"></div>
              <a
                href="/"
                class="font-logo text-xl font-medium"
                th:text="#{navigation.zeiterfassung}"
              >
                Zeiterfassung
              </a>
              <div class="ml-8 relative">
                <z-nav-popup-menu-button>
                  <a
                    href="#avatar-menu"
                    id="avatar-link"
                    aria-expanded="false"
                    aria-haspopup="true"
                    class="flex flex-row items-center"
                    data-testid="avatar"
                  >
                    <span class="inline-flex text-blue-200">
                      <img
                        th:replace="~{fragments/avatar::avatar(fullName=${signedInUser.fullName},width='52px',height='52px',className='w-10 h-10 lg:w-9 lg:h-9')}"
                        alt=""
                      />
                    </span>
                    <svg
                      th:replace="~{icons/chevron-down::svg(className='w-4 h-4')}"
                    ></svg>
                  </a>
                </z-nav-popup-menu-button>
                <div id="avatar-menu" class="nav-popup-menu xs:max-w-xs">
                  <div class="nav-popup-menu-inner">
                    <div class="nav-popup-menu-inner__header">
                      <a
                        href="/"
                        th:href="@{/}"
                        class="flex items-center gap-4 hover:no-underline focus:no-underline"
                      >
                        <span class="text-blue-200">
                          <img
                            th:replace="~{fragments/avatar::avatar(fullName=${signedInUser.fullName},width='64px',height='64px')}"
                            alt=""
                          />
                        </span>
                        <p
                          class="m-0 whitespace-nowrap overflow-hidden text-ellipsis"
                        >
                          <span
                            th:text="#{navigation.avatar-menu.signed-in-as}"
                            class="text-sm block text-gray-600"
                          ></span>
                          <span
                            class="text-lg leading-none text-gray-700 hover:text-black focus:text-black"
                            th:text="${signedInUser.fullName}"
                          >
                            Max Mustermann
                          </span>
                        </p>
                      </a>
                    </div>
                    <div class="nav-popup-menu-inner__content">
                      <ul class="list-none m-0 p-0">
                        <li>
                          <form
                            action="#"
                            th:action="@{/logout}"
                            method="POST"
                            class="ml-auto w-full"
                          >
                            <button
                              type="submit"
                              class="nav-popup-menu_link rounded-b-2xl"
                              data-testid="logout"
                            >
                              <span
                                class="px-2 py-1 rounded flex items-center ml-2.5"
                              >
                                <svg
                                  th:replace="~{icons/logout::svg(className='w-6 h-6')}"
                                ></svg>
                              </span>
                              <span
                                class="ml-4"
                                th:text="#{navigation.avatar-menu.logout}"
                              ></span>
                            </button>
                          </form>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lg:mt-8 px-1.5 flex lg:relative">
              <input id="menu-toggle-checkbox" type="checkbox" class="hidden" />
              <label for="menu-toggle-checkbox" class="z-50 flex lg:hidden">
                <span class="inline-block">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </label>
              <nav>
                <ul class="flex flex-col gap-4">
                  <li>
                    <a
                      href="#"
                      th:href="@{/timeentries}"
                      class="flex items-center main-nav-link"
                      th:aria-current="${currentRequestURI.startsWith('/timeentries') ? 'page' : 'false'}"
                    >
                      <svg th:replace="~{icons/bookmark::svg}"></svg>
                      <th:block
                        th:text="#{navigation.main.timetrack}"
                      ></th:block>
                    </a>
                  </li>
                  <li>
                    <a
                      id="main-navigation-link-reports"
                      href="#"
                      th:href="@{/report}"
                      class="flex items-center main-nav-link"
                      th:aria-current="${currentRequestURI.startsWith('/report') ? 'page' : 'false'}"
                      data-testid="navigation-link-reports"
                    >
                      <svg th:replace="~{icons/chart-pie::svg}"></svg>
                      <th:block th:text="#{navigation.main.reports}"></th:block>
                    </a>
                  </li>
                  <li th:if="${showMainNavigationPersons}">
                    <a
                      id="main-navigation-link-users"
                      href="#"
                      th:href="@{/users}"
                      class="flex items-center main-nav-link"
                      th:classappend="${currentRequestURI.startsWith('/users') ? 'current' : ''}"
                      th:aria-current="${currentRequestURI.equals('/users') ? 'page' : 'false'}"
                      data-testid="navigation-link-users"
                    >
                      <svg th:replace="~{icons/users::svg}"></svg>
                      <th:block th:text="#{navigation.main.users}"
                        >Personen</th:block
                      >
                    </a>
                  </li>
                  <li th:if="${showMainNavigationSettings}">
                    <a
                      id="main-navigation-link-settings"
                      href="#"
                      th:href="@{/settings}"
                      class="flex items-center main-nav-link"
                      th:classappend="${currentRequestURI.startsWith('/settings') ? 'current' : ''}"
                      th:aria-current="${currentRequestURI.equals('/settings') ? 'page' : 'false'}"
                      data-testid="navigation-link-settings"
                    >
                      <svg th:replace="~{icons/cog::svg}"></svg>
                      <th:block th:text="#{navigation.main.settings}"
                        >Einstellungen</th:block
                      >
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div
          class="navigation-content-spacer flex justify-between w-full lg:hidden"
        >
          <div class="navigation-content-spacer--left h-4 w-4"></div>
          <div class="navigation-content-spacer--right h-4 w-4"></div>
        </div>
      </div>
    </th:block>
  </body>
</html>
