<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Navigation fragment</title>
  </head>
  <body>
    <th:block th:ref="nav">
      <div
        class="flex items-center sticky z-40 bg-gray-100 lg:block lg:bg-white lg:border-r lg:border-zinc-50"
        style="top: var(--navigation-sticky-top); grid-area: navigation"
      >
        <div class="p-2 lg:sticky" style="top: var(--navigation-sticky-top)">
          <input id="menu-toggle-checkbox" type="checkbox" class="hidden" />
          <label for="menu-toggle-checkbox" class="z-50 flex lg:hidden">
            <span class="inline-block">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </span>
          </label>
          <div>
            <div class="flex items-center gap-2 lg:relative">
              <div th:replace="~{launchpad/launchpad::navigation-item}"></div>
              <a
                href="/"
                class="font-logo text-xl font-medium"
                th:text="#{navigation.zeiterfassung}"
              >
                Zeiterfassung
              </a>
              <div class="ml-auto lg:ml-8">
                <z-nav-popup-menu-button>
                  <a
                    href="#avatar-menu"
                    id="avatar-link"
                    aria-expanded="false"
                    aria-haspopup="true"
                    class="flex flex-row items-center"
                    data-test-id="avatar"
                  >
                    <span class="inline-flex text-blue-200">
                      <img
                        th:replace="~{fragments/avatar::avatar(fullName=${signedInUser.fullName},width='52px',height='52px',className='w-10 h-10 lg:w-9 lg:h-9')}"
                        alt=""
                      />
                    </span>
                    <svg
                      th:replace="~{icons/chevron-down::svg(className='w-4 h-4')}"
                    ></svg>
                  </a>
                </z-nav-popup-menu-button>
                <div id="avatar-menu" class="nav-popup-menu origin-top-right">
                  <div class="nav-popup-menu-inner">
                    <div class="nav-popup-menu-inner__header">
                      <a
                        href="/"
                        th:href="@{/}"
                        class="flex items-center gap-4 hover:no-underline focus:no-underline"
                      >
                        <span class="text-blue-200 lg:hidden">
                          <img
                            th:replace="~{fragments/avatar::avatar(fullName=${signedInUser.fullName},width='64px',height='64px')}"
                            alt=""
                          />
                        </span>
                        <p
                          class="m-0 whitespace-nowrap overflow-hidden text-ellipsis"
                        >
                          <span
                            th:text="#{navigation.avatar-menu.signed-in-as}"
                            class="text-sm block text-gray-600"
                          ></span>
                          <span
                            class="text-lg leading-none text-gray-700 hover:text-black focus:text-black"
                            th:text="${signedInUser.fullName}"
                          >
                            Max Mustermann
                          </span>
                        </p>
                      </a>
                    </div>
                    <div class="nav-popup-menu-inner__content">
                      <ul class="list-none m-0 p-0">
                        <li>
                          <form
                            action="#"
                            th:action="@{/logout}"
                            method="POST"
                            class="ml-auto w-full"
                          >
                            <button
                              type="submit"
                              class="nav-popup-menu_link rounded-b-2xl"
                              data-test-id="logout"
                            >
                              <span
                                class="px-2 py-1 rounded flex items-center ml-2.5"
                              >
                                <svg
                                  th:replace="~{icons/logout::svg(className='w-6 h-6')}"
                                ></svg>
                              </span>
                              <span
                                class="ml-4"
                                th:text="#{navigation.avatar-menu.logout}"
                              ></span>
                            </button>
                          </form>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <nav class="mt-8 lg:mt-12">
              <ul class="flex flex-col gap-4 lg:gap-2">
                <li>
                  <a
                    href="#"
                    th:href="@{/timeentries}"
                    class="flex items-center main-nav-link"
                    th:aria-current="${currentRequestURI.startsWith('/timeentries') ? 'page' : 'false'}"
                  >
                    <svg th:replace="~{icons/bookmark::svg}"></svg>
                    <th:block th:text="#{navigation.main.timetrack}"></th:block>
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    th:href="@{/report}"
                    class="flex items-center main-nav-link"
                    th:aria-current="${currentRequestURI.startsWith('/report') ? 'page' : 'false'}"
                  >
                    <svg th:replace="~{icons/chart-pie::svg}"></svg>
                    <th:block th:text="#{navigation.main.reports}"></th:block>
                  </a>
                </li>
                <li th:if="${showMainNavigationPersons}">
                  <a
                    id="main-navigation-link-users"
                    href="#"
                    th:href="@{/users}"
                    class="flex items-center main-nav-link"
                    th:classappend="${currentRequestURI.startsWith('/users') ? 'current' : ''}"
                    th:aria-current="${currentRequestURI.equals('/users') ? 'page' : 'false'}"
                    data-test-id="navigation-link-users"
                  >
                    <svg th:replace="~{icons/users::svg}"></svg>
                    <th:block>Personen</th:block>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="navigation-content-spacer--left h-4 w-4"></div>
      </div>
    </th:block>
  </body>
</html>
