name: Release

on:
  push:
    tags:
      - 'zeiterfassung*'

jobs:
  release:
    runs-on: ubuntu-20.04
    env:
      MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version"
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Cache pom dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: >
          ./mvnw $MAVEN_CLI_OPTS
          -Pcoverage
          clean verify
      - name: Extract release tag
        id: vars
        run: echo "version=${GITHUB_REF#refs/*/zeiterfassung-}" >> $GITHUB_OUTPUT
      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Release Zeiterfassung ${{ steps.vars.outputs.version }}
          body_path: .chglog/${{ steps.vars.outputs.version }}.md
          files: |
              ./target/zeiterfassung-*.jar
      - name: Publish docker image to Docker Hub zeiterfassung
        run: >
          ./mvnw $MAVEN_CLI_OPTS
          spring-boot:build-image
          -Dspring-boot.build-image.publish=true
          -Ddocker-publish-registry=registry.hub.docker.com
          -Ddocker-publish-registry-path=${{ github.repository }}
          -Ddocker-publish-registry-username=${{ secrets.DOCKER_ZE_USERNAME }}
          -Ddocker-publish-registry-password=${{ secrets.DOCKER_ZE_TOKEN }}
      - name: Publish docker image to GitHub Container Registry
        run: >
          ./mvnw $MAVEN_CLI_OPTS
          spring-boot:build-image
          -Dspring-boot.build-image.publish=true
          -Ddocker-publish-registry=ghcr.io
          -Ddocker-publish-registry-path=${{ github.repository }}
          -Ddocker-publish-registry-username=${{ github.actor }}
          -Ddocker-publish-registry-password=${{ secrets.GITHUB_TOKEN }}
